<template>
  <div class="message-packages">
    <ul class="tabs pt-lg-5 pt-md-5 pt-sm-3 pt-3" v-if="$gate.isInfluencer()">
      <li>
        <router-link to="/connection">Connections</router-link>
      </li>
      <!-- <li>
        <router-link to="/transactions">Transactions</router-link>
      </li>-->

      <li>
        <router-link to="/billing">Billing</router-link>
      </li>

      <li>
        <router-link to="/profile">Profile</router-link>
      </li>
      <li>
        <router-link to="/package">Packages</router-link>
      </li>

      <!-- <li>
        <router-link to="/blocked-user">Blocked Users</router-link>
      </li>-->

      <!-- <li>
        <router-link to="/reported-user">Reported Users</router-link>
      </li>-->
      <li>
        <router-link to="/payout">Payout</router-link>
      </li>
    </ul>

    <ul class="tabs pt-lg-5 pt-md-5 pt-sm-3 pt-3" v-if="!$gate.isInfluencer()">
      <li>
        <router-link to="/connection">Connections</router-link>
      </li>
      <!-- <li>
        <router-link to="/transactions">Transactions</router-link>
      </li>-->
      <li>
        <router-link to="/billing">Billing</router-link>
      </li>
      <li>
        <router-link to="/profile">Profile</router-link>
      </li>
    </ul>
  </div>
</template>
