<template>
  <div class="menu-list">
    <ul v-if="$gate.isInfluencer()">
      <li>
          
        <router-link to="/connection">Connections</router-link>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve" width="16px" height="16px" class=""><g><circle style="fill:#363636" cx="254" cy="254" r="254" data-original="#324A5E" class="active-path" data-old_color="#555353"/><g>
            <path style="fill:#FFFFFF;" d="M444.4,310c-22,21.2-53.6,34.4-88.8,34.4s-67.2-13.2-88.8-34.4l0,0c3.6-11.6,12-21.2,22.8-26.4   l34.4-16.4c1.2-4.4,6-10.4,6.4-10.4c-2.4-3.6-4.4-8-6.4-12.4c-2.8,0-5.6-2.4-7.2-5.6c-1.6-3.2-1.6-7.2,0-9.2   c-5.6-14.4-9.2-36.4,8.8-52.8l-8.8,2c0,0,10.8-20,32.4-12.8c0,0-2-3.2-8.8-5.2c0,0,9.6-4,15.2,2.4c0,0,3.2-2.8,0-5.2   c0,0,16.8,0.4,31.6,14.4c19.6,18.4,14.8,42.4,8,58.4c0.8,2,0.4,5.2-0.8,7.6c-1.6,2.8-4,4.8-6.4,5.6c-1.2,2-5.6,9.6-7.2,12.4   c0.4,0,5.6,6.4,6.4,10.8l34.4,16.4C432.4,288.8,440.4,298.4,444.4,310L444.4,310z" data-original="#FFFFFF" class=""/>
            <path style="fill:#FFFFFF;" d="M241.6,310c-22,21.2-53.6,34.4-88.8,34.4S85.6,331.2,64,310l0,0c3.6-11.6,12-21.2,22.8-26.4   l34.4-16.4c1.2-4.4,6-10.4,6.4-10.4c-2.4-3.6-4.4-8-6.4-12.4c-2.8,0-5.6-2.4-7.2-5.6c-1.6-3.2-1.6-7.2,0-9.2   c-5.6-14.4-9.2-36.4,8.8-52.8l-8.8,1.6c0,0,10.8-20,32.4-12.8c0,0-2-3.2-8.8-5.2c0,0,9.6-4,15.2,2.4c0,0,3.2-2.8,0-5.2   c0,0,16.8,0.4,31.6,14.4c19.6,18.4,14.8,42.4,8,58.4c0.8,2,0.4,5.2-0.8,7.6c-1.6,2.8-4,4.8-6.4,5.6c-1.2,2-5.6,9.6-7.2,12.4   c0.4,0,5.6,6.4,6.4,10.8l34.4,16.4C229.6,288.8,238,298.4,241.6,310L241.6,310z" data-original="#FFFFFF" class=""/>
        </g><path style="fill:#F5F6F6" d="M361.6,122.8c-0.4,0.4-0.4,0.8-0.8,0.8c-0.8,0.8-2,1.2-3.2,1.6l-25.6,4.4c-3.2,0.4-6.4-1.6-7.2-4.8  c-0.4-3.2,1.6-6.4,4.8-7.2l11.2-2c-63.2-41.2-146-34.8-202.4,17.6c-4,3.6-7.6,7.6-11.2,11.6c-1.2,1.2-2.8,2-4.4,2l0,0  c-5.2,0-8-6.4-4.4-10.4c4-4.4,8-8.4,12-12.4C161.6,95.2,202,78.4,244,76.8c36.8-1.6,72.8,8.8,103.2,28.4l-1.2-10  c-0.4-3.2,1.6-6.4,4.8-7.2c3.2-0.8,6.4,1.6,7.2,4.8l4.8,25.2C362.8,119.6,362.4,121.6,361.6,122.8z" data-original="#84DBFF" class="" data-old_color="#F3F4F4"/><path style="fill:#F8F6F6" d="M379.2,361.6c5.2,0,8,6.4,4.4,10.4s-7.6,8-11.6,12c-31.2,28.8-71.6,45.6-113.6,47.2  c-37.6,1.6-74.4-9.2-105.6-30l2,10c0.4,2-0.4,4.4-2,5.6c-0.8,0.8-2,1.2-3.2,1.6c-3.2,0.4-6.4-1.6-7.2-4.8l-4.4-24.8  c-0.4-1.6,0-3.2,0.8-4.8c0.8-1.2,2.4-2.4,4-2.4l25.6-4.4c3.2-0.4,6.4,1.6,7.2,4.8c0.4,3.2-1.6,6.4-4.8,7.2l-11.2,2  c63.2,42.8,147.2,36.4,204-16.4c4-3.6,7.6-7.2,10.8-11.2C376,362.4,377.6,361.6,379.2,361.6L379.2,361.6z" data-original="#FF7058" class="" data-old_color="#F3EFEF"/></g> </svg>

      </li>

      <li>
          
        <router-link to="/billing">Billing</router-link>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32.001 32.001" style="enable-background:new 0 0 32.001 32.001;" xml:space="preserve" width="16px" height="16px"><g><g>
            <g id="banknote">
                <path d="M31.415,10.586l-10-10C20.919,0.09,20.2-0.109,19.519,0.059c-0.359,0.088-0.68,0.273-0.934,0.527    c-0.227,0.227-0.398,0.508-0.496,0.822c-0.453,1.469-1.236,2.746-2.395,3.904C14.146,6.859,12.13,8.031,9.997,9.27    c-2.264,1.312-4.603,2.672-6.52,4.588c-1.629,1.631-2.738,3.445-3.388,5.551c-0.219,0.711-0.028,1.48,0.496,2.006l10,10    c0.496,0.496,1.215,0.695,1.896,0.527c0.359-0.09,0.68-0.273,0.934-0.527c0.227-0.227,0.398-0.508,0.496-0.824    c0.454-1.469,1.237-2.746,2.397-3.904c1.547-1.547,3.562-2.717,5.697-3.955c2.262-1.314,4.602-2.674,6.518-4.59    c1.629-1.629,2.738-3.445,3.389-5.551C32.13,11.881,31.938,11.109,31.415,10.586z M12,30c-3.312-3.312-6.688-6.689-10-10    c2.842-9.201,15.16-8.799,18-18c3.312,3.311,6.689,6.688,10.002,10C27.159,21.199,14.841,20.799,12,30z" data-original="#010002" class="active-path" fill="#010002"/>
                <path d="M19.562,14.9c-0.326-0.273-0.654-0.459-0.984-0.551c-0.328-0.092-0.656-0.129-0.988-0.105    c-0.328,0.025-0.664,0.1-1,0.229c-0.336,0.131-0.674,0.273-1.014,0.438c-0.537-0.617-1.074-1.227-1.611-1.793    c0.242-0.219,0.477-0.33,0.703-0.338c0.227-0.01,0.445,0.014,0.652,0.066c0.211,0.053,0.404,0.098,0.582,0.133    c0.18,0.035,0.336-0.004,0.473-0.119c0.145-0.125,0.225-0.287,0.236-0.482c0.01-0.197-0.064-0.389-0.229-0.576    c-0.211-0.242-0.465-0.389-0.77-0.443c-0.301-0.053-0.609-0.049-0.93,0.021c-0.316,0.072-0.617,0.191-0.902,0.359    s-0.514,0.34-0.684,0.508c-0.065-0.062-0.13-0.123-0.195-0.184c-0.072-0.066-0.162-0.102-0.27-0.1    c-0.109,0-0.199,0.047-0.273,0.133c-0.072,0.084-0.105,0.182-0.092,0.285c0.01,0.107,0.053,0.189,0.127,0.252    c0.065,0.055,0.13,0.109,0.195,0.166c-0.256,0.309-0.467,0.65-0.633,1.01c-0.168,0.361-0.268,0.719-0.305,1.066    c-0.039,0.35-0.002,0.67,0.105,0.967c0.107,0.299,0.305,0.553,0.594,0.793c0.471,0.391,1.025,0.557,1.668,0.52    c0.641-0.039,1.332-0.23,2.075-0.629c0.59,0.682,1.182,1.359,1.773,1.988c-0.25,0.211-0.469,0.332-0.662,0.371    c-0.193,0.041-0.365,0.037-0.521-0.01c-0.156-0.049-0.301-0.119-0.434-0.209c-0.133-0.092-0.264-0.17-0.395-0.234    c-0.129-0.064-0.262-0.1-0.398-0.102s-0.281,0.064-0.441,0.201c-0.164,0.143-0.246,0.309-0.246,0.496    c0,0.186,0.086,0.375,0.254,0.566c0.17,0.191,0.391,0.352,0.658,0.479s0.569,0.207,0.901,0.229    c0.332,0.023,0.682-0.027,1.051-0.164c0.371-0.135,0.738-0.379,1.1-0.742c0.174,0.17,0.35,0.332,0.525,0.488    c0.074,0.064,0.164,0.096,0.273,0.088c0.105-0.004,0.197-0.053,0.27-0.141c0.074-0.09,0.105-0.189,0.094-0.293    c-0.01-0.105-0.053-0.186-0.125-0.244c-0.176-0.141-0.352-0.289-0.527-0.445c0.299-0.367,0.539-0.754,0.717-1.137    c0.178-0.385,0.283-0.756,0.318-1.1c0.035-0.346-0.006-0.658-0.119-0.941C20.046,15.383,19.847,15.137,19.562,14.9z     M13.971,15.578c-0.283,0.012-0.53-0.082-0.746-0.291c-0.092-0.088-0.156-0.195-0.195-0.322c-0.041-0.127-0.055-0.266-0.039-0.418    c0.014-0.15,0.059-0.307,0.137-0.465c0.074-0.158,0.184-0.316,0.324-0.469c0.507,0.504,1.013,1.057,1.52,1.629    C14.588,15.453,14.254,15.566,13.971,15.578z M18.688,17.58c-0.09,0.166-0.193,0.314-0.314,0.443    c-0.561-0.566-1.121-1.188-1.68-1.826c0.143-0.064,0.293-0.131,0.455-0.199s0.324-0.113,0.486-0.141    c0.166-0.025,0.33-0.018,0.494,0.021c0.162,0.041,0.316,0.129,0.459,0.268c0.141,0.141,0.23,0.287,0.266,0.445    c0.039,0.16,0.041,0.322,0.014,0.488C18.839,17.246,18.78,17.412,18.688,17.58z" data-original="#010002" class="active-path" fill="#010002"/>
                <path d="M14.717,22.18h-0.002c-0.625,0.48-1.235,0.986-1.8,1.553c-0.543,0.543-1.034,1.115-1.461,1.699    l-0.684,0.934l0.002,0.002c-0.125,0.195-0.104,0.457,0.066,0.627c0.195,0.195,0.514,0.195,0.71,0    c0.03-0.031,0.054-0.064,0.074-0.1l0.639-0.875c0.396-0.541,0.854-1.074,1.361-1.58c0.561-0.561,1.081-0.994,1.714-1.475    l-0.002-0.002c0.018-0.014,0.035-0.025,0.051-0.041c0.196-0.195,0.196-0.514,0-0.709C15.204,22.029,14.914,22.021,14.717,22.18z" data-original="#010002" class="active-path" fill="#010002"/>
                <path d="M18.378,7.715c-0.523,0.523-1.09,0.994-1.678,1.443c-0.041,0.023-0.082,0.049-0.117,0.086    c-0.197,0.197-0.197,0.518,0,0.715c0.191,0.193,0.5,0.197,0.699,0.014l0.004,0.002c0.625-0.48,1.234-0.988,1.799-1.553    c0.543-0.543,1.033-1.113,1.461-1.697l0.684-0.938l-0.002-0.002c0.17-0.199,0.162-0.496-0.025-0.684    c-0.197-0.197-0.516-0.197-0.713,0c-0.037,0.037-0.064,0.08-0.088,0.123l-0.664,0.91C19.341,6.678,18.884,7.209,18.378,7.715z" data-original="#010002" class="active-path" fill="#010002"/>
            </g>
        </g></g> </svg>
      </li>

      <li>
        <router-link to="/profile">Profile</router-link>
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve" width="16px" height="16px" class=""><g><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752  c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348  c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98  c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033  c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55  c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287  c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104  c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1  c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764  l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5  c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957  c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545  c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8  s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545  c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313  c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z" data-original="#000000" class="active-path" fill="#000000"/></g> </svg>
       
      </li>
      <li>
        <router-link to="/package">Packages</router-link>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="16px" height="16px"><g><g>
            <g>
                <path d="M500.047,343.814l-88.038-88.038c-7.266-7.265-16.925-11.271-27.2-11.279c-0.438,0-0.878-0.001-1.316-0.001v-21.11    c5.021-2.428,8.5-7.558,8.5-13.498v-60c0-8.271-6.729-15-15-15h-75.414v-40.66c0-9.941-5.14-18.845-13.75-23.815    c-8.609-4.971-18.891-4.971-27.5,0l-50.291,29.036c-9.02-3.638-19.052-3.645-28.083,0l-50.291-29.036    c-8.608-4.971-18.89-4.973-27.5,0c-8.609,4.971-13.75,13.874-13.75,23.815v40.659H15c-8.271,0-15,6.729-15,15v60    c0,8.271,6.729,15,15,15h135.996v195H31c-4.13-0.01-7.49-3.37-7.5-7.5v-165c0-4.13-3.36-7.5-7.5-7.5c-4.13,0-7.49,3.359-7.5,7.479    c0,0.011,0,0.011,0,0.021v165c0,6.01,2.34,11.66,6.59,15.91s9.9,6.59,15.91,6.59h122.025c2.598,4.476,7.433,7.5,12.971,7.5h60    c5.538,0,10.372-3.024,12.971-7.5h122.025c12.406,0,22.5-10.094,22.5-22.5v-6.029l27.005,27.004    c7.709,7.708,17.958,11.954,28.859,11.954s21.15-4.246,28.859-11.954l31.831-31.831c7.708-7.709,11.953-17.957,11.953-28.858    C512,361.771,507.755,351.523,500.047,343.814z M376.992,149.886v60H240.996v-60H376.992z M368.492,224.886v19.589    c-8.734-0.011-16.563-0.024-21.667-0.012c-6.147,0.014-12.125,1.699-17.465,4.836c-4.416-7.444-7.216-15.727-8.245-24.413H368.492    z M185.208,114.469c6.878-3.784,15.09-3.564,21.585,0.002c5.152,2.828,8.911,7.492,10.642,12.915H174.58    C176.333,121.985,180.11,117.273,185.208,114.469z M150.996,209.886H15v-60h135.996V209.886z M160.811,121.243l-29.147-16.828    c-3.587-2.072-8.174-0.843-10.245,2.745c-2.071,3.587-0.842,8.174,2.745,10.245l29.23,16.876c-0.128,0.199-0.25,0.401-0.369,0.606    h-47.611V94.227c0-4.519,2.337-8.565,6.25-10.825c3.914-2.26,8.586-2.26,12.5,0l44.17,25.502    C165.037,112.498,162.489,116.687,160.811,121.243z M225.996,142.386v67.5H187.99c-4.131,0-7.5,3.359-7.5,7.5    c0,4.14,3.369,7.5,7.5,7.5h38.006v202.5h-60l0.004-285h59.979C225.985,142.386,225.99,142.386,225.996,142.386    C225.996,142.386,225.996,142.386,225.996,142.386z M238.966,134.886c-0.119-0.205-0.24-0.407-0.369-0.606l29.231-16.876    c3.587-2.071,4.816-6.658,2.745-10.245c-2.071-3.588-6.658-4.816-10.245-2.745l-29.162,16.837    c-1.682-4.558-4.229-8.753-7.513-12.344l44.175-25.505c3.914-2.26,8.588-2.26,12.5,0c3.914,2.26,6.25,6.307,6.25,10.825v40.659    H238.966z M360.992,419.887H240.996v-195h65.019c1.184,12.443,5.32,24.254,12.044,34.633c-4.467,6.079-6.894,13.228-6.912,20.621    c0,0.001,0.032,0.001,0.032,0.002c-0.019,8.33-0.01,24.427,0,37.981c0.009,10.274,4.015,19.935,11.279,27.201l46.033,46.033    v21.029h0.001C368.492,416.522,365.128,419.887,360.992,419.887z M489.439,390.924l-31.831,31.831    c-4.875,4.876-11.357,7.562-18.252,7.562s-13.377-2.686-18.252-7.562L381.3,382.951c-0.003-0.002-0.006-0.005-0.008-0.008    l-48.225-48.224c-4.436-4.437-6.914-10.334-6.919-16.606c-0.01-13.602-0.019-29.629,0-37.935c0.007-2.833,0.675-5.62,1.901-8.225    c0.126,0.127,0.242,0.261,0.369,0.387l9.731,9.731c1.465,1.464,3.385,2.196,5.304,2.196c1.919,0,3.839-0.732,5.304-2.196    c2.929-2.93,2.929-7.678,0-10.607l-9.731-9.731c-0.124-0.124-0.239-0.255-0.362-0.38c2.598-1.218,5.375-1.882,8.197-1.888    c7.437-0.019,27.901,0.025,37.938,0.032c6.272,0.005,12.169,2.451,16.604,6.887l88.038,88.038    c4.875,4.875,7.561,11.356,7.561,18.252C497,379.568,494.314,386.049,489.439,390.924z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g></g> </svg>
      </li>

      <!-- <li>
        <router-link to="/blocked-user">Blocked Users</router-link>
      </li>-->

      <!-- <li>
        <router-link to="/reported-user">Reported Users</router-link>
      </li>-->
      <li>
        <router-link to="/payout">Payout</router-link>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16px" height="16px" class=""><g><g>
            <g>
                <path d="M235.268,138.472c-23.441,0-42.511,19.071-42.511,42.513v30.008c0,23.44,19.071,42.511,42.511,42.511    c23.441,0,42.512-19.07,42.512-42.511v-30.008C277.78,157.543,258.709,138.472,235.268,138.472z M235.268,238.5    c-14.336,0-26.139-11.026-27.391-25.039c7.404,6.255,16.962,10.036,27.391,10.036s19.987-3.781,27.392-10.037    C261.408,227.474,249.605,238.5,235.268,238.5z M235.268,208.492c-15.168,0-27.507-12.34-27.507-27.507    c0-15.169,12.34-27.509,27.507-27.509c15.168,0,27.508,12.34,27.508,27.509C262.776,196.152,250.436,208.492,235.268,208.492z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g><g>
            <g>
                <path d="M235.268,163.481c-4.143,0-7.502,3.358-7.502,7.502v20.005c0,4.143,3.359,7.502,7.502,7.502s7.502-3.358,7.502-7.502    v-20.005C242.77,166.838,239.411,163.481,235.268,163.481z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g><g>
            <g>
                <path d="M370.304,48.449c-37.231,0-67.519,30.288-67.519,67.517v29.988c0,0.007-0.001,0.013-0.001,0.02    c0,37.229,30.289,67.517,67.518,67.517c37.188,0,67.447-30.223,67.513-67.396c0-0.04,0.006-0.079,0.006-0.119v-30.01    C437.821,78.737,407.533,48.449,370.304,48.449z M370.302,198.488c-23.773,0-43.895-15.884-50.342-37.592    c12.374,13.851,30.354,22.59,50.344,22.59c19.986,0,37.964-8.736,50.336-22.583C414.192,182.607,394.072,198.488,370.302,198.488z     M370.304,168.482c-28.957,0-52.515-23.559-52.515-52.515s23.559-52.513,52.515-52.513s52.513,23.558,52.513,52.513    C422.817,144.923,399.26,168.482,370.304,168.482z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g><g>
            <g>
                <path d="M370.308,88.459L370.308,88.459c-4.144,0-7.502,3.357-7.503,7.5l-0.008,40.015c0,4.142,3.358,7.502,7.501,7.503h0.001    c4.143,0,7.501-3.358,7.502-7.5l0.008-40.015C377.81,91.819,374.451,88.46,370.308,88.459z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g><g>
            <g>
                <path d="M507.68,302.31c-10.294-17.823-33.128-24.008-51.007-13.861c-3.25,1.602-44.752,21.998-78.956,36.391    c-3.819,1.607-5.611,6.006-4.005,9.825s6.004,5.61,9.825,4.005c35.859-15.09,79.548-36.652,79.985-36.868    c0.143-0.071,0.284-0.146,0.422-0.225c10.749-6.197,24.541-2.504,30.745,8.24c7.184,12.425-4.034,26.067-9.525,31.639    c-37.245,30.045-140.311,107.091-174.953,107.091c-38.398,0-146.149-22.827-172.5-28.537V297.471    c52.248-7.677,79.928,1.952,137.933,22.166c17.646,6.149,37.637,13.114,61.935,20.883c3.622,1.578,13.671,7.234,9.841,20.019    c-2.328,7.772-9.833,15.193-20.824,13.136c-14.769-2.772-101.685-14.561-105.378-15.061c-4.104-0.56-7.885,2.321-8.441,6.427    c-0.556,4.106,2.321,7.885,6.427,8.441c0.9,0.122,90.228,12.237,104.626,14.94c2.235,0.419,4.404,0.617,6.501,0.617    c15.927,0,27.64-11.431,31.464-24.194c4.023-13.431-0.158-30.433-18.535-38.213c-0.026-0.012-0.053-0.024-0.08-0.035    c-0.023-0.01-0.045-0.021-0.069-0.031c-0.101-0.042-0.204-0.072-0.306-0.11c-0.104-0.038-0.203-0.082-0.31-0.116    c-24.271-7.753-44.268-14.722-61.912-20.87c-57.846-20.157-88.331-30.762-142.871-23.149v-6.272c0-4.144-3.359-7.502-7.502-7.502    H107.71v-7.498c0-4.144-3.359-7.502-7.502-7.502H7.502c-4.143,0-7.502,3.358-7.502,7.502v164.991c0,4.144,3.359,7.502,7.502,7.502    c4.143,0,7.502-3.358,7.502-7.502V268.55h77.702v179.997H77.711v-7.498c0-4.144-3.359-7.502-7.502-7.502s-7.502,3.358-7.502,7.502    v7.498H7.502c-4.143,0-7.502,3.358-7.502,7.502s3.359,7.502,7.502,7.502h92.706c4.143,0,7.502-3.358,7.502-7.502v-7.879h22.499    c4.143,0,7.502-3.358,7.502-7.502v-5.301c31.388,6.782,133.544,28.184,172.5,28.184c20.502,0,56.856-18.267,111.137-55.841    c39.147-27.099,73.223-54.566,73.562-54.84c0.208-0.168,0.406-0.347,0.594-0.535C511.803,336.016,516.354,317.314,507.68,302.31z     M122.706,425.925c0,0.007,0,0.014,0,0.02v7.223H107.71v-0.001V283.55h14.997V425.925z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g></g> </svg>
      </li>
      <li>
          
          <a class="" href="/logout">Sign Out</a>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16px" height="16px" class=""><g><g>
            <g>
                <path d="M505.664,243.739l-54.783-38.622c-9.926-6.997-23.645,0.128-23.645,12.26v23.622H164.196    c-8.284,0-15.001,6.716-15.001,15.001S155.912,271,164.196,271h263.038v23.621c0,12.212,13.792,19.204,23.644,12.26l54.783-38.622    C514.027,262.365,514.196,249.767,505.664,243.739z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g><g>
            <g>
                <path d="M430.471,352.317c-7.169-4.146-16.347-1.698-20.496,5.474c-35.236,60.916-101.103,101.811-176.372,101.811    c-112.266,0-203.602-91.336-203.602-203.602S121.337,52.398,233.603,52.398c75.319,0,141.156,40.933,176.371,101.809    c4.148,7.172,13.328,9.619,20.496,5.474c7.171-4.148,9.621-13.325,5.474-20.496C395.418,69.127,319.729,22.397,233.603,22.397    C104.49,22.397,0,126.876,0,256c0,129.113,104.479,233.603,233.603,233.603c86.163,0,161.833-46.763,202.342-116.79    C440.092,365.642,437.642,356.466,430.471,352.317z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g></g> </svg>
        
        </li>
    </ul>

    <ul class="menu" v-if="!$gate.isInfluencer()">
      <li>
          
        <router-link to="/connection">Connections</router-link>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve" width="16px" height="16px" class=""><g><circle style="fill:#363636" cx="254" cy="254" r="254" data-original="#324A5E" class="active-path" data-old_color="#555353"/><g>
            <path style="fill:#FFFFFF;" d="M444.4,310c-22,21.2-53.6,34.4-88.8,34.4s-67.2-13.2-88.8-34.4l0,0c3.6-11.6,12-21.2,22.8-26.4   l34.4-16.4c1.2-4.4,6-10.4,6.4-10.4c-2.4-3.6-4.4-8-6.4-12.4c-2.8,0-5.6-2.4-7.2-5.6c-1.6-3.2-1.6-7.2,0-9.2   c-5.6-14.4-9.2-36.4,8.8-52.8l-8.8,2c0,0,10.8-20,32.4-12.8c0,0-2-3.2-8.8-5.2c0,0,9.6-4,15.2,2.4c0,0,3.2-2.8,0-5.2   c0,0,16.8,0.4,31.6,14.4c19.6,18.4,14.8,42.4,8,58.4c0.8,2,0.4,5.2-0.8,7.6c-1.6,2.8-4,4.8-6.4,5.6c-1.2,2-5.6,9.6-7.2,12.4   c0.4,0,5.6,6.4,6.4,10.8l34.4,16.4C432.4,288.8,440.4,298.4,444.4,310L444.4,310z" data-original="#FFFFFF" class=""/>
            <path style="fill:#FFFFFF;" d="M241.6,310c-22,21.2-53.6,34.4-88.8,34.4S85.6,331.2,64,310l0,0c3.6-11.6,12-21.2,22.8-26.4   l34.4-16.4c1.2-4.4,6-10.4,6.4-10.4c-2.4-3.6-4.4-8-6.4-12.4c-2.8,0-5.6-2.4-7.2-5.6c-1.6-3.2-1.6-7.2,0-9.2   c-5.6-14.4-9.2-36.4,8.8-52.8l-8.8,1.6c0,0,10.8-20,32.4-12.8c0,0-2-3.2-8.8-5.2c0,0,9.6-4,15.2,2.4c0,0,3.2-2.8,0-5.2   c0,0,16.8,0.4,31.6,14.4c19.6,18.4,14.8,42.4,8,58.4c0.8,2,0.4,5.2-0.8,7.6c-1.6,2.8-4,4.8-6.4,5.6c-1.2,2-5.6,9.6-7.2,12.4   c0.4,0,5.6,6.4,6.4,10.8l34.4,16.4C229.6,288.8,238,298.4,241.6,310L241.6,310z" data-original="#FFFFFF" class=""/>
        </g><path style="fill:#F5F6F6" d="M361.6,122.8c-0.4,0.4-0.4,0.8-0.8,0.8c-0.8,0.8-2,1.2-3.2,1.6l-25.6,4.4c-3.2,0.4-6.4-1.6-7.2-4.8  c-0.4-3.2,1.6-6.4,4.8-7.2l11.2-2c-63.2-41.2-146-34.8-202.4,17.6c-4,3.6-7.6,7.6-11.2,11.6c-1.2,1.2-2.8,2-4.4,2l0,0  c-5.2,0-8-6.4-4.4-10.4c4-4.4,8-8.4,12-12.4C161.6,95.2,202,78.4,244,76.8c36.8-1.6,72.8,8.8,103.2,28.4l-1.2-10  c-0.4-3.2,1.6-6.4,4.8-7.2c3.2-0.8,6.4,1.6,7.2,4.8l4.8,25.2C362.8,119.6,362.4,121.6,361.6,122.8z" data-original="#84DBFF" class="" data-old_color="#F3F4F4"/><path style="fill:#F8F6F6" d="M379.2,361.6c5.2,0,8,6.4,4.4,10.4s-7.6,8-11.6,12c-31.2,28.8-71.6,45.6-113.6,47.2  c-37.6,1.6-74.4-9.2-105.6-30l2,10c0.4,2-0.4,4.4-2,5.6c-0.8,0.8-2,1.2-3.2,1.6c-3.2,0.4-6.4-1.6-7.2-4.8l-4.4-24.8  c-0.4-1.6,0-3.2,0.8-4.8c0.8-1.2,2.4-2.4,4-2.4l25.6-4.4c3.2-0.4,6.4,1.6,7.2,4.8c0.4,3.2-1.6,6.4-4.8,7.2l-11.2,2  c63.2,42.8,147.2,36.4,204-16.4c4-3.6,7.6-7.2,10.8-11.2C376,362.4,377.6,361.6,379.2,361.6L379.2,361.6z" data-original="#FF7058" class="" data-old_color="#F3EFEF"/></g> </svg>

      </li>
      
      <li>
          
        <router-link to="/billing">Billing</router-link>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32.001 32.001" style="enable-background:new 0 0 32.001 32.001;" xml:space="preserve" width="16px" height="16px"><g><g>
            <g id="banknote">
                <path d="M31.415,10.586l-10-10C20.919,0.09,20.2-0.109,19.519,0.059c-0.359,0.088-0.68,0.273-0.934,0.527    c-0.227,0.227-0.398,0.508-0.496,0.822c-0.453,1.469-1.236,2.746-2.395,3.904C14.146,6.859,12.13,8.031,9.997,9.27    c-2.264,1.312-4.603,2.672-6.52,4.588c-1.629,1.631-2.738,3.445-3.388,5.551c-0.219,0.711-0.028,1.48,0.496,2.006l10,10    c0.496,0.496,1.215,0.695,1.896,0.527c0.359-0.09,0.68-0.273,0.934-0.527c0.227-0.227,0.398-0.508,0.496-0.824    c0.454-1.469,1.237-2.746,2.397-3.904c1.547-1.547,3.562-2.717,5.697-3.955c2.262-1.314,4.602-2.674,6.518-4.59    c1.629-1.629,2.738-3.445,3.389-5.551C32.13,11.881,31.938,11.109,31.415,10.586z M12,30c-3.312-3.312-6.688-6.689-10-10    c2.842-9.201,15.16-8.799,18-18c3.312,3.311,6.689,6.688,10.002,10C27.159,21.199,14.841,20.799,12,30z" data-original="#010002" class="active-path" fill="#010002"/>
                <path d="M19.562,14.9c-0.326-0.273-0.654-0.459-0.984-0.551c-0.328-0.092-0.656-0.129-0.988-0.105    c-0.328,0.025-0.664,0.1-1,0.229c-0.336,0.131-0.674,0.273-1.014,0.438c-0.537-0.617-1.074-1.227-1.611-1.793    c0.242-0.219,0.477-0.33,0.703-0.338c0.227-0.01,0.445,0.014,0.652,0.066c0.211,0.053,0.404,0.098,0.582,0.133    c0.18,0.035,0.336-0.004,0.473-0.119c0.145-0.125,0.225-0.287,0.236-0.482c0.01-0.197-0.064-0.389-0.229-0.576    c-0.211-0.242-0.465-0.389-0.77-0.443c-0.301-0.053-0.609-0.049-0.93,0.021c-0.316,0.072-0.617,0.191-0.902,0.359    s-0.514,0.34-0.684,0.508c-0.065-0.062-0.13-0.123-0.195-0.184c-0.072-0.066-0.162-0.102-0.27-0.1    c-0.109,0-0.199,0.047-0.273,0.133c-0.072,0.084-0.105,0.182-0.092,0.285c0.01,0.107,0.053,0.189,0.127,0.252    c0.065,0.055,0.13,0.109,0.195,0.166c-0.256,0.309-0.467,0.65-0.633,1.01c-0.168,0.361-0.268,0.719-0.305,1.066    c-0.039,0.35-0.002,0.67,0.105,0.967c0.107,0.299,0.305,0.553,0.594,0.793c0.471,0.391,1.025,0.557,1.668,0.52    c0.641-0.039,1.332-0.23,2.075-0.629c0.59,0.682,1.182,1.359,1.773,1.988c-0.25,0.211-0.469,0.332-0.662,0.371    c-0.193,0.041-0.365,0.037-0.521-0.01c-0.156-0.049-0.301-0.119-0.434-0.209c-0.133-0.092-0.264-0.17-0.395-0.234    c-0.129-0.064-0.262-0.1-0.398-0.102s-0.281,0.064-0.441,0.201c-0.164,0.143-0.246,0.309-0.246,0.496    c0,0.186,0.086,0.375,0.254,0.566c0.17,0.191,0.391,0.352,0.658,0.479s0.569,0.207,0.901,0.229    c0.332,0.023,0.682-0.027,1.051-0.164c0.371-0.135,0.738-0.379,1.1-0.742c0.174,0.17,0.35,0.332,0.525,0.488    c0.074,0.064,0.164,0.096,0.273,0.088c0.105-0.004,0.197-0.053,0.27-0.141c0.074-0.09,0.105-0.189,0.094-0.293    c-0.01-0.105-0.053-0.186-0.125-0.244c-0.176-0.141-0.352-0.289-0.527-0.445c0.299-0.367,0.539-0.754,0.717-1.137    c0.178-0.385,0.283-0.756,0.318-1.1c0.035-0.346-0.006-0.658-0.119-0.941C20.046,15.383,19.847,15.137,19.562,14.9z     M13.971,15.578c-0.283,0.012-0.53-0.082-0.746-0.291c-0.092-0.088-0.156-0.195-0.195-0.322c-0.041-0.127-0.055-0.266-0.039-0.418    c0.014-0.15,0.059-0.307,0.137-0.465c0.074-0.158,0.184-0.316,0.324-0.469c0.507,0.504,1.013,1.057,1.52,1.629    C14.588,15.453,14.254,15.566,13.971,15.578z M18.688,17.58c-0.09,0.166-0.193,0.314-0.314,0.443    c-0.561-0.566-1.121-1.188-1.68-1.826c0.143-0.064,0.293-0.131,0.455-0.199s0.324-0.113,0.486-0.141    c0.166-0.025,0.33-0.018,0.494,0.021c0.162,0.041,0.316,0.129,0.459,0.268c0.141,0.141,0.23,0.287,0.266,0.445    c0.039,0.16,0.041,0.322,0.014,0.488C18.839,17.246,18.78,17.412,18.688,17.58z" data-original="#010002" class="active-path" fill="#010002"/>
                <path d="M14.717,22.18h-0.002c-0.625,0.48-1.235,0.986-1.8,1.553c-0.543,0.543-1.034,1.115-1.461,1.699    l-0.684,0.934l0.002,0.002c-0.125,0.195-0.104,0.457,0.066,0.627c0.195,0.195,0.514,0.195,0.71,0    c0.03-0.031,0.054-0.064,0.074-0.1l0.639-0.875c0.396-0.541,0.854-1.074,1.361-1.58c0.561-0.561,1.081-0.994,1.714-1.475    l-0.002-0.002c0.018-0.014,0.035-0.025,0.051-0.041c0.196-0.195,0.196-0.514,0-0.709C15.204,22.029,14.914,22.021,14.717,22.18z" data-original="#010002" class="active-path" fill="#010002"/>
                <path d="M18.378,7.715c-0.523,0.523-1.09,0.994-1.678,1.443c-0.041,0.023-0.082,0.049-0.117,0.086    c-0.197,0.197-0.197,0.518,0,0.715c0.191,0.193,0.5,0.197,0.699,0.014l0.004,0.002c0.625-0.48,1.234-0.988,1.799-1.553    c0.543-0.543,1.033-1.113,1.461-1.697l0.684-0.938l-0.002-0.002c0.17-0.199,0.162-0.496-0.025-0.684    c-0.197-0.197-0.516-0.197-0.713,0c-0.037,0.037-0.064,0.08-0.088,0.123l-0.664,0.91C19.341,6.678,18.884,7.209,18.378,7.715z" data-original="#010002" class="active-path" fill="#010002"/>
            </g>
        </g></g> </svg>
      </li>
      <li>
          <router-link to="/profile">Profile</router-link>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve" width="16px" height="16px" class=""><g><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752  c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348  c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98  c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033  c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55  c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287  c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104  c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1  c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764  l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5  c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957  c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545  c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8  s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545  c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313  c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z" data-original="#000000" class="active-path" fill="#000000"/></g> </svg>
        
      </li>
      <li>
          
          <a class="" href="/logout">Sign Out</a>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16px" height="16px" class=""><g><g>
            <g>
                <path d="M505.664,243.739l-54.783-38.622c-9.926-6.997-23.645,0.128-23.645,12.26v23.622H164.196    c-8.284,0-15.001,6.716-15.001,15.001S155.912,271,164.196,271h263.038v23.621c0,12.212,13.792,19.204,23.644,12.26l54.783-38.622    C514.027,262.365,514.196,249.767,505.664,243.739z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g><g>
            <g>
                <path d="M430.471,352.317c-7.169-4.146-16.347-1.698-20.496,5.474c-35.236,60.916-101.103,101.811-176.372,101.811    c-112.266,0-203.602-91.336-203.602-203.602S121.337,52.398,233.603,52.398c75.319,0,141.156,40.933,176.371,101.809    c4.148,7.172,13.328,9.619,20.496,5.474c7.171-4.148,9.621-13.325,5.474-20.496C395.418,69.127,319.729,22.397,233.603,22.397    C104.49,22.397,0,126.876,0,256c0,129.113,104.479,233.603,233.603,233.603c86.163,0,161.833-46.763,202.342-116.79    C440.092,365.642,437.642,356.466,430.471,352.317z" data-original="#000000" class="active-path" fill="#000000"/>
            </g>
        </g></g> </svg>
        
        </li>
    </ul>
  </div>
</template>
