<template>
    <div class="how-it-works confirm p-4 mt-lg-0 mt-md-0 mt-sm-4 mt-4">
        <h4>Frequent questions</h4>
        <div class="how-it-works-single-section">
            <h5>What’s Next?</h5>
            <p>Once your charge has been approved you will then verify your number and then can start texting kayvctoriac.</p>
        </div>
    </div>
</template>
