<template>
  <div class="how-it-works confirm p-4">
    <h4>How it works?</h4>
    <div class="how-it-works-single-section">
      <h5>Choose a Package</h5>
      <p>Choose the texting package you want...</p>
    </div>
    <div class="how-it-works-single-section">
      <h5>Verify Your Phone</h5>
      <p>We check your phone number and create a new number that allows only you to text who you choose.</p>
    </div>
    <div class="how-it-works-single-section">
      <h5>Start Texting</h5>
      <p>Use your phone or the web interface to start texting the influencer. Your are charged the monthly access fee and for each message you send (no fee for received massagess.)</p>
    </div>
  </div>
</template>
