<template>
    <div class="jivemo-profile-inner-wrapper col-11 mx-auto">
        <div class="jivemo-profile-top">
            <div class="row ryt">
                <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                    <div class="image small mx-auto" v-if="profile_image">
                        <img v-bind:src="'/images/uploads/'+ profile_image" class="" alt="man">
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-12 col-12" v-if="first_name">
                    <p class="inner-title pt-4">Confirm Texting  Package  to  Start  Texting  <strong>{{ first_name}} {{ last_name }}</strong></p>
                </div>
            </div>
        </div>
    </div>
</template>
