<template>
  <div class="page">
    <div class="hero-image-wrapper py-lg-5 py-md-5 py-sm-3 py-3">
      <div class="hero-image mx-auto row py-lg-5 px-lg-5 py-md-4 px-md-4 px-sm-3 py-sm-3 px-3 py-3">
        <div class="col-lg-12">
          <h1 class="text-dark">JiveMo FAQs</h1>
          <h2 class="text-dark">FAQ’s for Influencers</h2>

          <h4 class="text-dark">What are the fees for using JiveMo?</h4>
          <p>There is no fee for opening an Influencer account. Influencers are charged fees when fans subscribe to their texting packages. There are 3 different fees: phone connection fee ($2.50 per connection), messages fee ($.035 per message) and a payment & payout processing fee (4%). Fees are deducted from Influencer monthly revenue payouts.</p>
          <p>Example: An Influencer creates a texting package to send and receive 50 messages for $40 a month. Assuming 1 person subscribes to this package below are the fees and payout.
            <ul>
              <li>Phone connection fee: $2.50 (1 subscriber x $2.50)</li>
              <li>Messages fee: $1.75 (50 messages x $0.035)</li>
              <li>Processing payout fee: $1.60 ($40 x .04)</li>
              <li>Total fees: $5.85</li>
              <li>Influencer’s payout: $34.15 ($40-$5.85)</li>
            </ul>
          </p>

          <h4 class="text-dark">Are Influencer’s real cell phone number shared with fans?</h4>
          <p>No, both Influencer’s and Fan’s real phone numbers are never shared with each other. JiveMo creates new phone numbers for both which only can be used to text message each other. This way both parties can maintain their privacy.</p>
          
          <h4 class="text-dark">When are Influencers paid?</h4>
          <p>Influencers are paid on the 5th of each month for the previous month’s subscribers.</p>

          <h4 class="text-dark">How are Influencer’s paid out?</h4>
          <p>All payouts are submitted using PayPal. Influencers can enter their PayPal details on their “Payouts” page in JiveMo.</p>
          
          <h4 class="text-dark">How can I get setup with an Influencer account?</h4>
          <p>Influencer accounts are by invitation-only during the current beta testing period. If you would like be added to our waitlist or want to request an account email us at info@jivemo.com</p>

          <h4 class="text-dark">What is a texting package?</h4>
          <p>A texting package is an agreement between an Influencer and Fan where for a monthly recurring fee they can exchange a set number of messages per month. The Influencer determines how many messages they are willing to exchange and for what price.</p>

          <h4 class="text-dark">How much can Influencers charge for a texting package?</h4>
          <p>The minimum amount they can charge is $10 per month. The maximum they can charge is $1000 per month. </p>

          <h2 class="text-dark">General FAQs</h2>
          <h4 class="text-dark">How does JiveMo work?</h4>
          <p>Influencers create “texting packages” which allow Fans to send & receive up to a certain number of messages per month with them. After a fan purchases a texting package JiveMo creates a new phone number for the Fan to use with the Influencer. Each month the messages reset and the Fan is charged again for the month.</p>

          <h4 class="text-dark">Do I need an “app” to use JiveMo?</h4>
          <p>No app or extra software is needed outside of your cell phone. Sending a message as simple as sending a regular text message using your phone.</p>

          <h4 class="text-dark">How do you make sure my phone number stays private?</h4>
          <p>When a text messaging package is purchased by a Fan from an Influencer we create new phone numbers for both to use. These new phone numbers can only be used by these 2 parties for sending text messages to each other. Your phone number is never shared with each other.</p>
          
          <h4 class="text-dark">What kind of messages can I send (MMS or SMS)?</h4>
          <p>You can send either SMS (regular text messages) or MMS (multimedia messages like pictures and videos).</p>
          
          <h4 class="text-dark">What countries does JiveMo work in?</h4>
          <p>Right now you can only use JiveMo if you have a United States or Canada cell / mobile phone number and can receive text messages.</p>
          
          <h4 class="text-dark">What phone number shows up when texting?</h4>
          <p>The phone number to text Influencers or Fans will be a US-based cell phone number. This will be a new number assigned to them to use. Once a texting package is purchased you will get a text message from this phone number so you can save it and use it when communicating.</p>
          
          <h4 class="text-dark">How many messages can be sent and received?</h4>
          <p>The number of messages that can be exchanged between Influencer and Fans depends on the amount set by the Influencer when they created the texting package. Keep in mind that the number specified in the text package includes both sent and received messages. For example if the texting package says 50 messages this means the Influencer could send 25 messages and the buyer could send 25 messages (for a total of 50).</p>
          
          <h4 class="text-dark">What happens when I run out of messages?</h4>
          <p>Once the message limit is reached both the Influencer and the Fan will receive a JiveMo admin message stating that the limit has been reached. At this point the Fan will have to wait until the texting package reviews for the next month when the message limit will reset.</p>
          
          <h4 class="text-dark">When will my messages reset?</h4>
          <p>Each texting package renews each month or 30 days from when it was purchased and subscribed to. Each month when it is renewed the number of messages that can be set resets.</p>
          
          <h4 class="text-dark">When will my credit card be charged?</h4>
          <p>When Fans first purchase or subscribe to an Influencer’s texting package their credit card will be charged. In addition, each month or every 30 days from when they first subscribed to the texting package the Fan’s credit card will be charged. This is recurring until the Fan decides to cancel.</p>
          
          <h4 class="text-dark">What happens if I cancel a subscription?</h4>
          <p>Fans can choose to cancel their subscription at any time. If a Fan decides to cancel a texting package they have until their next renewal date to use up any remaining messages. Once cancelled there will be no more future recurring charges.</p>
          
          <h4 class="text-dark">What is the refund policy?</h4>
          <p>Once a texting package has been purchased there are no refunds unless there are certain circumstances. For example, if the Influencer never responds to any messages.</p>
          
          <h4 class="text-dark">How do I login or signup to use JiveMo?</h4>
          <p>To login or signup to use JiveMo you will need to have a US or Canada based cell / mobile phone number. To login you enter your phone number and JiveMo will send you a code to very and login.</p>
          
          <h4 class="text-dark">I need support who should I contact?</h4>
          <p>You can reach out to other email support at info@jivemo.com.</p>
          
        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>