<template>
  <div class="page">
    <div class="hero-image-wrapper py-lg-5 py-md-5 py-sm-3 py-3">
      <div class="hero-image mx-auto row py-lg-5 px-lg-5 py-md-4 px-md-4 px-sm-3 py-sm-3 px-3 py-3">
        <div class="col-lg-12">
          <h1>JiveMo Privacy Policy</h1>
          <p>Effective Date: March 01, 2020</p>
          <p>This is Privacy Policy (“Privacy Policy”) outlines information that we collect or may collect from you in the course of using JiveMo.com (the “Site”).</p>
          <p>We may change or discontinue this Privacy Policy at any time, and we reserve the right to do so. If we change this Privacy Policy, we will also change the Effective Date, which is located above. If you continue to use the Website after we change the Effective Date, you agree to our change to the Privacy Policy.</p>

          <h3>What do you collect from me?</h3>
          <p>We may collect the following personal information from you:
            <ol>
              <li>Any information that you voluntarily submit to the Website;</li>
              <li>Your user name, name, email address, phone number, state, city, or zip code;</li>
              <li>Your email address;</li>
              <li>Biographical information;</li>
              <li>Links to other websites that you own; and</li>
              <li>Links to your social networking profile.</li>
            </ol>
          </p>

          <p>We may also collect the following personally identifiable information from you:
            <ol>
              <li>Your IP address;</li>
              <li>Your geolocation;</li>
              <li>Your use of the Website;</li>
              <li>Information stored in cookies, pixel tags, or web beacons; and</li>
              <li>Any other additional analytics data that you voluntarily submit to the Website.</li>
            </ol>
          </p>
          
          <h3>How do you use this information?</h3>
          <p>We use this personal and personally identifiable information to:
            <ol>
              <li>Provide you with the Website and its services;</li>
              <li>To communicate with you;</li>
              <li>To troubleshoot problems with the Website;</li>
              <li>To complete a transaction that you have initiated;</li>
              <li>To update you on changes to the Website; and</li>
              <li>To update you on our services or the services of third parties.</li>
            </ol>
          </p>
          
          <h3>How do you store this information?</h3>
          <p>The Site stores and processes your personal and personally identifiable information on computers located within the United States. By using the Website, you agree to the collection and processing of your personal and personally identifiable information in the United States.</p>
          <p>We use commercially standard technology to help protect against the unauthorized disclosure of your personal and personally identifiable information, including encryption. Though we do our best to protect your personal and personally identifiable information, you provide all such information at your own risk.</p>
          
          <h3>Do you share my information with third parties?</h3>
          <p>The Site will only share your personal or personally identifiable information with third parties in the following situations:
            <ol>
              <li>1.	Where the Site has obtained your consent;</li>
              <li>2.	Where it is necessary to provide you with services initiated at your request;</li>
              <li>3.	Where it is necessary to share such information with the Site’s parents, subsidiaries, successors, and assigns;</li>
              <li>4.	Where the Site has been purchased by or has purchased a third party;</li>
              <li>5.	Where it is needed to respond to information requests by government authorities;</li>
              <li>6.	Where it is demanded by a court order or subpoena;</li>
              <li>7.	Where it is needed to help prevent against fraud or the violation of any applicable law, statute, regulation, ordinance, or treaty.</li>
            </ol>
          </p>
          <p>Any personal or personally identifiable information that you include within the Site may also be displayed to third parties. You are advised to review that information before you submit it to the Site.</p>
          
          <h3>How can I contact you if I have questions?</h3>
          <p>All questions and concerns regarding this Privacy Policy may be directed to the Site by emailing info@jivemo.com. </p>



        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>