// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.before-footer {
  height: 100px;
  background: #fff;
  margin-top: -100px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  color: #fff;
}
.modal-content h5,
.modal-content {
  color: var(--dark);
}
.modal-content .form-group p {
  color: var(--how-bg);
}
.is-invalid,
.error {
  color: var(--danger);
}
