div#users-table_length,
div#transactions_length,
div#users-table_info,
div.dataTables_wrapper div.dataTables_info,
.dataTables_length {
  float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  margin-top: 20px;
}

table.table td {
  text-transform: initial;
}

.alert-success,
.alert-success a,
.bg-success,
.bg-success a,
.label-success,
.label-success a {
  color: #fff !important;
  width: 100%;
}

button.badge.bg-danger {
  cursor: pointer;
}

.user-block img {
  overflow: hidden;
}
.users-list > li {
  width: 120px;
  float: left;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  min-height: 120px;
}
