:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3baafc;
  --secondary: #e2e2e2;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --deepblack: #222;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --how-bg: #c6c6c6;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  padding-left: 0 !important;
  margin: 0px;
  padding: 0px;
  background-color: #f8fafc;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
strong {
  font-family: Roboto;
}

.router-view {
  min-height: 85vh;
  background: var(--white);
}
.hero-image {
  width: 90%;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  background-size: 42%;
  position: relative;
  background: white;
}
.hero-image:before {
  background: var(--white) url(../images/group-2.jpg) 0px 0px no-repeat;
  background-position: right 60%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hero-image h1 {
  font-size: 45px;
  font-weight: 900;
  color: var(--deepblack);
  margin: 0px;
}

.hero-image h3 {
  font-size: 30px;
  color: var(--deepblack);
  font-weight: bold;
}

.hero-image p {
  font-size: 20px;
  color: var(--gray);
}
.page .hero-image p {
  font-size: 16px;
}

.nav-container {
  background: #fff;
}

.navbar {
  padding: 20px 0;
}

ul.navbar-nav {
  margin-left: auto;
  margin-right: 6px !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.navbar-toggler:focus {
  outline: none;
}

.title {
  color: var(--dark);
}

/*.mr-auto, .mx-auto {
	margin-left: auto!important;
	margin-right: 32px !important;
}*/

ul.navbar-nav li:hover > a {
  color: #3baafc;
}

.ul.navbar-nav .menu-list li a {
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #c1c1c1;
}

ul.navbar-nav li {
  margin-right: 30px;
  position: relative;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  text-decoration: none;
}

ul.navbar-nav li.active:after {
  display: block;
}

li.user-avator:hover .user-profile-dropdown {
  display: block;
}

ul.navbar-nav .menu-list li {
  margin: 0;
  margin-bottom: 10px;
}
.logo {
  margin-left: 40px;
}

.btn.large-size {
  margin-right: 52px;
}

/* .btn {
    background: #2aa95e;
} */

.btn a {
  color: #fff;
}

.call-to-action .btn {
  background: #ff1515;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.32);
  width: 24%;
  font-size: 18px;
}

.btn.hero-img {
  margin: 30px 0;
  width: 33%;
}

.btn.small-size {
  display: none;
}

.hero-image-container {
  background: #3baafc;
  position: relative;
  height: 425px;
}

.hero-image-wrapper {
  min-height: 100px;
  position: relative;
}
.hero-image-wrapper:before {
  content: "";
  background: var(--primary);
  position: absolute;
  height: 76%;
  width: 100%;
  top: 0;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3baafc;
  font-size: 18px;
}

a.nav-link.float-left.ml-4.is-active.router-link-active {
  width: 100%;
  content: "";
  border-top: 3px solid #3baafc;
}

ul.navbar-nav li.user-avator:after {
  border: none;
}

ul.navbar-nav li a,
.jivemo-nav .signin a {
  font-size: 15px;
  font-weight: 500;
}

.hero-image-container {
  background: #3baafc;
  position: relative;
  height: 425px;
}

/*support- section*/

.support-container {
  background: #fff;
  padding: 80px 0 45px 0;
  margin-top: -200px;
  padding-top: 200px;
}

.jivemo-support-single-section {
  margin: 31px 0 0 20px;
  width: 100%;
}

.jivemo-support-inner-wrapper {
  width: 80%;
  margin: 0 auto;
}

.jivemo-support-single-section-wrapper {
  box-shadow: 0.1px 2px 23px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #ebebeb;
  padding: 30px 40px 6px 40px;
  border-radius: 8px;
  background: var(--white);
}

.jivemo-support-single-section .image {
  width: 40%;
  margin: 0 auto;
}

.jivemo-support-single-section .jivemo-support-details h4 {
  color: #424242;
  font-weight: 700;
}

.jivemo-support-single-section .jivemo-support-details p {
  color: #adadad;
  font-size: 16px;
}

.jivemo-support-single-section .jivemo-support-details {
  text-align: center;
  margin-top: 15px;
}

.work-container {
  padding-top: 40px;
  background: #8dd4ff url(../images/bg-layer.jpg) no-repeat bottom;
  background-size: contain;
  padding: 0 35px;
}

.jivemo-work-inner-wrapper {
  padding: 60px 0;
}

.jivemo-work-lft .heading h2 {
  font-size: 30px;
  color: #424242;
  font-weight: 600;
}

.jivemo-work-lft-single-section ol {
  margin: 0 0 0 13px;
  padding: 0;
  list-style: none;
  counter-reset: li;
}

.jivemo-work-lft-single-section li {
  margin: 35px 0 0 30px;
}

.jivemo-work-lft-single-section ol li::before {
  color: #000;
  content: counter(li);
  float: left;
  counter-increment: li;
  margin-left: -42px;
  border: 2px solid #3baafc;
  border-radius: 100%;
  padding: 1px 8px;
}

.jivemo-work-lft-single-section li h4 {
  font-size: 23px;
  color: #424242;
  font-weight: 600;
}

.jivemo-work-lft-single-section li a {
  font-size: 16px;
}

.influcers-container {
  padding: 50px 35px;
  background: #fff;
}

.jivemo-our-influcers .heading {
  margin-bottom: 45px;
}

.heading i {
  font-style: initial;
}

.jivemo-our-influcers .heading h4 {
  color: #131313;
  text-align: center;
  margin: 0;
  font-size: 27px;
}

.profile {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.21);
}

.profile .about-profile {
  padding: 15px;
}

.profile .about-profile strong {
  color: #131313;
  display: block;
}

.profile .about-profile span {
  display: block;
  color: #a8a8a8;
}

.profile .about-profile a {
  color: #2e5ba6;
}

/*------call-to-action------*/

.call-to-action-container {
  background: url(../images/bg-layer.png) 0px 0px repeat;
  padding: 35px 0;
}

.call-to-action .heading h3 {
  text-align: center;
  margin: 0px;
  padding: 30px 0 20px 0;
}

.call-to-action .heading p {
  text-align: center;
  line-height: 25px;
}

.call-to-action-inner-wrapper {
  padding: 0 110px;
  text-align: center;
}

/*---footer---*/

.footer {
  border-top: 1px solid #ccc;
}

.footer ul {
  line-height: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer .left ul li {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.footer .right ul li {
  float: right;
  list-style: none;
}

.footer .left ul li a,
.footer .right ul li span {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

.footer-container {
  padding: 10px 35px;
  background: #fff;
}

/*----------------------jivemo-profile---------------------*/

.jivemo-profile-container {
  background: #3baafc;
  height: 500px;
}

.jivemo-profile .jivemo-profile-top {
  padding: 45px 50px;
}

.jivemo-profile .jivemo-profile-top .image {
  padding: 0 25px;
}

.jivemo-profile-top .middle p,
.jivemo-profile-top .middle span {
  color: rgba(255, 255, 255, 0.58);
  font-weight: 300;
}

.jivemo-profile-top .middle p span {
  font-weight: 600;
}

.jivemo-profile-bottom-outer-wrapper {
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #fff;
}

.jivemo-profile-bottom .about-section {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.jivemo-profile-bottom .details {
  margin-top: 10px;
}

.jivemo-profile-bottom .details:first-child {
  /* border-bottom: 1px solid #e1e1e1; */
}

.jivemo-profile-bottom .details p {
  font-family: SFProText;
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  color: #9a9a9a;
  padding-bottom: 10px;
}

.jivemo-profile-bottom .details h5,
.jivemo-profile-bottom .message-packages .middle h5,
.jivemo-profile-bottom .how-it-works-single-section h5 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -0.4px;
  color: var(--dark);
}

.message-packages .middle h5 {
  margin-top: 15px;
}

.message-packages .middle {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.middle.phone-page {
  border: none;
}

.message-packages .middle p,
.jivemo-hero-image.phone-page .jivemo-hero-image-fans-text p {
  font-size: 16px;
  letter-spacing: -0.3px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.38;
  color: #262626;
}

.how-it-works-single-section p {
  font-size: 14px;
}

.jivemo-profile-bottom .how-it-works-single-section a {
  border-bottom: 2px solid #e1e1e1;
  padding: 5px 0;
}

.jivemo-profile-bottom .message-packages .middle span {
  color: #3baafc;
  font-size: 12px;
  display: block;
  padding: 0;
  line-height: 1.42;
  letter-spacing: -0.3px;
}

.jivemo-profile-bottom.package-page .message-packages .middle span.heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: -0.3px;
  color: #48affc;
}

.jivemo-profile-bottom .how-it-works {
  background: var(--how-bg);
  border-radius: 5px;
  color: var(--deepblack);
}

.jivemo-profile-bottom .how-it-works h4,
.jivemo-profile-bottom .how-it-works h5 {
  color: var(--deepblack);
}

.jivemo-profile-bottom .how-it-works.phone-page {
  margin-top: 70px;
}

.jivemo-profile-bottom .how-it-works h4,
.jivemo-profile-bottom .message-packages .middle h4 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.jivemo-profile-bottom .details h4,
.jivemo-profile-bottom .message-packages .middle h4 {
  color: #262626;
}

.jivemo-profile-bottom .how-it-works-single-section:last-child {
  border: none;
}

.footer.profile .left ul li {
  margin-left: 17px;
}

.middle input[type="text"],
.middle input[type="date"],
.middle.signup input[type="email"],
.middle input[type="password"],
.jivemo-hero-image-fans-text input {
  height: 49px;
  width: 57%;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.middle input[type="text"] {
  height: 49px;
  width: 68%;
}

.middle.confirm-page input,
.middle.signup input[type="email"],
.middle.signup input[type="password"],
.middle.signup input[type="text"] {
  width: 100%;
}

.middle.signup input[type="password"],
.middle.signup input[type="email"] {
  margin: 10px 0;
}

.middle.confirm-page .form-check {
  margin-top: 25px;
}

.middle.confirm-page .form-check input {
  width: 3%;
}

.middle.phone-page input[type="text"] {
  width: 85%;
}

.middle input[type="submit"] {
  background: #2aa95e;
  border: none;
  height: 43px;
  margin: 3px 0 0 20px;
  width: 25%;
  border-radius: 3px;
  color: #fff;
}

.middle input.vfc-code {
  width: 60%;
  margin: 3px 0 0 0;
}

.middle input.submit-code {
  width: 35%;
  display: block;
  margin: 30px 0 0 0;
}

/*---------------------Package page----------------*/

.jivemo-nav .right span.rate {
  background: #cfcfcf;
  color: #000;
  padding: 4px;
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
}

.jivemo-nav .right {
  margin-right: 40px;
}

.jivemo-nav .right .circle {
  border-radius: 100%;
  background-color: var(--green);
  color: var(--white);
  font-size: 26px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  padding: 5px 3px 0 0;
}

/*---------------------phone-page----------------*/

.jivemo-hero-image.phone-page .jivemo-hero-image-fans-text span {
  color: #000;
}

.jivemo-profile-bottom.package-page.phone-page .middle form {
  width: 100%;
  margin-top: 47px;
}

.jivemo-profile-bottom .message-packages .middle form span {
  color: #262626;
  font-size: 16px;
}

.middle.confirm-page .form-check span {
  padding: 2px 0px;
  font-size: 16px !important;
}

.how-it-works.btm {
  margin-top: 100px;
}

.middle.confirm-page input[type="submit"] {
  border-radius: 5px;
  margin: 10px 0 0 0;
  width: 55%;
}

/*---------------------Confirm page----------------*/

.image.small {
  height: 9em;
  width: 9em;
}

.image.small img {
  height: 100%;
  object-fit: cover;
}

.inner-title {
  font-size: 25px;
}

.table td {
  color: #9a9a9a;
  padding: 0.2rem;
  border: none;
  letter-spacing: -0.4px;
  font-size: 15px;
}

.jivemo-profile-bottom .message-packages .middle.confirm-page {
  border: none;
}

.package-right {
  padding: 0 0px 0 96px;
}

/*---------------------Signup page----------------*/

.jivemo-profile-bottom.package-page.phone-page .middle.signup form {
  margin-top: 16px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  color: #262626;
  letter-spacing: -0.4px;
  font-family: Roboto;
  font-size: 18px;
}

input[type="text"] {
  font-size: 16px;
  color: #0b0b0b;
}

input[type="submit"] {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.jivemo-profile-bottom .message-packages .middle.signup form {
  text-align: center;
}

.jivemo-profile-bottom
  .message-packages
  .middle.signup
  form
  input[type="submit"] {
  width: 40%;
  height: 47px;
  margin: 20px 0 0 0px;
  border-radius: 5px;
  text-align: center;
}

.jivemo-profile-bottom .message-packages .middle.signup form span,
.jivemo-profile-bottom .message-packages h5 {
  text-align: initial;
}

.forgot-password {
  margin: 9px 0px 0px 0;
}

.forgot-password a {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #3baafc;
}

.tab_container {
  border: 1px solid #e1e1e1;
  padding: 20px 50px 43px 43px;
  border-radius: 8px;
}

ul.tabs a {
  color: #3baafc;
  font-size: 18px;
  font-weight: 500;
}

ul.tabs li {
  margin-top: 15px;
  border-bottom: 1px solid #ededed;
  list-style: none;
}

ul.tabs li a.router-link-active {
  color: #000;
}

.table thead tr.user td {
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #000000;
}

.table tbody td {
  letter-spacing: -0.4px;
  color: #9a9a9a;
  vertical-align: middle;
}

.table.connection td {
  padding: 10px 0;
}

.table tbody td a {
  color: #39a5f5;
}

.middle.confirm .table td {
  padding: 5px 0 5px 0;
  font-size: 16px;
}

.table tr {
  border-top: 1px solid #ededed;
}

.middle.confirm .table tr {
  border: none;
}

.tab_container ul {
  line-height: 36px;
  margin: 0px;
  padding: 0px;
}

.tab_container ul.heading li:nth-child(2) {
  border-right: 2px solid #ccc;
  padding-right: 20px;
}

.tab_container ul.heading li {
  color: #262626;
  list-style: none;
  display: inline;
  font-size: 18px;
  letter-spacing: -0.4px;
  margin-right: 12px;
  font-weight: 500;
  cursor: pointer;
}

.tab_container ul.heading li:last-child {
  color: #000;
  font-weight: bold;
}

.tab_container ul.heading li.active {
  color: #3f9337;
  font-weight: bold;
  padding-right: 20px;
}

/*---------------------Message page----------------*/

.middle form textarea {
  height: 168px;
  width: 100%;
  opacity: 0.38;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #262626;
  padding: 10px;
  outline: none;
}

.middle input.msg[type="submit"] {
  margin: 30px 0 0 0;
  width: 65%;
  height: 47px;
  line-height: 47px;
}

.middle input.msg.btm[type="submit"] {
  margin: 0px;
}

.jivemo-profile-bottom.package-page .middle.msg-page form {
  margin-top: 20px;
}

.middle.msg-page {
  border: none;
}

.middle.msg-page .older-msg {
  border-top: 1px solid #d9d9d9;
  padding: 15px 0;
}

.middle.msg-page .older-msg .top a,
.middle.msg-page .older-msg .top strong {
  font-size: 20px;
  letter-spacing: -0.4px;
}

.middle.msg-page .older-msg .top a {
  font-weight: bold;
  color: #8b8b8b;
  margin-right: 10px;
}

.middle.msg-page .older-msg .top strong,
.middle.msg-page .older-msg .top span {
  color: #b0b0b0;
}

.middle.msg-page .older-msg .top span {
  padding: 0px;
  font-size: 12px;
  letter-spacing: -0.3px;
}

.middle.msg-page .older-msg .top p {
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #262626;
  margin: 16px 0 0 0;
}

.how-it-works.phone-page .prf-detail {
  text-align: center;
}

.how-it-works.phone-page .prf-detail span {
  display: block;
  font-size: 19px;
  font-weight: 500;
  color: #3baafc;
  margin-top: 10px;
  cursor: pointer;
}

.how-it-works.phone-page .prf-detail strong {
  font-size: 22px;
  font-weight: bold;
  color: #477e42;
}

.how-it-works.phone-page .prf-detail p {
  color: #262626;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.3px;
}

.prf-detail .block-user {
  padding: 0px 45px;
}

.prf-detail .block-user span {
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.prf-detail .block-user span:last-child {
  border: none;
}

.jivemo-profile-bottom .how-it-works.right {
  background: #fff;
  padding: 0px;
  padding: 35px;
  border: 1px solid #e1e1e1;
}

.jivemo-profile-bottom .how-it-works.right.msg-page {
  padding: 25px 20px;
}

.jivemo-profile-bottom .how-it-works.phone-page.right {
  margin-top: 22px;
}

.jivemo-profile-bottom
  .how-it-works.phone-page.right
  .how-it-works-single-section {
  margin-top: 0px;
}

.how-it-works-single-section.msg-page {
  text-align: center;
}

.how-it-works.ryt-btm {
  margin-top: 20px;
}

.scc figure img {
  width: 400px;
  height: 300px;
}

@media (max-width: 1200px) {
  .jivemo-profile .jivemo-profile-top .image {
    padding: 0px 6px;
  }

  .logo {
    margin-left: 30px;
  }

  .btn.large-size {
    margin-right: 40px;
  }

  .jivemo-hero-image-fans-text h4,
  .jivemo-profile-bottom .message-packages.signup h4,
  .jivemo-profile-bottom
    .how-it-works.confirm
    h4
    .jivemo-profile-bottom
    .message-packages
    .middle.signup
    h5 {
    font-size: 22px;
  }

  .table.confirm {
    width: 450px;
  }

  .how-it-works.phone-page .prf-detail span {
    font-size: 17px;
  }

  .how-it-works.phone-page .prf-detail strong,
  .jivemo-profile-bottom .message-packages .middle.msg-page h5 {
    font-size: 20px;
  }

  ul.tabs {
    padding: 0px;
  }

  ul.tabs.message a {
    font-size: 13px;
  }

  .middle input.msg[type="submit"] {
    font-size: 15px;
  }

  .jivemo-hero-image-fans-text h3 {
    font-size: 45px;
  }

  .jivemo-hero-image-fans-text a {
    font-size: 19px;
  }

  .btn.hero-img {
    width: 43%;
  }

  .support-container {
    padding: 40px 0 45px 0;
  }
}

@media (max-width: 1170px) {
  .call-to-action .btn {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .jivemo-hero-image .container {
    height: 390px;
  }

  .jivemo-hero-image-inner-wrapper {
    top: 10%;
  }

  .jivemo-profile-bottom
    .message-packages
    .middle.signup
    form
    input[type="submit"] {
    width: 56%;
    height: 44px;
    font-size: 16px;
  }

  .table td,
  ul.tabs a {
    font-size: 14px;
  }

  ul.tabs {
    padding: 0px;
  }

  .tab_container ul.heading li {
    font-size: 16px;
  }

  .how-it-works-single-section .image.msg-page img {
    height: 130px;
    width: 120px;
  }

  .jivemo-hero-image-fans {
    margin-top: 43px;
  }

  .hero-image-container {
    height: 355px;
  }

  .support-container {
    padding: 70px 0 45px 0;
  }

  .jivemo-support-single-section {
    margin: 31px 0 0 10px;
  }

  .middle h3 {
    font-size: 25px;
  }
}

@media (max-width: 990px) {
  .btn.small-size {
    display: block;
  }

  .navbar-nav li a {
    float: right;
  }

  .navbar-nav li:hover {
    border-bottom: 2px solid #3baafc;
  }

  ul.navbar-nav li:after {
    border: none;
  }

  .jivemo-hero-image-fans {
    margin-top: 35px;
  }

  .jivemo-nav .btn.large-size {
    display: none;
  }

  .call-to-action .container {
    padding: 24px 0;
  }

  .jivemo-support .container {
    padding: 90px 0 45px 0;
  }

  .jivemo-profile .jivemo-profile-top {
    padding: 30px 40px;
  }

  .jivemo-profile-bottom .how-it-works h4 {
    margin-top: 8px;
    font-size: 20px;
  }

  .jivemo-profile-bottom .how-it-works-single-section a {
    font-size: 15px;
  }

  .jivemo-profile-bottom.package-page .message-packages .middle span.heading {
    font-size: 16px;
    line-height: 2.1;
  }

  .middle input[type="submit"] {
    margin: 16px 0 0 0px;
    width: 100%;
  }

  .middle input[type="text"] {
    width: 100%;
  }

  .jivemo-profile.package-page .middle a,
  .jivemo-profile-bottom .how-it-works-single-section h5 {
    font-size: 18px;
  }

  .footer ul {
    line-height: 30px;
  }

  .footer .left ul li a {
    padding: 0px;
  }

  .jivemo-profile-bottom .message-packages h4,
  .jivemo-work-lft .heading h2 {
    font-size: 24px;
  }

  .jivemo-profile-bottom .how-it-works.phone-page {
    margin-top: 100px;
  }

  .jivemo-profile-bottom .how-it-works.phone-page.btm {
    margin-top: 40px;
  }

  .jivemo-profile .jivemo-profile-top.confirm .image img {
    height: 62px;
    object-fit: cover;
    width: 76px;
  }

  .middle.confirm-page input[type="submit"] {
    width: 75%;
  }

  .middle.confirm .table td {
    font-size: 14px;
  }

  .jivemo-profile-bottom .how-it-works.confirm h4 {
    font-size: 20px;
  }

  .middle.signup input[type="email"],
  .middle.signup input[type="password"] {
    height: 47px;
    font-size: 16px;
  }

  button.navbar-toggler {
    margin-right: 24px;
  }

  .jivemo-hero-image-fans-text h4,
  .jivemo-support-single-section .jivemo-support-details h4,
  .jivemo-work-lft-single-section li h4 {
    font-size: 20px;
  }

  .jivemo-hero-image-fans-text h3 {
    font-size: 30px;
  }

  .jivemo-hero-image-fans-text a,
  .btn.hero-img {
    font-size: 17px;
  }

  .btn.hero-img {
    width: 50%;
  }

  .jivemo-support-single-section .jivemo-support-details p {
    font-size: 14px;
  }

  .jivemo-support-single-section-wrapper {
    padding: 20px 30px 20px 30px;
  }

  .jivemo-work-lft-single-section li {
    margin: 25px 0 0 30px;
  }

  .profile {
    margin-top: 30px;
  }

  .influcers-container {
    padding: 35px 35px;
  }

  .jivemo-our-influcers .heading {
    margin-bottom: 5px;
  }

  .profile .about-profile {
    text-align: center;
  }

  .call-to-action .btn {
    width: 40%;
    font-size: 16px;
  }

  .hero-image-container {
    height: 560px;
  }
}

@media (max-width: 768px) {
  .hero-image:before {
    background-position: right 0;
    background-size: 50%;
    bottom: 0;
  }

  div#navbarTogglerDemo02 .right {
    display: none;
  }

  .hero-image {
    position: unset;
  }

  div#navbarTogglerDemo02 .btn.btn-success.large-size {
    display: none;
  }

  .jivemo-nav .btn.large-size {
    display: block;
    margin-left: 20px;
  }

  .tab_container {
    padding: 10px;
  }

  .container {
    max-width: 100%;
    margin: 0 !important;
    padding: 0px !important;
  }
}

@media (max-width: 767px) {
  .jivemo-profile-top .ryt {
    text-align: center;
  }
  .hero-image {
    width: 95%;
  }

  .hero-image h1 {
    font-size: 40px;
  }

  .hero-image h3 {
    font-size: 25px;
  }

  .hero-image p {
    font-size: 18px;
  }

  .support-container {
    padding: 70px 0 35px 0;
  }

  .call-to-action-inner-wrapper {
    padding: 0px 20px;
  }

  .jivemo-support-single-section-wrapper {
    padding: 22px 8px 6px 9px;
  }

  .profile {
    margin-top: 25px;
  }

  .jivemo-our-influcers .heading {
    margin-bottom: 20px;
  }

  .jivemo-support-inner-wrapper {
    width: 93%;
  }

  .jivemo-hero-image-inner-wrapper {
    top: 4%;
    padding: 62px 10px 50px 22px;
  }

  .jivemo-hero-image .container {
    height: 620px;
  }

  .jivemo-hero-image-fans {
    margin-top: 0px;
  }

  .jivemo-support-single-section {
    margin: 20px 0 0 0px;
  }

  .jivemo-img-ryt {
    margin-top: 35px;
  }

  .jivemo-profile.package-page .middle {
    margin-top: 3px;
  }

  .jivemo-profile .jivemo-profile-top .image {
    width: 150px;
    height: 100px;
    margin: auto;
  }

  .btn.jv-profile {
    margin-top: 0px;
  }

  .jivemo-profile-bottom .message-packages .middle h5 {
    text-align: center;
  }

  .jivemo-profile.package-page .middle a {
    font-size: 15px;
  }

  .logo {
    margin-left: 0px;
  }

  .how-it-works {
    margin-top: 25px;
  }

  .middle.phone-page input[type="text"],
  .middle.confirm-page input[type="submit"] {
    width: 100%;
  }

  .jivemo-profile-bottom .message-packages .middle.phone-page:last-child {
    margin-top: -30px;
  }

  .jivemo-profile-bottom .how-it-works.phone-page {
    margin-top: 0px;
  }

  .jivemo-profile-bottom .how-it-works.phone-page.btm {
    margin-top: 30px;
  }

  .jivemo-profile-bottom.package-page.phone-page .middle form {
    margin-top: 20px;
  }

  .middle.confirm-page input[type="submit"] {
    width: 100%;
  }

  .jivemo-profile.package-page .middle {
    margin-top: 13px;
  }

  .jivemo-profile .jivemo-profile-top.confirm {
    padding: 30px 10px;
  }

  .how-it-works.confirm.btm {
    margin-top: 25px;
  }

  .how-it-works.confirm {
    margin-top: 0px;
  }

  .tab_container ul.heading li {
    font-size: 13px;
  }

  ul.tabs {
    margin-top: 0px;
  }

  ul.tabs li {
    float: left;
    margin-right: 25px;
  }

  ul.tabs li a {
    font-size: 16px;
  }

  .tab_container {
    margin-top: 20px;
  }

  .footer-container {
    padding: 10px 3px;
  }

  button.navbar-toggler {
    margin-right: 0px;
  }
  .user-profile-dropdown.active {
    width: 300px;
  }
}

@media (max-width: 622px) {
  .jivemo-hero-image .container {
    height: 595px;
  }

  .jivemo-hero-image-inner-wrapper {
    padding: 50px 10px 30px 22px;
  }

  .support-container {
    padding: 108px 0 40px 0;
  }
}

@media (max-width: 572px) {
  .container {
    padding-left: 15px;
  }

  .profile {
    margin: 12px 0;
  }

  .footer .right ul li {
    float: none;
    text-align: center;
  }

  .jivemo-support .container {
    padding: 60px 20px 30px 20px;
  }

  .jivemo-our-influcers .container {
    padding: 20px 0;
  }

  .jivemo-our-influcers .heading {
    margin-bottom: 10px;
  }

  .jivemo-profile.package-page .middle {
    text-align: center;
  }

  .jivemo-profile .jivemo-profile-top {
    padding: 23px 50px;
  }

  table.table.connection {
    width: 500px;
  }

  ul.tabs.message {
    display: none;
  }

  .jivemo-support-single-section {
    margin: 30px 0 0 0px;
  }

  .support-container {
    padding: 50px 0 35px 0;
  }
}

@media (max-width: 490px) {
  .jivemo-support {
    margin: 0px;
  }

  .call-to-action .container {
    padding: 0px 0 23px 0;
  }

  .jivemo-work-inner-wrapper {
    padding: 30px 0;
  }

  .jivemo-profile .jivemo-profile-top {
    padding: 23px 22px;
  }

  .support-container {
    padding: 70px 0 40px 0;
  }

  .call-to-action .btn {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .logo img {
    width: 170px;
  }
}

@media (max-width: 425px) {
  .influencer-details h3 {
    font-size: 16px;
  }

  .form-control {
    height: calc(1.59rem + 2px);
  }

  .jivemo-hero-image-inner-wrapper {
    padding: 30px 10px 30px 10px;
  }

  .call-to-action .heading p {
    font-size: 13px;
  }

  .call-to-action .heading h3 {
    font-size: 25px;
  }

  .jivemo-hero-image .container {
    height: 480px;
  }

  .jivemo-profile-bottom .message-packages.signup h4,
  .jivemo-profile-bottom .message-packages .middle.signup h5 {
    font-size: 18px;
  }

  .jivemo-profile-bottom .message-packages .middle form span {
    font-size: 14px;
  }

  ul.tabs li a {
    font-size: 14px;
  }

  ul.tabs li {
    margin-right: 20px;
  }

  .footer .left ul li a,
  .footer .right ul li span {
    font-size: 11px;
  }

  ul.tabs.message li a {
    font-size: 14px;
  }

  .jivemo-profile-bottom .message-packages .middle.msg-page h5 {
    font-size: 20px;
  }

  .jivemo-profile-bottom .message-packages .middle.msg-page:last-child {
    margin-top: 0px;
  }

  .middle input.msg[type="submit"] {
    width: 100%;
  }

  .influcers-container {
    padding: 22px 0px;
  }

  .jivemo-our-influcers .heading {
    margin-bottom: 4px;
  }

  .hero-image-container {
    height: 500px;
  }

  .jivemo-support-single-section-wrapper {
    padding: 10px 10px 17px 10px;
  }

  .work-container {
    padding: 0px;
  }

  .jivemo-profile-bottom .how-it-works h4,
  .jivemo-profile-bottom .message-packages .middle h4 {
    font-size: 20px;
  }

  .jivemo-profile-bottom .details h5,
  .jivemo-profile-bottom .message-packages .middle h5,
  .jivemo-profile-bottom .how-it-works-single-section h5 {
    font-size: 15px;
  }

  nav.navbar.navbar-expand-lg.navbar-light .right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
  }

  button.navbar-toggler {
    margin-left: 15px;
  }

  .hero-image-wrapper {
    margin-bottom: 40px;
  }

  .jivemo-support-inner-wrapper .row div.col-lg-6,
  .jivemo-work-inner-wrapper {
    margin: 0 15px;
  }

  .jivemo-support-single-section {
    margin: 30px 0 0 0px;
  }

  .jivemo-our-influcers-inner-wrapper
    .row
    .col-lg-3.col-md-6.col-sm-6.col-xs-12 {
    margin: 0px 15px;
  }

  button.navbar-toggler {
    margin-right: 20px;
  }

  .manage-packages-section .manage-title h4,
  .create-new-package a {
    font-size: 14px;
  }

  .message-packages div.middle {
    padding: 10px !important;
  }

  .jivemo-profile-bottom-inner-wrapper.py-5.container {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .jivemo-profile-bottom-inner-wrapper.py-5.container .row .col-lg-4 {
    margin-bottom: 20px;
  }
}

@media (max-width: 405px) {
  .call-to-action-inner-wrapper {
    padding: 0px 10px;
  }

  .hero-image p {
    font-size: 15px;
  }

  .hero-image h3 {
    font-size: 19px;
  }

  .hero-image h1 {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .jivemo-hero-image-ryt-image {
    margin-top: 40px;
  }

  .call-to-action .heading h3 {
    padding: 5px 0;
  }

  .call-to-action .container {
    padding: 14px 0 23px 0;
  }

  .call-to-action-inner-wrapper {
    padding: 0px;
  }

  .call-to-action .heading p {
    line-height: 22px;
  }

  .footer ul {
    line-height: 30px;
    height: 30px;
  }

  .jivemo-profile-bottom .message-packages .middle.confirm h5 {
    font-size: 20px;
  }

  .hero-image-container {
    height: 470px;
  }

  .jivemo-hero-image-ryt-image {
    margin-top: 0px;
  }
}

@media (max-width: 350px) {
  .jivemo-support .container {
    padding: 35px 20px 25px 20px;
  }

  .jivemo-our-influcers .container {
    padding: 12px 0;
  }

  .jivemo-our-influcers .heading {
    margin-bottom: 0px;
  }

  .middle.confirm .table td {
    font-size: 12px;
  }

  .jivemo-profile-bottom .message-packages.signup h4,
  .jivemo-hero-image-fans-text h4,
  .jivemo-profile-bottom .message-packages .middle.signup h5 {
    font-size: 16px;
  }

  .jivemo-profile-bottom .message-packages .middle.signup {
    margin-top: 19px;
  }

  .jivemo-profile-bottom
    .message-packages
    .middle.signup
    form
    input[type="submit"] {
    width: 63%;
    height: 38px;
    font-size: 15px;
  }

  .jivemo-profile-bottom .message-packages .middle.signup {
    height: 385px;
  }

  .jivemo-profile-bottom .message-packages .middle.signup.right {
    height: 315px;
  }

  .footer .right ul li span {
    padding: 0px;
  }

  .jivemo-hero-image-fans-text h3 {
    font-size: 26px;
  }

  .jivemo-hero-image-fans-text a {
    font-size: 14px;
  }

  .btn.hero-img {
    width: 60%;
    font-size: 15px;
    line-height: 1.2;
  }

  .hero-image-container {
    height: 400px;
  }
}

@media (max-width: 768px) and (min-width: 450px) {
  .mobile-user-icon {
    position: relative;
  }
}

@media (min-width: 990px) {
  .mobile-user-icon {
    display: none;
  }
}

.has-error .form-control,
.form-group.has-error.has-danger input {
  color: #a94442;
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.help-block.with-errors ul.list-unstyled li {
  color: #a94442;
  float: left;
  padding-bottom: 10px;
}

label {
  color: #4d4d4d;
  font-weight: 600;
}

.not-varify-email .card-body {
  color: #333;
}

.not-varify-email .card-body a {
  font-weight: 600;
}

.not-varify-email .card-header {
  background: #333;
  color: #fff;
}

div.message-packages .package-manage {
  display: block;
  color: #333333;
}

div.message-packages .package-manage div {
  display: inline-block;
}

div.message-packages .package-manage div a {
  color: #0076c4;
}

.message-packages .middle {
  border-radius: 5px;
  margin-bottom: 20px;
}

.manage-packages-section {
  background: #2baafe;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.manage-packages-section .manage-title {
  float: left;
}

.manage-packages-section .create-new-package {
  float: right;
}

.message-packages {
  display: block;
}

.manage-packages-section .manage-title h4,
.create-new-package a {
  line-height: 50px;
  padding-left: 20px;
  font-weight: 400;
  padding-right: 20px;
  color: #fff;
}

.create-new-package a {
  padding: 10px;
  background: #1bbc1b;
  margin-right: 20px;
}

.middle.signup.package-create p {
  color: #a5a5a5;
}

input#package_balance,
input#package-balance-submit {
  width: 100%;
}

div.edit-profile-wrapper .edit h5,
div.edit-profile-wrapper .edit {
  color: #000;
}

.varification-images .btn {
  background: #9b9b9b;
  color: #fff;
}

.manage-packages-section .view-profile {
  float: right;
}

.manage-packages-section .view-profile a {
  color: #fff;
  line-height: 50px;
  padding: 10px;
}

.edit.instagram-change span {
  color: var(--gray);
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #e4e4e4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

.search-influencer-wrapper {
  text-align: center;
}

.search-influencer-wrapper h2 {
  color: #222;
}

.search-influencer-wrapper div#custom-search-input {
  width: 50%;
  margin: 0 auto;
}

.influencer-details h3,
.influencer-details h6,
.influencer-details span,
.influencer-details {
  color: #333;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
}

.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.pakage-message-month {
  line-height: 40px;
}

p.term-and-contion-text {
  display: inline;
}

single-section ol li.circle span {
  color: #3baafc;
  font-size: 15px;
}

span.help.is-invalid {
  color: #ff4b4b !important;
}

.form-control:focus {
  box-shadow: none;
}

div#app {
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

body {
  color: #000000 !important;
}

.userprofile-left {
  width: 28%;
  float: left;
}

.userprofile-left img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
}

.u .userprofile-content-right h2,
.userprofile-content-right h6,
.userprofile-content-right a,
.userprofile-content-right h2 {
  color: #000;
}

.user-profile-dropdown {
  display: none;
  border: 1px solid #cfcfcf;
  padding: 20px;
  position: absolute;
  right: 20px;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  min-width: 200px;
  text-align: right;
}

.userprofile-logout a.btn.btn-primary.mt-3 {
  float: left;
}

.userprofile-logout a.btn.btn-danger.mt-3 {
  float: right;
}

@media (max-width: 990px) {
  #navbarTogglerDemo02 .user-profile-dropdown {
    display: none !important;
  }
}

@media (max-width: 425px) {
  .mobile-user-icon .user-profile-dropdown {
    left: 68px !important;
    top: 120px !important;
  }
}

/* .invalid-feedback {
    display: none !important;
} */

.middle.signup input[type="password"],
.middle.signup input[type="text"],
.middle.signup input[type="email"] {
  color: #333;
  opacity: 1;
}

.userprofile-content-right ul.menu li {
  list-style: none;
}

.userprofile-content-right ul.menu {
  padding: 0;
}

.userprofile-content-right ul.menu li {
  margin-top: 15px;
}

.user-profile-dropdown.active {
  display: block;
}
.user-img {
  height: 135px;
  width: 135px;
  object-fit: cover;
}

@media (max-width: 320px) {
  .mobile-user-icon .user-profile-dropdown {
    left: 0px !important;
    top: 120px !important;
  }
}
