<template>
  <div class="package-confirm">
    <div class="hero-image-wrapper pt-5">
      <div class="mx-auto row">
        <profileSmall v-bind:pkg="pkg" v-if="pkg && pkg.user" v-model="pkg"></profileSmall>

        <!-- jivemo-profile-bottom -->
        <div class="jivemo-profile-bottom package-page col-11 mx-auto mt-5 pb-5">
          <div class="jivemo-profile-bottom-outer-wrapper">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pt-5 pb-5 m-3">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="message-packages">
                      <div class="middle p-4">
                        <span class="heading">{{ pkg.name }}</span>

                        <p>{{ pkg.description }}</p>
                        <span>Limited to {{ pkg.min_person}} People 5 remaining (5/{{ pkg.min_person}})</span>
                        <form>
                          <input
                            type="text"
                            placeholder="Amount to add to your balance"
                            v-model="addedBalance"
                          >
                          <button
                            type="submit"
                            @click.stop.prevent="submit()"
                            class="btn btn-success p-2"
                          >Continue</button>

                          <!-- <router-link :to="{ name: 'checkout', params: { id: pkg.id }}" class="btn btn-success text-white">Continue</router-link> -->
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 offset-lg-1 col-md-5 col-sm-12 col-12">
                    <faq></faq>
                    <how-it-works></how-it-works>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="before-footer"></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      addedBalance: null,
      pkg: []
    };
  },
  methods: {
    submit() {
      this.$router.push({
        name: "checkout",
        params: {
          id: this.pkg.id,
          addedBalance: this.addedBalance
        }
      });
      // this.$router.push("checkout/");
    },
    getData() {
      this.$Progress.start();
      axios
        .get("/api/package/" + this.$route.params.id)
        .then(
          response => {
            this.pkg = response.data;
            this.$Progress.finish();
          },
          err => {
            this.$Progress.fail();
            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }
            if (err.response.status == 404) {
              location.href = "/404";
            }
          }
        )
        .catch(e => {
          this.$Progress.fail();
          console.log("Caught", e);
        });
    }
  },
  created() {
    console.log("Component mounted.");
    this.getData();
  }
};
</script>
