<template>
  <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
    <div class="mx-auto" v-if="$gate.isInfluencer()">
      <div class="jivemo-profile-bottom package-page phone-page pb-4">
        <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
          <div class="profile-bottom-container">
            <div class="jivemo-profile-bottom-inner-wrapper pb-4">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <tab-list></tab-list>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                  <div class="tab_container1" id="ajax-content">
                    <div id="packages" class style>
                      <div class="manage-packages-section">
                        <div class="manage-title">
                          <h4 class>Manage Packages</h4>
                        </div>
                        <div class="create-new-package" v-if="false">
                          <a href="#create" @click="openModel">CREATE NEW PACKAGE</a>
                        </div>
                      </div>

                      <div class="message-packages">
                        <div class="middle p-4" v-for="p in packages.data">
                          <span class="heading">{{p.name }}</span>
                          <span>${{ p.fee}} per month for {{ p.no_of_message}} messages exchanged</span>

                          <p>{{p.description}}</p>

                          <span>Limited to {{ p.max_person}} People {{p.max_person - p.subscribers_count}} remaining ({{ p.subscribers_count }}/{{ p.max_person}})</span>

                          <div class="package-manage">
                            <!-- <div class="package-edit">
                              <a @click="editPackage(p)" class="package-edit">Edit</a>
                            </div>|-->
                            <div class="package-edit">
                              <a
                                class="package-edit"
                                @click="subscribersList(p.subscribers)"
                              >View Subscribers</a>
                            </div>
                            <!-- <div class="package-edit">
                              <a
                                @click="deletePackage(p.id)"
                                class="package-delete text-danger"
                              >Delete</a>
                            </div>-->
                          </div>
                        </div>

                        <pagination :data="packages" @pagination-change-page="getResults">
                          <span slot="prev-nav">&lt; Previous</span>
                          <span slot="next-nav">Next &gt;</span>
                        </pagination>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto" v-if="!$gate.isInfluencer()">
      <page-not-found></page-not-found>
    </div>

    <div class="before-footer"></div>

    <!-- subscribers list -->
    <div
      class="modal fade"
      id="subscribersList"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
      v-if="isOpenModal"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Subscribers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Subscrbe Date</th>
                  <th scope="col">Expire Date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(subscriber, index) in subscribers">
                  <th scope="row">{{index + 1}}</th>
                  <td>
                    <router-link
                      target="_blank"
                      :to="{ name: 'profile', params: { username: subscriber.user.username }}"
                    >
                      <span
                        v-if="subscriber.user.first_name"
                      >{{ subscriber.user.first_name | capitalize }} {{ subscriber.user.last_name | capitalize }}</span>
                      <span v-else>{{ subscriber.user.username | capitalize }}</span>
                    </router-link>
                  </td>
                  <td>{{subscriber.created_at | dateformat }}</td>
                  <td>{{subscriber.created_at | addmonth(1) | dateformat }}</td>
                  <td>
                    <div
                      v-if="subscriber.is_active"
                      class="d-inline p-2 bg-success text-white"
                    >Active</div>
                    <div
                      v-if="!subscriber.is_active"
                      class="d-inline p-2 bg-secondary text-white"
                    >Disable</div>
                  </td>
                </tr>
                <tr v-if="subscribers.length == 0">
                  <td colspan="5" class="text-center">No records found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- package create step 1 -->
    <div v-if="$gate.isInfluencer()" class="modal" tabindex="-1" role="dialog" id="package1">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode">Create Package</h5>
            <h5 class="modal-title" v-show="editmode">Update Package</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="JimevoRegister" @submit.prevent="editmode ? updatePackage(1) : createPackage()">
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': form.errors.has('name') || errors.has('name')  }"
                  id="name"
                  v-model="form.name"
                  v-validate="'required'"
                >
                <has-error :form="form" field="name"></has-error>
                <span v-show="errors.has('name')" class="help is-invalid">{{ errors.first('name') }}</span>
              </div>

              <div class="form-group">
                <label for="name">Description</label>
                <textarea
                  name="description"
                  class="form-control"
                  :class="{'is-invalid': form.errors.has('description') || errors.has('description') }"
                  id="description"
                  v-model="form.description"
                  v-validate="'required'"
                ></textarea>
                <has-error :form="form" field="description"></has-error>
                <span
                  v-show="errors.has('description')"
                  class="help is-invalid"
                >{{ errors.first('description') }}</span>
              </div>

              <div class="form-group row">
                <div class="col-12">
                  <label for="name">Number of Messages Included Per Month</label>
                  <p>This includes sent & received messages between you and the subscriber</p>
                </div>
                <div class="col-3">
                  <input
                    name="no_of_message"
                    type="number"
                    min="10"
                    class="form-control"
                    :class="{'is-invalid': form.errors.has('no_of_message') || errors.has('no_of_message') }"
                    id="no_of_message"
                    placeholder="Minium of 10"
                    v-model="form.no_of_message"
                    v-validate="'required'"
                  >
                </div>
                <div class="col-9 pakage-message-month">Message / Month</div>
                <div class="col-12">
                  <has-error :form="form" field="no_of_message"></has-error>

                  <span
                    v-show="errors.has('no_of_message')"
                    class="help is-invalid"
                  >Number of message field required</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- package create step 2 -->
    <div v-if="$gate.isInfluencer()" class="modal" tabindex="-1" role="dialog" id="package2">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Package Step 2</h5>
          </div>
          <form id="JimevoRegister" @submit.prevent="updatePackage()">
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': form.errors.has('name') || errors.has('name') }"
                  id="name"
                  v-model="form.name"
                  v-validate="'required'"
                >
                <span v-show="errors.has('name')" class="help is-invalid">{{ errors.first('name') }}</span>
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <label for="name">Description</label>
                <textarea
                  name="description"
                  class="form-control"
                  :class="{'is-invalid': form.errors.has('description') || errors.has('description') }"
                  id="description"
                  v-model="form.description"
                  v-validate="'required'"
                ></textarea>
                <span
                  v-show="errors.has('description')"
                  class="help is-invalid"
                >{{ errors.first('description') }}</span>
                <has-error :form="form" field="description"></has-error>
              </div>

              <div class="form-group">
                <label for="name">Number of Messages Included Per Month</label>
                <p>This includes sent & received messages between you and the subscriber</p>
                <span>{{ form.no_of_message }}</span>
                <input
                  name="no_of_message"
                  type="number"
                  min="10"
                  class="form-control d-none"
                  :class="{'is-invalid': form.errors.has('no_of_message') || errors.has('no_of_message') }"
                  id="no_of_message"
                  placeholder="Minium of 10"
                  v-model="form.no_of_message"
                  v-validate="'required'"
                > Message / Month
                <has-error :form="form" field="no_of_message"></has-error>
                <span
                  v-show="errors.has('no_of_message')"
                  class="help is-invalid"
                >Number of message field required</span>
              </div>

              <div class="form-group row">
                <div class="col-12">
                  <label for="name">Monthly Subscription Fee Per User</label>
                  <p>How much you will charge each user per month. Must be greater than $3.99</p>
                </div>
                <div class="col-3">
                  <input
                    name="fee"
                    type="number"
                    class="form-control"
                    :class="{'is-invalid': form.errors.has('fee') || errors.has('fee') }"
                    id="fee"
                    v-model="form.fee"
                    v-validate="'required'"
                  >
                </div>
                <div class="col-9 pakage-message-month">Month / User</div>
                <div class="col-12">
                  <span v-show="errors.has('fee')" class="help is-invalid">{{ errors.first('fee') }}</span>
                  <has-error :form="form" field="fee"></has-error>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12">
                  <label for="max_person">Maximum Number of People Who Can Subscribe</label>
                  <p>How many people you want to allow to subscribe to this package</p>
                </div>
                <div class="col-3">
                  <input
                    name="max_person"
                    type="number"
                    class="form-control"
                    :class="{'is-invalid': form.errors.has('max_person') || errors.has('max_person') }"
                    id="max_person"
                    v-model="form.max_person"
                    v-validate="'required'"
                  >
                </div>
                <div class="col-9 pakage-message-month">Users</div>
                <div class="col-12">
                  <span v-show="errors.has('fee')" class="help is-invalid">{{ errors.first('fee') }}</span>
                  <has-error :form="form" field="max_person"></has-error>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- package create step 3 -->
    <div v-if="$gate.isInfluencer()" class="modal" tabindex="-1" role="dialog" id="package3">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Package Step 3</h5>
          </div>
          <form id="JimevoRegister" @submit.prevent="updatePackage2()">
            <div class="modal-body">
              <div class="form-group">
                <label for="name">
                  <strong>Name</strong>
                </label>
                <br>
                <span>{{ form.name }}</span>
              </div>

              <div class="form-group">
                <label for="name">
                  <strong>Description</strong>
                </label>
                <br>
                <span>{{ form.description }}</span>
              </div>

              <div class="form-group">
                <label for="name">Number of Messages Included Per Month</label>
                <p>This includes sent & received messages between you and the subscriber</p>
                <span>{{ form.no_of_message }} Message / User</span>
              </div>

              <div class="form-group">
                <label for="name">Monthly Subscription Fee Per User</label>
                <p>How much you will charge each user per month. Must be greater than $3.99</p>
                {{ form.fee }} Month / User
              </div>

              <div class="form-group">
                <label for="max_person">Maximum Number of People Who Can Subscribe</label>
                <p>How many people you want to allow to subscribe to this package</p>
                <span>{{ form.max_person }} Users</span>
              </div>
              <hr>

              <div class="form-row">
                <div class="col-6">
                  <label>Potential Revenue Per Month</label>
                  <p>${{ form.fee*form.max_person }} ({{ "$"+form.fee+"x"+form.max_person }} Users)</p>
                </div>

                <div class="col-6">
                  <label>JiveMo Management Fee</label>
                  <p>${{ (3.99*form.max_person).toFixed(2) }} ($3.99 x {{ form.max_person }} users)</p>
                </div>
              </div>

              <div class="form-row row">
                <div class="col">
                  <label>Potential Take Home Income Per Month</label>
                  <p>${{ 16*form.max_person }} ($16 x {{ form.max_person }} users)</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="container">
                <div class="row">
                  <div class="col-11 mx-auto">
                    <input
                      name="term_and_conditions"
                      type="checkbox"
                      class="col-1"
                      :class="{'is-invalid': form.errors.has('term_and_conditions') || errors.has('term_and_conditions') }"
                      id="term_and_conditions"
                      v-model="form.term_and_conditions"
                      value="1"
                      v-validate="'required'"
                    >
                    <p
                      class="term-and-contion-text"
                    >I agree to the fees and to abide by the JiveMo Influencer Terms & Condiations</p>
                    <has-error :form="form" field="term_and_conditions"></has-error>
                    <div
                      v-show="errors.has('term_and_conditions')"
                      class="help is-invalid"
                    >Term and Conditions Required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Exit This Package</button>
              <button type="submit" class="btn btn-success">Publish This Package</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isValid: false,
      editmode: false,
      packages: {},
      subscribers: [],
      isOpenModal: false,
      form: new VuForm({
        id: "",
        name: "",
        description: "",
        no_of_message: "",
        fee: "",
        max_person: "",
        term_and_conditions: "",
        my_checkbox: "",
        steps: 1
      })
    };
  },
  methods: {
    subscribersList(subscribers) {
      this.isOpenModal = true;
      this.subscribers = subscribers;
      $("#subscribersList").modal("show");
    },
    openModel() {
      return false;
      this.isOpenModal = true;
      this.editmode = false;
      this.form.reset();
      $("#package1").modal("show");
    },
    createPackage() {
      return false;
      this.isValid = false;
      this.$validator
        .validateAll({
          name: this.form.name,
          description: this.form.description,
          no_of_message: this.form.no_of_message
        })
        .then(result => {
          if (result) {
            this.editmode = false;
            this.$Progress.start();
            this.form.post("/api/package").then(
              ({ data }) => {
                this.form.fill(data);
                this.$Progress.finish();
                $("#package1").modal("hide");
                $("#package2").modal("show");

                toast({
                  type: "success",
                  title: "Created successfully"
                });
                //custom event fire
                Fire.$emit("AfterCreated");
              },
              err => {
                this.$Progress.fail();

                if (err && err.response) {
                  toast({
                    type: "error",
                    title: err.response.data.message
                  });
                }
                if (err.response.status == 401) {
                  this.$router.push({ path: "/login" });
                }
              }
            );
          } else {
            // eslint-disable-next-line
            toast({
              type: "error",
              title: "Please check all input erros"
            });
            this.isValid = false;
          }
        });
    },

    updatePackage(first_modal) {
      this.$validator
        .validateAll({
          name: this.form.name,
          description: this.form.description,
          no_of_message: this.form.no_of_message,
          fee: this.form.fee,
          max_person: this.form.max_person
        })
        .then(result => {
          if (result) {
            this.form.steps = 2;
            this.$Progress.start();
            this.form.put("/api/package/" + this.form.id).then(
              ({ data }) => {
                this.$Progress.finish();
                if (!first_modal) {
                  $("#package1").modal("hide");
                  $("#package2").modal("hide");
                  $("#package3").modal("show");
                } else {
                  $("#package1").modal("hide");
                  $("#package2").modal("show");
                }

                toast({
                  type: "success",
                  title: "Updated successfully"
                });
                //custom event fire
                Fire.$emit("AfterCreated");
              },
              err => {
                this.$Progress.fail();

                if (err && err.response) {
                  toast({
                    type: "error",
                    title: err.response.data.message
                  });
                }
                if (err.response.status == 401) {
                  this.$router.push({ path: "/login" });
                }
              }
            );
          } else {
            toast({
              type: "error",
              title: "Please check all input erros"
            });
          }
        });

      this.form.steps = 2;
      this.$Progress.start();
      this.form.put("/api/package/" + this.form.id).then(
        ({ data }) => {
          this.$Progress.finish();
          if (!first_modal) {
            $("#package1").modal("hide");
            $("#package2").modal("hide");
            $("#package3").modal("show");
          } else {
            $("#package1").modal("hide");
            $("#package2").modal("show");
          }

          toast({
            type: "success",
            title: "Updated successfully"
          });
          //custom event fire
          Fire.$emit("AfterCreated");
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
          if (err.response.status == 401) {
            this.$router.push({ path: "/login" });
          }

          if (err.response.status == 403) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
        }
      );
    },
    updatePackage2() {
      this.form.steps = 3;
      this.$validator
        .validateAll({
          term_and_conditions: this.form.term_and_conditions
        })
        .then(result => {
          if (result) {
            this.$Progress.start();
            this.form.put("/api/package/" + this.form.id).then(
              ({ data }) => {
                this.$Progress.finish();
                $("#package3").modal("hide");

                toast({
                  type: "success",
                  title: "Publish successfully"
                });
                //custom event fire
                Fire.$emit("AfterCreated");
              },
              err => {
                this.$Progress.fail();
                if (err && err.response) {
                  toast({
                    type: "error",
                    title: err.response.data.message
                  });
                }
                if (err.response.status == 401) {
                  this.$router.push({ path: "/login" });
                }
              }
            );
          } else {
            toast({
              type: "error",
              title: "Please agree term and conditions"
            });
          }
        });
    },
    editPackage(p) {
      return false;
      this.editmode = true;
      this.form.fill(p);
      $("#package1").modal("show");
    },
    deletePackage(id) {
      return false;
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.form
            .delete("/api/package/" + id)
            .then(() => {
              Fire.$emit("AfterCreated");
              Swal("Deleted!", "User has been deleted.", "success");
            })
            .catch(() => {
              Swal("Deleted!", "User Not deleted please try again.", "error");
            });
        }
      });
    },
    getPackages() {
      if (!this.$gate.isInfluencer()) return;
      // check chef list from store
      if (
        this.$store.getters.packages &&
        this.$store.getters.packages.data &&
        this.$store.getters.packages.data.length
      ) {
        this.packages = this.$store.getters.packages;
        return;
      }
      this.fetch();
    },
    fetch() {
      this.$Progress.start();
      axios.get("/api/package").then(
        response => {
          this.packages = response.data;
          this.$Progress.finish();
          //store data
          this.$store.commit("setPackages", this.packages);
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
          if (err.response.status == 401) {
            this.$router.push({ path: "/login" });
          }
        }
      );
    },
    getResults(page = 1) {
      if (!this.$gate.isInfluencer()) return;
      this.$Progress.start();
      axios.get("/api/package?page=" + page).then(
        response => {
          this.packages = response.data;
          this.$Progress.finish();
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
          if (err.response.status == 401) {
            this.$router.push({ path: "/login" });
          }
        }
      );
    }
  },

  mounted() {
    console.log("Component mounted.");
    this.getPackages();
    Fire.$on("AfterCreated", () => {
      this.fetch();
    });
  }
};
</script>
