<template>
    <div>
        <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
            <div class="mx-auto">
                <div class="jivemo-profile-bottom package-page phone-page pb-4">
                    <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
                        <div class="profile-bottom-container">
                            <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                        <tab-list></tab-list>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                                        <div class="tab_container">
                                        <div id="tab1" class="tab_content" style="display: block;">
                                            <ul class="heading">
                                            <li>View Connections :</li>
                                            <li class="active">Active</li>
                                            <li>De-Activated</li>
                                            </ul>
                                            <div class="table-responsive">
                                            <table class="table connection">
                                                <thead>
                                                <tr class="user">
                                                    <td>Username</td>
                                                    <td>Number</td>
                                                    <td>Texting Package</td>
                                                    <td>Action</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>JohnnyUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>Pay as You Go</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                        <div id="tab2" class="tab_content" style="display: none;">
                                            <ul class="heading">
                                            <li>View Connections :</li>
                                            <li class="active">Active</li>
                                            <li>De-Activated</li>
                                            </ul>
                                            <div class="table-responsive">
                                            <table class="table connection">
                                                <thead>
                                                <tr class="user">
                                                    <td>Username</td>
                                                    <td>Number</td>
                                                    <td>Texting Package</td>
                                                    <td>Action</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>JohnnyUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>Pay as You Go</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                        <div id="tab3" class="tab_content" style="display: none;">
                                            <ul class="heading">
                                            <li>View Connections :</li>
                                            <li class="active">Active</li>
                                            <li>De-Activated</li>
                                            </ul>
                                            <div class="table-responsive">
                                            <table class="table connection">
                                                <thead>
                                                <tr class="user">
                                                    <td>Username</td>
                                                    <td>Number</td>
                                                    <td>Texting Package</td>
                                                    <td>Action</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>JohnnyUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>Pay as You Go</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PatrickUser</td>
                                                    <td>414-232-3321</td>
                                                    <td>$14.99 Per Month</td>
                                                    <td>
                                                    <a href="#">View Messages</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="footer-margin before-footer"></div>
    </div>
</template>