<template>
  <div>
    <loading :show="show"></loading>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container">
                      <div id="tab1" class="tab_content" style="display: block;">
                        <ul class="heading">
                          <li>Billings</li>
                        </ul>
                        <div>
                          <hr>
                          <div>
                            <div>
                              <strong>Credit Card to Be Charged</strong>
                              <span v-for="card in validCards" class="pr-3">
                                <br>
                                {{ card.brand }} ****{{ card.last4}} - {{ card.expireMonth }}/{{ card.expireYear }}
                              </span>

                              <a
                                v-on:click="hideShowCard"
                                href="javascript:void(0)"
                                v-if="validCards.length"
                                action="update"
                                class="pull-right payment-method-up"
                              >Update Credit Card</a>
                              <a
                                v-on:click="hideShowCard"
                                href="javascript:void(0)"
                                action="add"
                                v-if="!validCards.length"
                                class="pull-right payment-method-up ml-3"
                              >
                                <strong>Add Credit Card</strong>
                              </a>
                            </div>

                            <form @submit.prevent="Submit" v-if="showCardForm">
                              <div class="middle confirm-page mt-2">
                                <div
                                  class="form-group error"
                                  v-show="stripeErrors.message"
                                >{{ stripeErrors.message }}</div>

                                <div class="form-row">
                                  <div class="form-group col">
                                    <label for="cartholder">Cardholder Name</label>
                                    <input
                                      name="cartholder"
                                      type="text"
                                      class="form-control"
                                      :class="{'is-invalid': form.errors.has('cartholder') || errors.has('cartholder') }"
                                      id="cartholder"
                                      placeholder="Name  on  Credit  Card"
                                      v-model="form.cartholder"
                                      v-validate="'required'"
                                    >

                                    <has-error :form="form" field="cartholder"></has-error>
                                    <span
                                      v-show="errors.has('cartholder')"
                                      class="help is-invalid"
                                    >Cardholder Name field required</span>
                                  </div>

                                  <div class="form-group col">
                                    <label for="cartnumber">Card Number</label>
                                    <card-number
                                      class="stripe-element card-number form-control"
                                      ref="cardNumber"
                                      :stripe="stripe"
                                      :options="stripeOptions"
                                      @change="number = $event.complete"
                                    />
                                    <span
                                      v-if="stripeErrors.code == 'incomplete_number' || stripeErrors.code == 'invalid_number' || stripeErrors.code == 'incorrect_number'"
                                      class="help is-invalid"
                                    >{{ stripeErrors.message }}</span>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <div class="form-group">
                                      <label for="cartexpiredate">Expiration</label>
                                      <card-expiry
                                        class="stripe-element card-expiry form-control"
                                        ref="cardExpiry"
                                        :stripe="stripe"
                                        :options="stripeOptions"
                                        @change="expiry = $event.complete"
                                      />
                                      <span
                                        v-if="stripeErrors.code == 'incomplete_expiry' || stripeErrors.code == 'invalid_expiry_year_past'"
                                        class="help is-invalid"
                                      >{{ stripeErrors.message }}</span>
                                    </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <div class="form-group">
                                      <label for="cartpassword">Security Code</label>
                                      <card-cvc
                                        class="stripe-element card-cvc form-control"
                                        ref="cardCvc"
                                        :stripe="stripe"
                                        :options="stripeOptions"
                                        @change="cvc = $event.complete"
                                      />
                                      <span
                                        v-if="stripeErrors.code == 'incomplete_cvc'"
                                        class="help is-invalid"
                                      >{{ stripeErrors.message }}</span>
                                    </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <div class="form-group">
                                      <label for="zipcode">Zip Code</label>
                                      <input
                                        name="zipcode"
                                        type="text"
                                        class="form-control"
                                        :class="{'is-invalid': form.errors.has('zipcode') || errors.has('zipcode') }"
                                        id="zipcode"
                                        placeholder="Zip  Code  Associated  with  Card"
                                        v-model="form.zipcode"
                                        v-validate="'required'"
                                        pattern="[0-9]*"
                                      >
                                      <has-error :form="form" field="zipcode"></has-error>
                                      <span
                                        v-show="errors.has('zipcode')"
                                        class="help is-invalid"
                                      >Zip Code field required</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <input type="submit" value="Update Card" class="btn btn-primary m-0">
                            </form>
                          </div>
                        </div>

                        <hr>
                        <ul class="heading">
                          <li>Active Subscriptions:</li>
                        </ul>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr class="user">
                                <td>Package</td>
                                <td>Amount</td>
                                <td>Next Charge</td>
                                <td>Action</td>
                              </tr>
                            </thead>
                            <tbody v-if="connections.data && connections.data.length > 0">
                              <tr v-for="connection in connections.data" v-if="connection.package">
                                <td>
                                  <a href="javascript:void(0)">{{ connection.package.name }}</a>
                                </td>
                                <td class="ml-1">${{ connection.package.fee }}</td>
                                <td class="ml-1"><span v-if="connection.is_active == 0">Ends: </span>{{ connection.next_payment_date }}</td>
                                <td class="ml-1">
                                  <a
                                    v-if="connection.is_active == 1"
                                    href="javascript:void(0)"
                                    v-on:click="cancelPackage"
                                    data-action="cancel"
                                    :data-packageid="connection.id"
                                  >Cancel</a>
                                  <span v-if="connection.is_active == 0">Cancelled on {{ connection.updated_at}}</span>
                                </td>
                              </tr>
                            </tbody>
                            <tbody v-if="connections.data && connections.data.length == 0">
                              <tr>
                                <td colspan="4" class="text-center border-bottom">No items found.</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="4">
                                  <pagination
                                    :data="connections"
                                    @pagination-change-page="getbillingsPagination"
                                  >
                                    <span slot="prev-nav">&lt; Previous</span>
                                    <span slot="next-nav">Next &gt;</span>
                                  </pagination>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-margin before-footer"></div>
  </div>
</template>
<script>
import {
  CardNumber,
  CardExpiry,
  CardCvc,
  createToken
} from "vue-stripe-elements-plus";
import { _ } from "vue-underscore";

export default {
  components: { CardNumber, CardExpiry, CardCvc, loading },
  data() {
    return {
      show: false,
      connections: {},
      validCards: {},
      user: {},
      form: new VuForm({
        id: "",
        payment_id: "",
        payment_method: "stripe",
        stripeToken: null,
        cartholder: null,
        zipcode: null
      }),
      cancelForm: new VuForm({
        id: null
      }),
      stripe: STRIPE_API_KEY,
      stripeOptions: {
        // see https://stripe.com/docs/stripe.js#element-options for details
      },
      stripeErrors: {},
      showCardForm: false
    };
  },
  methods: {
    getbillings() {
      if (
        this.$store.getters.bconnections &&
        this.$store.getters.bconnections.data &&
        this.$store.getters.validCards &&
        this.$store.getters.validCards.length
      ) {
        this.connections = this.$store.getters.bconnections;
        this.validCards = this.$store.getters.validCards;
        return;
      }

      this.$Progress.start();
      axios.get("/api/billings").then(
        response => {
          this.connections = response.data.connections;
          this.validCards = response.data.validCards;
          this.$Progress.finish();

          //store
          this.$store.commit("setbConnections", this.connections);
          this.$store.commit("setValidCards", this.validCards);
        },
        err => {
          this.$Progress.fail();
          if (err.response.status == 401) {
            // this.$router.push({ path: "/login" });
            window.auth_user = null;
            window.location.href = "/login";
          }
        }
      );
    },
    getbillingsPagination(page = 1) {
      this.$Progress.start();
      axios.get("/api/billings?page=" + page).then(
        response => {
          this.connections = response.data.connections;
          this.$Progress.finish();
        },
        err => {
          this.$Progress.fail();
          if (err.response.status == 401) {
            this.$router.push({ path: "/login" });
          }
        }
      );
    },
    hideShowCard(e) {
      var action = e.currentTarget.getAttribute("action");
      if (this.showCardForm) this.showCardForm = false;
      else this.showCardForm = true;
    },
    update() {
      this.complete = this.number && this.expiry && this.cvc;

      // field completed, find field to focus next
      if (this.number) {
        if (!this.expiry) {
          this.$refs.cardExpiry.focus();
        } else if (!this.cvc) {
          this.$refs.cardCvc.focus();
        }
      } else if (this.expiry) {
        if (!this.cvc) {
          this.$refs.cardCvc.focus();
        } else if (!this.number) {
          this.$refs.cardNumber.focus();
        }
      }
      // no focus magic for the CVC field as it gets complete with three
      // numbers, but can also have four
    },
    Submit() {
      this.$validator
        .validateAll({
          cartholder: this.form.cartholder,
          zipcode: this.form.zipcode
        })
        .then(result => {
          if (result) {
            this.show = true;
            this.stripeErrors = {};
            var additionalData = {
              name: this.form.cartholder,
              address_zip: this.form.zipcode
            };

            createToken(additionalData).then(data => {
              if (data.error) {
                this.stripeErrors = data.error;
                this.show = false;
              }
              if (data.token) {
                this.form.stripeToken = data.token.id;
                this.submitForm();
              }
            });
          }
        });
    },
    submitForm() {
      // submit form with ajax
      var cartHolderIsValid = /^[a-zA-Z ]+$/.test(this.form.cartholder);
      if (cartHolderIsValid) {
      this.show = true;
      this.$Progress.start();
      this.form
        .post("/api/billing/updateCard")
        .then(
          response => {
            this.$Progress.finish();
            this.show = false;
            Swal("Congratulation", response.data.message, "success");

            this.showCardForm = false;
            this.$router.go(0);
          },
          err => {
            this.$Progress.fail();
            this.show = false;
            if (err && err.response) {
              Swal("Oops", err.response.data.message, "error");
            }

             if (err && err.response) {
                toast({
                  type: "error",
                  title: err.response.data.message
                });
              }

            if (err.response.status == 401) {
              this.$router.push({ path: "/login" });
            }
            if (err.response.status == 403) {
              toast({
                  type: "error",
                  title: err.response.data.message
                });
            }
          }
        )
        .catch(e => {
          this.show = false;
          this.$Progress.fail();
          console.log("Caught", e);
        });
      } else {
        this.show = false;
        this.$Progress.fail();
        toast({
          type: "error",
          title: "Invalid Cardholder name. Use letters only"
        });
      }
    },
    cancelPackage(e) {
      this.cancelForm.id = e.currentTarget.dataset.packageid;
      var action = e.currentTarget.dataset.action;
      var prompt_title = "Are you sure you want to cancel?";
      if (action == "cancel") {
        var text = "Canceling subscription will prevent you from being charged next month. You will be able to use up your remaining messages until this month's subscription ends.";
        var btnText = "Yes, cancel it!";
      } else {
        prompt_title = "Are you sure?";
        var text = "You can cancel anytime!";
        var btnText = "Yes, active it!";
      }
      Swal.fire({
        title: "Are you sure?",
        text: text,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: btnText
      }).then(result => {
        if (result.value) {
          this.cancelPackageRequest();
        }
      });
    },
    cancelPackageRequest() {
      // submit form with ajax
      this.show = true;
      this.$Progress.start();
      this.show = true;
      this.cancelForm
        .post("/api/connection/cancel")
        .then(
          response => {
            this.$Progress.finish();
            this.show = false;
            Swal("Congratulation", response.data.message, "success");
            var findIndex = _.findIndex(this.connections.data, {
              id: parseInt(this.cancelForm.id)
            });
            if (findIndex > -1) {
              this.connections.data[findIndex].is_active =
                response.data.conn_status;
            }
          },
          err => {
            this.$Progress.fail();
            this.show = false;
            if (err && err.response) {
              Swal("Oops", err.response.data.message, "error");
            }

            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }

            if (err.response.status == 401) {
              this.$router.push({ path: "/login" });
            }

            if (err.response.status == 403) {
              if (err.response.data.redirect)
                this.$router.push({ path: err.response.data.redirect });
            }
            if (err.response.status == 404) {
              location.href = "/404";
            }
          }
        )
        .catch(e => {
          this.show = false;
          this.$Progress.fail();
          console.log("Caught", e);
        });
    },
    loadScript() {
      let recaptchaScript = document.createElement("script");
      recaptchaScript.setAttribute("src", "https://js.stripe.com/v3/");
      document.head.appendChild(recaptchaScript);
    }
  },

  watch: {
    number() {
      this.update();
    },
    expiry() {
      this.update();
    },
    cvc() {
      this.update();
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.getbillings();
    this.loadScript();
  }
};
</script>
<style scoped>
.stripe-element {
  height: 50px;
  padding: 13px 10px;
}
</style>

