<template>
  <div>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container">
                      <div id="tab1" class="tab_content" style="display: block;">
                        <ul class="heading">
                          <li>Blocked Users:</li>
                        </ul>
                        <div class="table-responsive">
                          <table class="table connection">
                            <thead>
                              <tr class="user">
                                <td>Username</td>
                                <td>Date</td>
                                <td>Action</td>
                              </tr>
                            </thead>
                            <tbody v-if="blockusers.data">
                              <tr v-for="blockuser in blockusers.data">
                                  <td><router-link :to="{ name: 'profile', params: { username: blockuser.user.username }}">{{ blockuser.user.username  }}</router-link></td>
                                  <td>{{ blockuser.created_at  }}</td>
                                  <td>
                                    <button type="button" class="btn btn-success" @click.prevent="UnblockUser(blockuser.id)" >Unblock</button>
                                  </td>
                                </tr>
                                <pagination :data="blockusers" @pagination-change-page="getBlockUserPagination">
                                  <span slot="prev-nav">&lt; Previous</span>
                                  <span slot="next-nav">Next &gt;</span>
                                </pagination>
                            </tbody>
                            <tbody v-else>
                              <tr>
                                <td colspan="4" class="text-center">No items found.</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-margin before-footer"></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      blockusers: {},
      form: new VuForm({
        id: "",
      })
    };
  },
  methods: {
    UnblockUser(id) {
      Swal({
        title: "Are you sure?",
        text: "Unblock this user!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Unblock it!"
      }).then(result => {
        if (result.value) {
          this.form
            .delete("/api/blockuser/" + id)
            .then(() => {
              Fire.$emit("AfterCreated");
              Swal("Unblock!", "User has been unblocked.", "success");
            })
            .catch(() => {
              Swal("Unblock!", "User Not unblock please try again.", "error");
            });
        }
      });
    },
    getBlockUser() {
      this.$Progress.start();
      axios.get("/api/blockuser").then(
        response => {
          this.blockusers = response.data;
          this.$Progress.finish();
        },
        err => {
          this.$Progress.fail();

          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }

          if (err.response.status == 401) {
            this.$router.push({ path: "/admin-login" });
          }
        }
      );
    },
    getBlockUserPagination(page = 1) {
      this.$Progress.start();
      axios.get("/api/blockuser?page=" + page).then(
        response => {
          this.blockusers = response.data;
          this.$Progress.finish();
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }

          if (err.response.status == 401) {
            this.$router.push({ path: "/admin-login" });
          }
        }
      );
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.getBlockUser();
    Fire.$on("AfterCreated", () => {
      this.getBlockUser();
    });
  }
};
</script>
