<template>
  <div>
    <loading :show="show"></loading>
    <div class="hero-image-wrapper">
      <div class="mx-auto">
        <!-- jivemo-profile-bottom -->
        <div class="jivemo-profile-bottom package-page py-5">
          <div class="jivemo-profile-bottom-outer-wrapper confirm col-11 mx-auto pb-5">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper">
                <div class="row pt-5">
                  <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="message-packages">
                      <form
                        id="checkoutForm"
                        name="checkoutForm"
                        @submit.prevent="Submit"
                        v-if="pkg && pkg.user && $gate.getUserId() !== pkg.user.id"
                      >
                        <div class="middle confirm p-4">
                          <h5>Texting Package</h5>
                          <div class="table-responsive">
                            <table class="table confirm">
                              <tbody>
                                <tr>
                                  <td>Package Name</td>
                                  <td>{{ pkg.name }}</td>
                                </tr>
                                <tr>
                                  <td>Texting With</td>
                                  <td>{{ pkg.user.username }}</td>
                                </tr>

                                <tr>
                                  <td>Monthly Fee</td>
                                  <td>${{cardInfo.packageFee.toFixed(2) }} (Recurring each month)</td>
                                </tr>
                                <tr>
                                  <td>Included Messages</td>
                                  <td>Send & receive up to {{ pkg.no_of_message }} messages per month</td>
                                </tr>

                                <tr>
                                  <td>Total</td>
                                  <td>${{ cardInfo.total }} (next ${{cardInfo.nextMonthFee}} charge {{ cardInfo.nextMonthDate}})</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="old-card-list" v-if="pkg.valid_cards.length">
                          <div v-for="card in pkg.valid_cards">
                            <label class="title">
                              <input
                                type="radio"
                                class="source"
                                name="source"
                                :value="card.id"
                                v-on:click="hideShowCard"
                              >
                              {{ card.brand }} ending {{ card.last4}}
                            </label>
                            <div :id="card.id" class="cardDetail col-xs-12 col-sm-12">
                              <p>
                                <span class="card_name">{{ card.name }}</span>
                                <br>
                                <span
                                  class="card_expire"
                                >Expiry On: {{ card.expireMonth }} /{{ card.expireYear }}</span>
                              </p>
                            </div>
                          </div>
                          <label class="title">
                            <input
                              type="radio"
                              class="source"
                              name="source"
                              value="new_card"
                              v-on:click="hideShowCard"
                            > New Card
                          </label>
                        </div>
                        <div class="middle confirm-page" v-if="is_new_card">
                          <div class="form-group">
                            <label for="cartholder">Cardholder Name</label>
                            <input
                              name="cartholder"
                              type="text"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('cartholder') || errors.has('cartholder') }"
                              id="cartholder"
                              placeholder="Name  on  Credit  Card"
                              v-model="form.cartholder"
                              v-validate="'required'"
                              :maxlength="250"
                              maxlength="250"
                            >
                            <has-error :form="form" field="cartholder"></has-error>
                            <span
                              v-show="errors.has('cartholder')"
                              class="help is-invalid"
                            >Cardholder Name field required</span>
                          </div>

                          <div
                            class="form-group error"
                            v-show="stripeErrors.message"
                          >{{ stripeErrors.message }}</div>

                          <div class="form-group">
                            <label for="cartnumber">Card Number</label>
                            <card-number
                              class="stripe-element card-number form-control"
                              ref="cardNumber"
                              :stripe="stripe"
                              :options="stripeOptions"
                              @change="number = $event.complete"
                            />
                            <span
                              v-if="stripeErrors.code == 'incomplete_number' || stripeErrors.code == 'invalid_number' || stripeErrors.code == 'incorrect_number'"
                              class="help is-invalid"
                            >{{ stripeErrors.message }}</span>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <div class="form-group">
                                <label for="cartexpiredate">Expiration</label>
                                <card-expiry
                                  class="stripe-element card-expiry form-control"
                                  ref="cardExpiry"
                                  :stripe="stripe"
                                  :options="stripeOptions"
                                  @change="expiry = $event.complete"
                                />
                                <span
                                  v-if="stripeErrors.code == 'incomplete_expiry' || stripeErrors.code == 'invalid_expiry_year_past'"
                                  class="help is-invalid"
                                >{{ stripeErrors.message }}</span>
                              </div>
                            </div>
                            <div class="form-group col-md-4">
                              <div class="form-group">
                                <label for="cartpassword">Security Code</label>
                                <card-cvc
                                  class="stripe-element card-cvc form-control"
                                  ref="cardCvc"
                                  :stripe="stripe"
                                  :options="stripeOptions"
                                  @change="cvc = $event.complete"
                                />
                                <span
                                  v-if="stripeErrors.code == 'incomplete_cvc'"
                                  class="help is-invalid"
                                >{{ stripeErrors.message }}</span>
                              </div>
                            </div>
                            <div class="form-group col-md-4">
                              <div class="form-group">
                                <label for="zipcode">Zip Code</label>
                                <input
                                  name="zipcode"
                                  type="text"
                                  class="form-control stripe-element"
                                  :class="{'is-invalid': form.errors.has('zipcode') || errors.has('zipcode') }"
                                  id="zipcode"
                                  placeholder="Zip  Code  Associated  with  Card"
                                  v-model="form.zipcode"
                                  v-validate="'required'"
                                  maxlength="20"
                                  :maxlength="20"
                                  pattern="[0-9]*"
                                >
                                <has-error :form="form" field="zipcode"></has-error>
                                <span
                                  v-show="errors.has('zipcode')"
                                  class="help is-invalid"
                                >Zip Code field required</span>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="form-check">
                              <input
                                name="is_agree"
                                type="checkbox"
                                class="form-check-input"
                                :class="{'is-invalid': form.errors.has('is_agree') || errors.has('is_agree') }"
                                id="is_agree"
                                value="1"
                                v-model="form.is_agree"
                                v-validate="'required:true'"
                              >

                              <span>I agree to the monthly recurring charge of ${{cardInfo.packageFee.toFixed(2) }}</span>
                              <span
                                v-show="errors.has('is_agree')"
                                class="help is-invalid"
                              >* I Agree field required</span>
                            </div>
                          </div>
                        </div>
                        <input
                          type="submit"
                          value="Purchase this Package"
                          class="btn btn-primary m-0"
                        >
                      </form>

                      <div
                        class="not-authorize text-center"
                        v-if="pkg && pkg.user && $gate.getUserId() == pkg.user.id"
                      >
                        <h3 class="title">You can't checkout your own package</h3>
                        <router-link to="/" class="btn btn-success">Back To Home</router-link>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 offset-lg-1 col-md-5 col-sm-12 col-12">
                    <div class="how-it-works confirm p-4" v-if="pkg.user">
                      <h4 class="text-uppercase">What's Next</h4>
                      <div class="how-it-works-single-section">
                        <p>Once your charge is approved you can start texting {{ pkg.user.username }}. You will receive a text message from the phone number you can use to text {{ pkg.user.username }}.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="before-footer"></div>
  </div>
</template>

<style scoped>
.stripe-element {
  height: 49px;
  padding-top: 11px;
}
.stripe-card.complete {
  border-color: green;
}
</style>

<script>
import {
  CardNumber,
  CardExpiry,
  CardCvc,
  createToken
} from "vue-stripe-elements-plus";

/** moment */
var moment = require("moment-timezone");

export default {
  props: ["id", "addedBalance"],

  components: { CardNumber, CardExpiry, CardCvc, loading },
  data() {
    return {
      cardInfo: {
        packageFee: null,
        msgFee: 0.08,
        currentBalance: 0,
        additionalBalance: 0,
        total: null,
        nextMonthFee: null,
        nextMonthDate: ""
      },
      is_new_card: false,
      show: false,
      stripeErrors: {},
      stripe: STRIPE_API_KEY,
      complete: false,
      number: false,
      expiry: false,
      cvc: false,
      stripeOptions: {
        // see https://stripe.com/docs/stripe.js#element-options for details
      },
      pkg: [],
      form: new VuForm({
        seller_id: null,
        package_id: null,
        additionalBalance: null,
        cartholder: null,
        zipcode: null,
        is_agree: false,
        stripeToken: null
      })
    };
  },
  methods: {
    hideShowCard(e) {
      var card = e.currentTarget.getAttribute("value");
      if (card == "new_card") {
        this.is_new_card = true;
        this.form.stripeToken = null;
      } else {
        this.is_new_card = false;
        this.form.stripeToken = card;
      }
    },
    getData() {
      this.$Progress.start();
      axios
        .get("/api/package/" + this.$route.params.id)
        .then(
          response => {
            if (response.status == 208) {
              Swal("Oops", response.data.error, "error");
              this.$router.push({ path: "/connection" });
            }
            //validate max_person limit
            if (this.pkg.subscribers_count >= this.pkg.max_person) {
              Swal(
                "Oops",
                "This package already reached max person limit!!",
                "error"
              );
              this.$router.push({ path: "/connection" });
            }

            // if status 200
            this.pkg = response.data;
            this.form.package_id = this.pkg.id;
            this.form.seller_id = this.pkg.user.id;

            this.cardInfo.packageFee = this.pkg.fee;
            this.$Progress.finish();

            this.form.additionalBalance = this.cardInfo.additionalBalance;
            this.calculateTotal();

            if (this.pkg.valid_cards.length == 0) {
              this.is_new_card = true;
            }
          },
          err => {
            this.$Progress.fail();
            if (err && err.response) {
              Swal("Oops", err.response.data.message, "error");
              toast({
                type: "error",
                title: err.response.data.message
              });
            }
            if (err.response.status == 401) {
              location.href = "/login?redirect=checkout-" + this.$route.params.id
            }
            

            if (err.response.status == 404) {
              window.auth_user = null;
              window.location.href = "/login";
            }
          }
        )
        .catch(e => {
          this.$Progress.fail();
          console.log("Caught", e);
        });
    },
    Submit() {
      if (this.is_new_card) {
        this.$validator.validateAll().then(result => {
          if (result) {
            this.show = true;
            this.$Progress.start();

            this.stripeErrors = {};
            var additionalData = {
              name: this.form.cartholder,
              address_zip: this.form.zipcode
            };

            createToken(additionalData).then(
              data => {
                this.show = false;
                if (data.error) {
                  this.stripeErrors = data.error;
                }
                if (data.token) {
                  this.form.stripeToken = data.token.id;
                  this.submitForm();
                }
              },
              err => {
                $("#checkoutForm").removeAttr("disabled");
                this.show = true;
                this.$Progress.fail();

                if (err.response.status == 401) {
                  window.auth_user = null;
                  window.location.href = "/login";
                }

                if (err.response.status == 403) {
                  toast({
                      type: "error",
                      title: err.response.data.message
                    });
                }
                
              }
            );
          }
        });
      } else {
        this.submitForm();
      }
    },
    submitForm() {
      // submit form with ajax
      this.show = true;
      this.$Progress.start();

      //disable form btn to prevent double click
      $("#checkoutForm").attr("disabled", "disabled");

      this.form
        .post("/api/checkout")
        .then(
          response => {
            this.$Progress.finish();
            this.show = false;

            Swal("Congratulation", response.data.message, "success");
            this.$router.push({ path: "/connection" });
          },
          err => {
            this.$Progress.fail();
            this.show = false;
            $("#checkoutForm").removeAttr("disabled");
            if (err && err.response) {
              Swal("Oops", err.response.data.message, "error");
            }

            if (err.response.status == 403) {
              this.$router.push({ path: err.response.data.redirect });
            }

            if (err.response.status == 401) {
                location.href = "/login?redirect=checkout-" + this.route.params.id;
            }

            if (err.response.status == 404) {
              location.href = "/404";
            }
          }
        )
        .catch(e => {
          this.show = false;
          this.$Progress.fail();
          console.log("Caught", e);
          $("#checkoutForm").attr("disabled", "disabled");
        });
    },
    update() {
      this.complete = this.number && this.expiry && this.cvc;

      // field completed, find field to focus next
      if (this.number) {
        if (!this.expiry) {
          this.$refs.cardExpiry.focus();
        } else if (!this.cvc) {
          this.$refs.cardCvc.focus();
        }
      } else if (this.expiry) {
        if (!this.cvc) {
          this.$refs.cardCvc.focus();
        } else if (!this.number) {
          this.$refs.cardNumber.focus();
        }
      }
      // no focus magic for the CVC field as it gets complete with three
      // numbers, but can also have four
    },
    calculateTotal() {
      //calculate card Info 10/28/18
      this.cardInfo.nextMonthDate = moment()
        .add(1, "M")
        .format("MM/DD/YYYY");

      this.cardInfo.total =
        this.cardInfo.packageFee + parseFloat(this.cardInfo.additionalBalance);
      this.cardInfo.nextMonthFee = this.cardInfo.packageFee;

      this.form.additionalBalance = parseFloat(this.cardInfo.additionalBalance);
    },
    loadScript() {
      let recaptchaScript = document.createElement("script");
      recaptchaScript.setAttribute("src", "https://js.stripe.com/v3/");
      document.head.appendChild(recaptchaScript);
    }
  },
  watch: {
    number() {
      this.update();
    },
    expiry() {
      this.update();
    },
    cvc() {
      this.update();
    },
    calculateTotal() {
      this.calculateTotal();
    }
  },
  created() {
    console.log("Component mounted 44.");
    this.getData();
  },
  mounted() {
    this.loadScript();
  }
};
</script>