<template>
  <div class="edit-profile-wrapper hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
    <loading :show="show"></loading>
    <div class="mx-auto">
      <div class="jivemo-profile-bottom package-page phone-page row pb-4">
        <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
          <div class="profile-bottom-container">
            <div class="jivemo-profile-bottom-inner-wrapper pb-4">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <tab-list></tab-list>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                  <div class="tab_container1" id="ajax-content">
                    <div id="packages" class style>
                      <div class="manage-packages-section">
                        <div class="manage-title">
                          <h4>Edit Profile</h4>
                        </div>
                        <div class="view-profile" v-if="$gate.isInfluencer()">
                          <router-link :to="{ name: 'profile', params: { username: user.username }}">View Profile</router-link>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="edit password-change">
                    <h5>Password</h5>
                    <a href="/password/reset">Change Password</a>
                  </div>

                  <div class="edit veryfiy-phone-no mt-5">
                    <h5>Cell Phone Number</h5>
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3" v-if="user.phone">
                        <div class="number">{{ user.phone.phone_no | MaskPhoneNumbers}}</div>
                      </div>
                      <div
                        class="col-lg-9 col-md-9 col-sm-9"
                        v-if="user.phone && !user.phone.is_verified"
                      >
                        <router-link :to="{name:'verify_phone'}">Verify a Phone Number</router-link>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9" v-if="!user.phone">
                        <router-link :to="{name:'verify_phone'}">Add Phone Number</router-link>
                      </div>

                      <div
                        class="col-lg-9 col-md-9 col-sm-9"
                        v-if="user.phone && user.phone.is_verified"
                      >
                        <router-link
                          :to="{name:'verify_phone', params: { update: 1 }}"
                        >Change Phone Number</router-link>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!-- commente  -->
                  <div
                    v-if="$gate.isInfluencer() || user.id == 1 "
                    class="edit private-profile mt-5"
                  >
                    <form id="JimevoRegister" @submit.prevent="updateUser()">

                      <label for class="row mt-5">
                        <div v-if="form.profile_image" class="col-lg-3 col-sm-3 col-3">
                          <div v-if="form.profile_image &&  form.profile_image.length > 50">
                            <img
                              v-if="form.profile_image"
                              v-bind:src="form.profile_image"
                              class="img-thumbnail"
                            >
                          </div>
                          <div v-else>
                            <img
                              v-if="user.profile_image"
                              v-bind:src="'/images/uploads/'+form.profile_image"
                              alt="User profile"
                              class="img-thumbnail"
                            >
                          </div>
                          
                        </div>
                        <div class="col-lg-9 col-sm-9 col-9">
                          <div class="form-group">
                            <label for="profile_image">Profile Image</label>
                            <br>
                            <div class="upload-btn-wrapper">
                              <button class="btn">Upload a profile image</button>
                              <input
                                type="file"
                                class="form-control"
                                name="profile_image"
                                :class="{'is-invalid': form.errors.has('first_name') }"
                                @change="setImage"
                              >
                              <has-error :form="form" field="profile_image"></has-error>
                            </div>
                          </div>
                        </div>
                      </label>
                      <div class="row">
                        <div ref="cropperContainer" class="col" style="display: none;">
                          <vue-cropper
                            ref="cropper"
                            alt="image cropper"
                            :src="preview_image_src"
                            :aspect-ratio="2/2"
                            :view-mode="2"
                            :zoomable="false"
                            :min-crop-box-height="30"
                            :min-crop-box-width="30"
                            style="height: 300px; width: auto; max-width: 500px;"
                          >
                          </vue-cropper>
                        </div>
                      </div>
                      <div v-if="user.id != 1" class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="first_name">First Name (optional)</label>
                            <input
                              name="first_name"
                              type="text"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('first_name') }"
                              id="first_name"
                              placeholder="First Name"
                              v-model="form.first_name"
                            >
                            <has-error :form="form" field="first_name"></has-error>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="last_name">Last Name (optional)</label>
                            <input
                              name="last_name"
                              type="text"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('last_name') }"
                              id="last_name"
                              placeholder="Last Name"
                              v-model="form.last_name"
                            >
                            <has-error :form="form" field="last_name"></has-error>
                          </div>
                        </div>
                      </div>

                      <div v-if="user.id != 1" class="form-group row mt-4">
                        <div class="col-lg-12">
                          <h5>About Me</h5>
                        </div>
                        <div class="col-lg-12">
                          <textarea
                            name="about_me"
                            class="form-control"
                            cols="50"
                            rows="4"
                            :class="{'is-invalid': form.errors.has('about_me') }"
                            id="about_me"
                            placeholder="Say something about yourself"
                            v-model="form.about_me"
                          ></textarea>
                          <has-error :form="form" field="about_me"></has-error>
                        </div>
                      </div>

                      <div class="form-group row mt-4" v-if="$gate.isInfluencer()">
                        <div class="col-lg-12">
                          <h5>Let's Text About (What people can message you about)</h5>
                        </div>
                        <div class="col-lg-12">
                          <textarea
                            name="talk_about"
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('talk_about') }"
                            id="talk_about"
                            placeholder="Talk About"
                            v-model="form.talk_about"
                          ></textarea>
                          <has-error :form="form" field="talk_about"></has-error>
                        </div>
                      </div>

                      <div class="form-group row" v-if="!$gate.isInfluencer()">
                        <div class="col-lg-12">
                          <router-link :to="{ name: 'application'}">Apply as an Influencer</router-link>
                        </div>
                      </div>

                      <input
                        type="submit"
                        value="SAVE PROFLE CHANGES"
                        class="edit-profile-vue mt-5 btn btn-success"
                      >
                    </form>
                  </div>
                  <!-- comment end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>


<script>
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  components: {
    loading,VueCropper
  },
  data() {
    return {
      imageSize: 0,
      show: false,
      user: [],
      form: new VuForm({
        id: "",
        first_name: "",
        last_name: "",
        tagline: "",
        about_me: "",
        talk_about: "",
        profile_image: "",
        profile_privacy: 1,
        content_category_id: ""
      }),
      preview_image_src: "",
      getcategorys: [],
      adminData: [],
      cropImg: ""
    };
  },
  methods: {
    getImage() {
      return "/images/uploads/";
    },
    updateUser() {
      if (this.imageSize >= 2048) {
          toast({
            type: "error",
            title: "Image size is too large"
          });
      } else {
        this.cropImage();
        this.show = true;
        this.$Progress.start();
        this.form
          .put("/api/profile/" + this.form.id)
          .then(
            response => {
              this.user = this.form;
              this.$Progress.finish();
              this.show = false;
              this.$refs.cropperContainer.style.display = "none";
              this.loadUsers();
              toast({
                type: "success",
                title: "Update successfully"
              });
            },
            err => {
              this.$Progress.fail();
              this.show = false;
              this.$refs.cropperContainer.style.display = "none";
              if (err && err.response) {
                toast({
                  type: "error",
                  title: err.response.data.message
                });
              }
            }
          )
          .catch(err => {
            this.$Progress.fail();
            this.show = false;
            console.log("Caught", err);
            toast({
              type: "error",
              title: "Someting wrong plese try again!"
            });
          });
      }
    },
    loadUsers() {
      this.show = true;
      this.$Progress.start();
      axios
        .get("/api/profile")
        .then(
          response => {
            this.user = response.data;
            this.form.fill(response.data);
            this.preview_image_src = "/images/uploads/" + this.form.profile_image;
            this.$Progress.finish();
            this.show = false;
          },
          err => {
            this.$Progress.fail();
            this.show = false;

            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }

            if (err.response.status == 401) {
              window.auth_user = null;
              window.location.href = "/login";
            }

            if (err.response.status == 403) {
              toast({
                  type: "error",
                  title: err.response.data.message
                });
            }


          }
        )
        .catch(e => {
          this.$Progress.fail();
          this.show = false;

          console.log("Caught", e);
        });
    },
    getCategory() {
      this.$Progress.start();
      this.show = true;

      axios
        .get("/api/categoryes")
        .then(
          response => {
            this.show = false;
            this.$Progress.finish();
            this.getcategorys = response.data;
          },
          err => {
            this.$Progress.fail();
            this.show = false;
            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }
          }
        )
        .catch(e => {
          this.$Progress.fail();
          this.show = false;
          console.log("Caught", e);
        });
    },
    getSuperAdmin() {
      this.$Progress.start();
      axios.get("/api/admin_influencer_application").then(
        response => {
          this.adminData = response.data;
          this.$Progress.finish();
        },
        response => {
          this.$Progress.fail();
        }
      );
    },
    setImage: function(e) {
      const file = e;
      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.preview_image_src = event.target.result;
          this.$refs.cropper.replace(event.target.result);
          this.$refs.cropperContainer.style.display = "block";
        };
        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    cropImage: function() {
      this.form.profile_image = this.$refs.cropper.getCroppedCanvas().toDataURL();
    }
  },

  mounted() {
    console.log("Component mounted.");
    this.loadUsers();
    this.getCategory();
    this.getSuperAdmin();
    document.title = user.username + " - JiveMo"
  }
};
</script>
