<template>
  <div>
    <div class="hero-image-wrapper py-lg-5 py-md-5 py-sm-3 py-3">
      <div class="hero-image mx-auto row py-lg-5 px-lg-5 py-md-4 px-md-4 px-sm-3 py-sm-3 px-3 py-3">
        <div class="col-lg-12 py-lg-5 py-md-5 py-sm-4 py-3">
          <h1>Bond with your fans with text messaging.</h1>
          <h3>Charge a recurring fee to let fans text message you directly.</h3>
          <p class="mt-3">
            <strong>No extra apps needed</strong> and your phone number is kept private.
          </p>
          <router-link
            :to="{name:'faqs'}"
            class="btn btn-success px-3 mt-3 mb-4 py-2"
          >Learn More</router-link>
        </div>
      </div>
    </div>

    <div class="jivemo-support margin-top">
      <div class="jivemo-support-outer-wrapper">
        <div class="support-container">
          <div class="jivemo-support-inner-wrapper">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="jivemo-support-single-section">
                  <div class="jivemo-support-single-section-wrapper">
                    <div class="image text-center">
                      <img src="images/support1.png" alt="support">
                    </div>
                    <div class="jivemo-support-details">
                      <h4>Get Paid to Text</h4>
                      <p>Fans pay to text you. You choose how much to charge per month.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="jivemo-support-single-section">
                  <div class="jivemo-support-single-section-wrapper">
                    <div class="image text-center">
                      <img src="images/support2.png" alt="support">
                    </div>
                    <div class="jivemo-support-details">
                      <h4>Privacy Built In</h4>
                      <p>New phone numbers are created for you & fans to maintain everyone's privacy</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="jivemo-support-single-section">
                  <div class="jivemo-support-single-section-wrapper">
                    <div class="image text-center">
                      <img src="images/support3.png" alt="support">
                    </div>
                    <div class="jivemo-support-details">
                      <h4>Message Control</h4>
                      <p>Choose how many fans can text you and send either SMS or MMS messages.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="jivemo-support-single-section">
                  <div class="jivemo-support-single-section-wrapper">
                    <div class="image text-center">
                      <img src="images/support4.png" alt="support">
                    </div>
                    <div class="jivemo-support-details">
                      <h4>Simple To Use</h4>
                      <p>No separate app to download. Simply text from your phone like usual.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jivemo-work">
      <div class="jivemo-work-outer-wrapper">
        <div class="work-container">
          <div class="jivemo-work-inner-wrapper">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="jivemo-work-lft">
                  <div class="heading">
                    <h2>How it works?</h2>
                  </div>
                  <div class="jivemo-work-lft-single-section">
                    <ol>
                      <li class="circle">
                        <h4>Create a Texting Package</h4>
                        <span>Choose how many people you want to allow to text you, the number of messages to be exchanged and how much it will cost per month.</span>
                      </li>
                      <li class="circle">
                        <h4>Fans Subscribe to Your Texting Package</h4>
                        <span>Your fans purchase your texting package through your Jivemo profile page.</span>
                      </li>
                      <li class="circle">
                        <h4>Start Texting with Your Fans</h4>
                        <span>We verify fans' phone numbers and create new phone numbers for you to text securely with your fans.</span>
                      </li>
                      <li class="circle">
                        <h4>Get Paid</h4>
                        <span>At the end of the month Jivemo pays you out for all your subscribed fans minus fees.</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="jivemo-img-ryt text-center">
                  <img src="images/example_conversation.png" alt="jivemo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="$store.getters.homePackage.length" class="jivemo-our-influcers">
      <div class="jivemo-our-influcers-outer-wrapper">
        <div class="influcers-container">
          <div class="jivemo-our-influcers-inner-wrapper">
            <div class="heading">
              <h4>Our Influencers</h4>
            </div>
            <div class="row">
              <div
                class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
                v-for="influencer in $store.getters.homePackage"
              >
                <div class="profile">
                  <div class="profile-img">
                    <router-link
                      :to="{ name: 'profile', params: { username: influencer.username }}"
                    >
                      <img
                        v-bind:src="'/images/uploads/'+influencer.profile_image"
                        alt="User profile"
                      >
                    </router-link>
                  </div>
                  <div class="about-profile">
                    <strong>{{ influencer.first_name }} {{ influencer.last_name }}</strong>
                    <span v-if="influencer.content_type">{{ influencer.content_type.name }}</span>
                    <router-link
                      :to="{ name: 'profile', params: { username: influencer.username }}"
                    >See Bio</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="call-to-action-outer-wrapper">
        <div class="call-to-action-container">
          <div class="call-to-action-inner-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading">
                  <h3>Are you an Influencer?</h3>
                  <p
                    class="text-white"
                  >Currently Jivemo is in closed beta and selecting influencers to work with. To join the waitlist and learn more click below.</p>
                </div>
                <div class="btn btn-lg text-truncate">
                  <router-link :to="{name:'faqs'}" class="text-white">Read FAQs</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      influencers: []
    };
  },
  methods: {
    getData() {
      // check chef list from store
      if (
        this.$store.getters.homePackage &&
        this.$store.getters.homePackage.length
      ) {
        return;
      }

      this.$Progress.start();
      axios.get("api/home").then(
        response => {
          //store data
          this.$store.commit("assignHomePackage", response.data.influencer);

          this.$Progress.finish();
        },
        response => {
          this.$Progress.fail();
        }
      );
    }
  },
  mounted() {
    console.log("home page Component mounted.");
    // this.getData();
  }
};
</script>
