<template>
  <div>
    <loading :show="show"></loading>
    <div
      class="edit-profile-wrapper hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3"
      v-if="!$gate.isInfluencer()"
    >
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page row pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container1" id="ajax-content">
                      <div id="packages" class style>
                        <div class="manage-packages-section">
                          <div class="manage-title">
                            <h4>Apply As Influencer</h4>
                          </div>
                          <div class="manage-not-applied">
                            <div class="view-profile p-2 mt-1" v-if="!form.id">Status: Not Applied</div>
                            <div class="view-profile p-2 mt-1" v-if="form.id">Status: Pending Review</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="edit private-profile mt-5" v-if="isEdit || !form.id">
                      <p>
                        <strong>In order to make money texting you must apply to become an Influencer on JiveMo. Each application is approved on a case-by-case basis. Please fill out the below information to apply.</strong>
                      </p>
                      <form id="jivemoSocial" @submit.prevent="submitApplication()">
                        <!-- instagram link -->
                        <div class="form-group row">
                          <div class="col-lg-12">
                            <label for>Instagram Link</label>
                          </div>
                          <div class="col-lg-7">
                            <input
                              name="instagram_url"
                              type="text"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('instagram_url') || errors.has('instagram_url') }"
                              id="instagram_url"
                              placeholder="Link to your Instagram page"
                              v-model="form.instagram_url"
                              v-validate="'required'"
                            >
                            <span
                              v-show="errors.has('instagram_url')"
                              class="help is-invalid"
                            >{{ errors.first('instagram_url') }}</span>
                            <has-error :form="form" field="instagram_url"></has-error>
                          </div>
                        </div>

                        <!-- Twitter Link -->
                        <div class="form-group row">
                          <div class="col-lg-12">
                            <label for>Twitter Link 1</label>
                          </div>
                          <div class="col-lg-7">
                            <input
                              name="twitter_url"
                              type="text"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('twitter_url') || errors.has('twitter_url') }"
                              id="twitter_url"
                              placeholder="Link to your Twitter page"
                              v-model="form.twitter_url"
                              v-validate="'required'"
                            >
                            <span
                              v-show="errors.has('twitter_url')"
                              class="help is-invalid"
                            >{{ errors.first('twitter_url') }}</span>
                            <has-error :form="form" field="twitter_url"></has-error>
                          </div>
                        </div>

                        <!-- Facebook link -->
                        <div class="form-group row">
                          <div class="col-lg-12">
                            <label for>Facebook Link</label>
                          </div>
                          <div class="col-lg-7">
                            <input
                              name="facebook_url"
                              type="text"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('facebook_url') || errors.has('facebook_url') }"
                              id="facebook_url"
                              placeholder="Link to your Instagram page"
                              v-model="form.facebook_url"
                              v-validate="'required'"
                            >
                            <span
                              v-show="errors.has('facebook_url')"
                              class="help is-invalid"
                            >{{ errors.first('facebook_url') }}</span>

                            <has-error :form="form" field="facebook_url"></has-error>
                          </div>
                        </div>

                        <!-- How do you plane used -->
                        <div class="form-group row mt-4">
                          <div class="col-lg-12">
                            <h5>How you plan to use JiveMo</h5>
                          </div>
                          <div class="col-lg-12">
                            <textarea
                              name="description"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('description') || errors.has('description') }"
                              id="description"
                              placeholder="Describe the type of messages you can send fans and how you plan to use the messaging system"
                              v-model="form.description"
                              v-validate="'required'"
                            ></textarea>
                            <span
                              v-show="errors.has('description')"
                              class="help is-invalid"
                            >{{ errors.first('description') }}</span>
                            <has-error :form="form" field="description"></has-error>
                          </div>
                        </div>

                        <!-- Verification Image -->
                        <div class="varification-images form-group row mt-4">
                          <div class="col-lg-12">
                            <h5>Verification Image</h5>
                            <span>Attach a selfie image of yourself holding a handwritten sign that says “[your username] is applying for JiveMo”. This way we can verify your identity</span>
                          </div>
                          <div class="col-lg-4">
                            <input 
                              type="file" 
                              name="verification_image" 
                              @change="updateImage"
                              class="form-control"
                              :class="{'is-invalid': form.errors.has('verification_image') || errors.has('verification_image') }"
                              v-validate="'required'"
                              >
                            
                            <span v-show="errors.has('verification_image')" class="help is-invalid">{{ errors.first('verification_image') }}</span>
                            <has-error :form="form" field="verification_image"></has-error>

                            <strong>ATTACH IMAGE</strong>
                            <div class v-if="form.verification_image">

                              <div class="col-4" v-if="form.verification_image">
                                <img
                                  v-if="form.verification_image.length < 50"
                                  v-bind:src="'/images/uploads/'+ form.verification_image"
                                  class="img-thumbnail"
                                >
                                <img
                                  v-if="form.verification_image.length > 50"
                                  v-bind:src="form.verification_image"
                                  class="img-thumbnail"
                                >
                              </div>

                              
                            </div>

                            <has-error :form="form" field="verification_image"></has-error>
                          </div>
                        </div>

                        <input
                          type="submit"
                          value="SUBMIT APPLICATION"
                          class="edit-profile-vue mt-5 btn btn-success text-white"
                        >
                      </form>
                    </div>

                    <div class="edit private-profile" v-if="!isEdit && form.id > 0">
                      <!-- Instagram Link change -->
                      <div class="edit instagram-change">
                        <h5>Instagram Link</h5>
                        <span>{{form.instagram_url }}</span>
                      </div>

                      <!-- Twitter Link change -->
                      <div class="edit instagram-change mt-4">
                        <h5>Twitter Link</h5>
                        <span>{{form.twitter_url }}</span>
                      </div>

                      <!-- Facebook Link change -->
                      <div class="edit instagram-change mt-4">
                        <h5>Facebook Link</h5>
                        <span>{{form.facebook_url}}</span>
                      </div>

                      <!-- Instagram Link change -->
                      <div class="edit instagram-change mt-4">
                        <h5>How you plan to use JiveMo</h5>
                        <span>{{form.description}}</span>
                      </div>

                      <!-- Verification Image change -->
                      <div class="edit instagram-change mt-4">
                        <h5>Verification Image</h5>
                        <div class="col-4" v-if="form.verification_image">
                          <img
                            v-if="form.verification_image.length < 50"
                            v-bind:src="'/images/uploads/'+ form.verification_image"
                            class="img-thumbnail"
                          >
                          <img
                            v-if="form.verification_image.length > 50"
                            v-bind:src="form.verification_image"
                            class="img-thumbnail"
                          >
                        </div>
                      </div>

                      <div class="edit edit-application mt-5">
                        <a href="javascript:void(0)" @click="editApplication">
                          <strong>Edit Application</strong>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b efore-footer"></div>
    </div>

    <div class v-if="$gate.isInfluencer()">
      <page-not-found></page-not-found>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    loading
  },
  data() {
    return {
      isEdit: false,
      show: false,
      form: new VuForm({
        id: '',
        twitter_url: "",
        facebook_url: "",
        instagram_url: "",
        description: "",
        verification_image: ""
      })
    };
  },
  methods: {
    updateImage(e) {
      console.log("uploading");
      let file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = file => {
        this.form.verification_image = reader.result;
      };
      reader.onerror = error => console.log(error);
    },
    submitApplication() {
      this.$validator
        .validateAll({
          twitter_url: this.form.twitter_url,
          instagram_url: this.form.instagram_url,
          facebook_url: this.form.facebook_url,
          description: this.form.description,
          verification_image: this.form.verification_image
        })
        .then(result => {
          if (result) {
            this.show = true;
            this.$Progress.start();
            if (!this.form.id)
              this.form.post("/api/application").then(
                ({ data }) => {
                  this.show = false;
                  this.form.fill(data);
                  this.$Progress.finish();
                  this.isEdit = false;

                  toast({
                    type: "success",
                    title: "Application Submited Successfully"
                  });
                },
                response => {
                  this.show = false;
                  this.$Progress.fail();
                  toast({
                    type: "error",
                    title: response.response.data.message
                  });

                  if (response.response.status == 401) {
                    window.auth_user = null;
                    window.location.href = "/login";
                  }

                  if (err.response.status == 403) {
                    toast({
                        type: "error",
                        title: err.response.data.message
                      });
                  }


                }
              );

            if (this.form.id)
              this.form.put("/api/application/" + this.form.id).then(
                ({ response }) => {
                  // this.form.fill(response);
                  this.show = false;
                  this.$Progress.finish();
                  this.isEdit = false;
                  toast({
                    type: "success",
                    title: "Application Update Successfully"
                  });
                },
                response => {
                  this.show = false;
                  this.$Progress.fail();
                  toast({
                    type: "error",
                    title: response.response.data.message
                  });
                }
              );
          } else {
            // eslint-disable-next-line
            toast({
              type: "error",
              title: "Please check all input erros"
            });
          }
        });
    },
    checkApplication() {
      this.show = true;
      this.$Progress.start();
      axios.get("/api/application").then(
        ({ status, data }) => {
          this.show = false;
          this.$Progress.finish();
          if (data) {
            toast({
              type: "success",
              title: "Already Submited"
            });
            this.form.fill(data);
            this.show = false;
            this.$Progress.finish();
          } else {
            this.isEdit = true;
          }
        },
        response => {
          this.$Progress.fail();
          this.show = false;
          toast({
            type: "error",
            title: response.response.data.message
          });
        }
      );
    },
    editApplication() {
      this.isEdit = true;
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.checkApplication();
  }
};
</script>
