<template>
  <div>
    <div class="edit-profile-wrapper hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page row pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="jivemo-our-influcers">
                      <div class="jivemo-our-influcers-outer-wrapper">
                        <div class="influcers-container">
                          <div class="jivemo-our-influcers-inner-wrapper">
                            <div class="search-influencer-wrapper">
                              <div class="container">
                                <h2>Influencer search</h2>
                                <div id="custom-search-input">
                                  <div class="input-group col-md-12">
                                    <input
                                      name="influencer_name"
                                      type="text"
                                      class="form-control input-lg"
                                      id="influencer_name"
                                      placeholder="Influencer Name"
                                      v-model="influencer_name"
                                      @keyup="getInfluencerName"
                                    >
                                    <span class="input-group-btn">
                                      <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                      </button>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5"
                                v-for="influencer in influencers.data"
                              >
                                <div class="row">
                                  <div class="col-lg-3 col-md-3 col-4">
                                    <div class="influencer-images">
                                      <router-link
                                        :to="{ name: 'profile', params: { username: influencer.username }}"
                                      >
                                        <img
                                          v-bind:src="'/images/uploads/'+influencer.profile_image"
                                          alt="User profile"
                                        >
                                      </router-link>
                                    </div>
                                  </div>
                                  <div class="col-lg-9 col-md-9 col-8">
                                    <div class="influencer-details">
                                      <router-link
                                        :to="{ name: 'profile', params: { username: influencer.username }}"
                                      >
                                        <h3>{{ influencer.first_name }} {{ influencer.last_name }}</h3>
                                      </router-link>
                                      <h6>{{ influencer.tagline }}</h6>
                                      <span>{{ influencer.about_me }}</span>
                                      <br>
                                      <router-link
                                        :to="{ name: 'profile', params: { username: influencer.username }}"
                                      >Details</router-link>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="text-center col mt-5"
                                v-if="influencers.data && !influencers.data.length"
                              >
                                <h4 class="title">No Result found</h4>
                              </div>

                              <pagination :data="influencers" @pagination-change-page="getResults">
                                <span slot="prev-nav">&lt; Previous</span>
                                <span slot="next-nav">Next &gt;</span>
                              </pagination>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="before-footer"></div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>



<script>
export default {
  data() {
    return {
      influencers: {},
      influencer_name: ""
    };
  },
  methods: {
    getData() {
      this.$Progress.start();
      axios.get("api/influencer").then(
        response => {
          this.influencers = response.data.influencer;
          this.$Progress.finish();
        },
        response => {
          this.$Progress.fail();
        }
      );
    },
    getResults(page = 1) {
      this.$Progress.start();
      axios.get("/api/influencer?page=" + page).then(
        response => {
          this.influencers = response.data.influencer;
          this.$Progress.finish();
        },
        response => {
          this.$Progress.fail();
        }
      );
    },
    getInfluencerName() {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
      this.timer = setTimeout(() => {
        this.$Progress.start();
        axios.get("/api/influencer?name=" + this.influencer_name).then(
          response => {
            this.influencers = response.data.influencer;
            this.$Progress.finish();
          },
          response => {
            this.$Progress.fail();
          }
        );
      }, 1000);
    }
  },
  mounted() {
    console.log("home page Component mounted.");
    this.getData();
  }
};
</script>
