<template>
  <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
    <loading :show="show"></loading>
    <div class="row">
      <div class="jivemo-profile-bottom package-page phone-page pb-4 col">
        <div
          class="jivemo-profile-bottom-outer-wrapper phone-page signup mx-auto col-11 pb-lg-5 pb-md-4 pb-sm-4 pb-3"
        >
          <div class="profile-bottom-container">
            <div class="jivemo-profile-bottom-inner-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
              <div class="row">
                <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12 mx-auto">
                  <h3 class="text-dark col mx-auto">Login</h3>
                  <div class="message-packages signup">
                    <div class="middle signup right p-4 mt-lg-0 mt-md-0 mt-sm-4 mt-4">
                      <form
                        id="JimevoRegister"
                        method="POST"
                        action="/login"
                        role="form"
                        @submit.prevent="Login"
                      >
                        <div class="form-group">
                          <input
                            name="email"
                            type="text"
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('email') || errors.has('email') }"
                            id="email"
                            placeholder="Username / Email"
                            v-model="form.email"
                            v-validate="'required'"
                          >
                          <has-error :form="form" field="email"></has-error>
                          <span
                            v-show="errors.has('email')"
                            class="help is-invalid"
                          >Username or Email field required</span>
                        </div>

                        <!-- password -->
                        <div class="form-group">
                          <input
                            name="password"
                            type="password"
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('password') || errors.has('password') }"
                            id="password"
                            placeholder="Password"
                            v-model="form.password"
                            v-validate="'required'"
                          >
                          <has-error :form="form" field="password"></has-error>
                          <span
                            v-show="errors.has('password')"
                            class="help is-invalid"
                          >Password Required</span>
                        </div>

                        <div class="forgot-password">
                          <a href="/password/reset">Forgot Password?</a>
                        </div>

                        <div class="forgot-password">
                          <a href="/register">Don't have an account? Sign Up</a>
                        </div>

                        <input type="submit" value="Log In">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>


<script>
export default {
  components: { loading },
  data() {
    return {
      show: false,
      form: new VuForm({
        email: null,
        password: null
      })
    };
  },
  methods: {
    Login() {
      this.$validator
        .validateAll({
          email: this.form.email,
          password: this.form.password
        })
        .then(result => {
          if (result) {
            show: true, this.$Progress.start();
            this.form
              .post("/login")
              .then(
                response => {
                  if (response.status == 200) {
                    toast({
                      type: "success",
                      title: response.data.message
                    });

                    //set user object
                    window.auth_user = response.data.auth_user;
                    // this.$router.push({ path: response.data.redirect });
                    if (this.$route.query.redirect) {
                      //   this.$router.push({ path: this.$route.query.redirect });
                      location = this.$route.query.redirect;
                    } else {
                      //   this.$router.push({ path: response.data.redirect });
                      location = response.data.redirect;
                    }
                    // location.reload();
                  }
                  this.$Progress.finish();
                  this.show = false;
                },
                err => {
                  this.$Progress.fail();
                  this.show = false;
                  if (err && err.response) {
                    toast({
                      type: "error",
                      title: err.response.data.message
                    });
                  }
                  if (err.response.status == 404) {
                    location.href = "/404";
                  }
                }
              )
              .catch(e => {
                this.show = false;
                this.$Progress.fail();
                console.log("Caught", e);
              });
          } else {
            toast({
              type: "error",
              title: "Please check all input erros"
            });
          }
        });
    }
  },
  created() {
    console.log("Login view created");
  }
};
</script>

