<template>
  <div>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container">
                      <div id="tab1" class="tab_content" style="display: block;">
                        <ul class="heading">
                          <li>Payout</li>
                        </ul>
                        <div>
                          <hr>
                          <div>
                            <div>
                              <strong>Payout Method:</strong>

                              <span v-if="user.payout_email">
                                <br>
                                Paypal: {{ user.payout_email }}
                              </span>
                              <a
                                href="javascript:void(0)"
                                v-on:click="isHidden = false"
                                v-if="user.payout_email"
                                class="pull-right payment-method-up ml-3"
                              >Update Payout Info</a>
                              <a
                                href="javascript:void(0)"
                                v-on:click="isHidden = false"
                                v-if="!user.payout_email"
                                class="pull-right payment-method-up ml-3"
                              >
                                <strong>Add Payment Method</strong>
                              </a>
                            </div>

                            <div v-if="!isHidden" class="payment-method mt-1">
                              <form id="JimevoPayout2" @submit.prevent="JimevoPayout()">
                                <div class="form-group row">
                                  <div class="col-lg-5 col-md-5 col-12">
                                    <input
                                      name="payout_email"
                                      type="email"
                                      class="form-control"
                                      :class="{'is-invalid': form.errors.has('payout_email') }"
                                      placeholder="Payout email address"
                                      id="payout_email"
                                      v-model="form.payout_email"
                                      value="1"
                                      :maxlength="70"
                                      maxlength="70"
                                    >
                                  </div>
                                  <div class="col-lg-5 col-md-5 col-12">
                                    <select
                                      class="form-control"
                                      name="payout_method"
                                      id="payout_method"
                                      v-model="form.payout_method"
                                      placeholder="Select method"
                                    >
                                      <option value="paypal" selected="selected">Paypal</option>
                                    </select>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-12">
                                    <input
                                      type="submit"
                                      value="Update"
                                      class="edit-profile-vue btn btn-success"
                                    >
                                  </div>
                                </div>
                              </form>
                            </div>

                            <div class="mt-5">
                              <strong>Current Balance:</strong>
                              <br>
                              <span
                                class="info-box-number"
                              >${{ income }}( ${{ (fee).toFixed(2) }} in Fees Next Payout {{ date_to }} )</span>
                            </div>
                          </div>
                        </div>

                        <hr>
                        <ul class="heading">
                          <li>Past Payout:</li>
                        </ul>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <th class="text-left">Period</th>
                              <th class="text-left">Income</th>
                              <th class="text-left">Fees</th>
                              <th class="text-left">Amount</th>
                              <th class="text-left">Status</th>
                              <th class="text-left">Date</th>
                            </thead>
                            <tbody v-if="payouts">
                              <tr v-for="payout in payouts">
                                <td class="text-left">{{ payout['period'] }}</td>
                                <td class="text-left">${{ payout['amount'] }}</td>
                                <td class="text-left">${{ payout['fee'] }}</td>
                                <td class="text-left">${{ payout['income'] }}</td>
                                <td class="text-left" v-if="payout['status'] == 1">Paid</td>
                                <td class="text-left" v-else>Not Paid</td>
                                <td class="text-left">{{ payout['created_at'] }}</td>
                              </tr>
                            </tbody>
                            <tbody v-else>
                              <tr>
                                <td colspan="4" class="text-center">No items found.</td>
                              </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                          </table>
                        </div>
                      </div>

                      <!-- total count -->
                      <div v-if="false" class="row">
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-4">
                          <div class="info-box mb-3">
                            <div class="info-box-content">
                              <strong>Total Transcation</strong>
                              <br>
                              <span class="info-box-number">${{ (total_transcation).toFixed(2) }}</span>
                            </div>
                          </div>
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-4">
                          <div class="info-box mb-3">
                            <div class="info-box-content">
                              <strong>Complete Payout</strong>
                              <br>
                              <span class="info-box-number">${{ (complete_payout).toFixed(2) }}</span>
                            </div>
                          </div>
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-4">
                          <div class="info-box mb-3">
                            <div class="info-box-content">
                              <strong>Next Payout</strong>
                              <br>
                              <span class="info-box-number">${{ (oncomplete_complete).toFixed(2) }}</span>
                            </div>
                          </div>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- end totral -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-margin before-footer"></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      payouts: [],
      user: {},
      isHidden: true,
      total_transcation: 0,
      complete_payout: 0,
      oncomplete_complete: 0,
      income: 0,
      fee: 0,
      revenue: 0,
      date_from: "",
      date_to: "",
      form: new VuForm({
        id: "",
        payout_email: "",
        payout_method: "paypal"
      })
    };
  },
  methods: {
    getpayouts() {
      this.$Progress.start();
      axios.get("/api/payout").then(
        response => {
          this.payouts = response.data.payouts;
          this.user = response.data.user;
          this.form.id = response.data.user.id;
          this.form.payout_email = response.data.user.payout_email;
          this.form.payout_method = response.data.user.payout_method;
          this.total_transcation = response.data.total_transcation;
          this.complete_payout = response.data.complete_payout;
          this.oncomplete_complete = response.data.oncomplete_complete;
          this.income = response.data.income;
          this.fee = response.data.fee;
          this.revenue = response.data.revenue;
          this.date_from = response.data.date_from;
          this.date_to = response.data.date_to;
          this.$Progress.finish();
        },
        error => {
          this.$Progress.fail();

          if (error.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }
        }
      );
    },
    // getpayoutsPagination(page = 1) {
    //   this.$Progress.start();
    //   axios.get("/api/payout?page=" + page).then(
    //     response => {
    //       this.payouts = response.data.payouts;
    //       this.user = response.data.user;
    //       this.form.id = response.data.user.id;
    //       this.$Progress.finish();
    //     },
    //     response => {
    //       this.$Progress.fail();
    //     }
    //   );
    // },
    JimevoPayout() {
      this.show = true;
      this.$Progress.start();
      this.form
        .put("/api/payout/" + this.form.id)
        .then(
          response => {
            this.user = this.form;
            this.$Progress.finish();
            this.show = false;
            toast({
              type: "success",
              title: "Update successfully"
            });
          },
          err => {
            this.$Progress.fail();
            this.show = false;
            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }
          }
        )
        .catch(err => {
          this.$Progress.fail();
          this.show = false;
          console.log("Caught", err);
          toast({
            type: "error",
            title: "Someting wrong plese try again!"
          });
        });
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.getpayouts();
  }
};
</script>
