<template>
<div>
    <loading :show="show"></loading>
    <div class="hero-image-wrapper pt-5">
      <div class="mx-auto row">
        <div class="jivemo-profile-inner-wrapper col-11 mx-auto">

          <!--image-->
          <div class="row justify-content-center">
            <div style="margin-bottom: -90px; z-index: 999">
              <img
                v-bind:src="'/images/uploads/'+ user.profile_image"
                v-bind:alt="user.first_name"
                class="rounded-circle user-img"
                v-if="user.profile_image"
                v-show="user && user.profile_image"
                style="border: solid 5px #fff;"
              >
              <img v-else src="/images/user-icons.png" class="rounded-circle user-img" style="border: solid 5px #fff;">
            </div>
          </div>

          <!-- jivemo-profile-bottom -->
          <div class="jivemo-profile-bottom col-12 mx-auto mt-4">
            <div class="jivemo-profile-bottom-outer-wrapper mb-5 p-4">
              <div class="jivemo-profile-bottom-inner-wrapper py-5">

                  <div class="row justify-content-center">
                    <div class="col" style="text-align: center;">
                      <h3 style="color: #111; display: block;">{{user.username}} <img src="/images/tick.svg" style="width: 30px; height: auto;" v-if="user.is_influencer" /></h3>
                        <div v-if="user.is_influencer">
                          <span>Let's Text About&nbsp;</span>
                          <span v-if="(''+user.talk_about).length > 100 && readmore.about == false">
                            {{ user.talk_about | truncate(90, '...') }} <a style="cursor: pointer; color: #3BAAFC;" v-on:click="readmoreAbout()">Read more</a>
                          </span>
                          <span v-else-if="(''+user.talk_about).length > 100 && readmore.about == true">
                            {{ user.talk_about }} <a style="cursor: pointer; color: #3BAAFC;" v-on:click="readmoreAbout()">Less</a>
                          </span>
                          <span v-else>
                            {{ user.talk_about }}
                          </span>
                          <br><br>
                          <h4 style="color: #546775; display: block;">SELECT A TEXTING PACKAGE</h4>
                          <a href="">Learn How Texting Works</a>
                        </div>
                    </div>
                  </div>

                  <br>

                  <div class="row justify-content-center">
                    <div v-for="(packageitem, index) in user.packages" class="col-3" style="min-width: 300px; border: solid 1px #B0B0B0; font-size: 16px; line-height: 32px; margin: 10px; padding: 10px;">
                      <div style="color: #4B5B6A; text-align: center;">
                        <h3 style="color: black; font-size: 32px;">{{ packageitem.name }}</h3>
                        <h2 style="color: black; font-size: 44px; margin-top: 20px;">${{ packageitem.fee}}</h2>
                        <h4 style="color: black; font-size: 24px;">PER MONTH</h4>
                        <span>Send and receive <strong style="color: #111;">{{packageitem.no_of_message}}</strong> Messages per month</span><br>
                        <span><strong style="color: #111;">{{ packageitem.max_person - packageitem.subscribers_count}}</strong> out of <strong style="color: #111;">{{packageitem.max_person}}</strong> remaining.</span>
                        <hr>
                        <div style="color: #111; text-align: center;">
                          <span v-if="(package_descriptions[index].description).length > 100 && package_descriptions[index].readmore == false">
                            {{ package_descriptions[index].description | truncate(100, '...') }}  <a style="cursor: pointer; color: #3BAAFC;" v-on:click="readmorePackage(index)">Read more</a>
                          </span>
                          <span v-else-if="(package_descriptions[index].description).length > 100 && package_descriptions[index].readmore == true">
                            {{ package_descriptions[index].description }} <a style="cursor: pointer; color: #3BAAFC;" v-on:click="readmorePackage(index)">Less</a>
                          </span>
                          <span v-else>
                            {{ package_descriptions[index].description }}
                          </span>
                        </div>
                        <br>
                        <div style="border: solid 1px #ccc; background: #E7ECF0; text-align: center; padding: 10px 0px;" v-if="$gate.getUserId() !== user.id && packageitem.subscribers_count <= packageitem.max_person">
                          <router-link v-if="packageitem.max_person > packageitem.subscribers_count" :to="{ name: 'checkout', params: { id: packageitem.id }}" style="color: #112D42;"><strong>JOIN THIS PACKAGE</strong></router-link>
                            <a style="color: #E11111;" v-else><strong>SOLD OUT</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br>

                  <div class="row justify-content-center" v-if="user.is_influencer">
                    <div class="col-3" style="min-width: 300px; text-align: center;">
                      <h4 style="color: #546775; display: block;">ABOUT {{user.username}}</h4>
                      <div style="border: solid 1px #B0B0B0; padding: 10px;">
                        <p v-if="(''+user.about_me).length > 100 && readmore.about_me == false">{{ user.about_me | truncate(140, '...') }} <a style="cursor: pointer; color: #3BAAFC;" v-on:click="readmoreAboutMe()">Read more</a></p>
                        <p v-else-if="(''+user.about_me).length > 100 && readmore.about_me == true">{{ user.about_me }} <a style="cursor: pointer; color: #3BAAFC;" v-on:click="readmoreAboutMe()">Less</a></p>
                        <p v-else>{{ user.about_me }}</p>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="before-footer"></div>


</div>
</template>

<script>
export default {
  components: {
    loading
  },
  data() {
    return {
      show: false,
      user: [],
      readmore: {
        about: false,
        about_me: false
      },
      package_descriptions: [],
      package_readmore: []
    };
  },
  methods: {
    readmoreAbout: function() {
        this.readmore.about = !this.readmore.about;
    },
    readmoreAboutMe: function() {
        this.readmore.about_me = !this.readmore.about_me;
    },
    readmorePackage: function(index) {
      this.package_descriptions[index].readmore = !this.package_descriptions[index].readmore;
    },
    loadUsers() {
      this.$Progress.start();
      axios.get("/api/profile/" + this.$route.params.username).then(
        response => {
          this.user = response.data;
          setTimeout(() => document.title = "Text Message "+ this.user.username +" - JiveMo", 1000);
          for(var i=0; i<(this.user.packages).length; i++) {
            const data = {
              description: this.user.packages[i].description,
              readmore: false
            }
            this.package_descriptions.push(data);
          }

          this.$Progress.finish();
          this.show = false;
        },
        response => {
          this.$Progress.fail();
          this.show = false;
          if ((response.status = 404)) {
            window.auth_user = null;
            window.location.href = "/login";
          }
          Swal("Oops", response.message, "error");
        }
      );
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.show = true;
    this.loadUsers();
  }
};
</script>
<style  scoped>
@media (min-width: 768px) {
  .sidebar-about-me {
    max-width: 30%;
  }
  .sidebar-how-it-works {
    max-width: 20%;
  }
}
</style>