<template>
  <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
    <div class="mx-auto">
      <div class="jivemo-profile-inner-wrapper col-11 mx-auto">
        <div class="jivemo-profile-top">
          <div class="row ryt">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
              <div class="image" v-if="user && user.profile_image">
                <img
                  v-bind:src="'/images/uploads/'+user.profile_image"
                  alt="User profile"
                  class="col"
                >
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
              <div class="row mt-lg-5 mt-sm-2 mt-2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="middle">
                    <h3>{{ user.first_name }} {{ $route.params.username }}</h3>
                    <p>{{ user.tagline }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jivemo-profile-bottom package-page phone-page pb-4 mt-4">
        <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
          <div class="profile-bottom-container">
            <div class="jivemo-profile-bottom-inner-wrapper pb-4">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <tab-list></tab-list>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                  <div class="middle signup">
                    <form id="JimevoRegister" @submit.prevent="updateUser()">
                      <div class="form-group">
                        <label for="first_name">First Name (optional)</label>
                        <input
                          name="first_name"
                          type="text"
                          class="form-control"
                          :class="{'is-invalid': form.errors.has('first_name') }"
                          id="first_name"
                          placeholder="First Name"
                          v-model="form.first_name"
                        >
                        <has-error :form="form" field="first_name"></has-error>
                      </div>

                      <div class="form-group">
                        <label for="last_name">Last Name (optional)</label>
                        <input
                          name="last_name"
                          type="text"
                          class="form-control"
                          :class="{'is-invalid': form.errors.has('last_name') }"
                          id="last_name"
                          placeholder="Last Name"
                          v-model="form.last_name"
                        >
                        <has-error :form="form" field="last_name"></has-error>
                      </div>

                      <div class="form-group">
                        <label for="tagline">Tag Line</label>
                        <input
                          name="tagline"
                          type="text"
                          class="form-control"
                          :class="{'is-invalid': form.errors.has('tagline') }"
                          id="tagline"
                          placeholder="Tag Line"
                          v-model="form.tagline"
                        >
                        <has-error :form="form" field="tagline"></has-error>
                      </div>

                      <div class="form-group">
                        <label for="about_me">About Me</label>
                        <textarea
                          name="about_me"
                          class="form-control"
                          :class="{'is-invalid': form.errors.has('about_me') }"
                          id="about_me"
                          placeholder="About Me"
                          v-model="form.about_me"
                        ></textarea>
                        <has-error :form="form" field="about_me"></has-error>
                      </div>

                      <div class="form-group">
                        <label for="talk_about">Talk About</label>
                        <textarea
                          name="talk_about"
                          class="form-control"
                          :class="{'is-invalid': form.errors.has('talk_about') }"
                          id="talk_about"
                          placeholder="Talk About"
                          v-model="form.talk_about"
                        ></textarea>
                        <has-error :form="form" field="talk_about"></has-error>
                      </div>

                      <div class="form-group">
                        <label for="profile_image">Profile Image</label>
                        <input type="file" name="profile_image" @change="updateImage">
                        <has-error :form="form" field="profile_image"></has-error>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Save" class="m-0">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: [],
      imageSize: 0,
      form: new VuForm({
        id: "",
        first_name: "",
        last_name: "",
        tagline: "",
        about_me: "",
        talk_about: "",
        profile_image: ""
      })
    };
  },
  methods: {
    getImage() {
      return "/images/uploads/";
    },
    updateImage(e) {
      console.log("uploading");
      let file = e.target.files[0];
      this.imageSize = Math.round(file.size/1024);
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = file => {
        this.form.profile_image = reader.result;
      };
      reader.onerror = error => console.log(error);
    },
    updateUser() {
      if (this.imageSize >= 2048) {
          toast({
            type: "error",
            title: "Image size is too large"
          });
      } else {
      this.$Progress.start();
      this.form
        .put("/api/profile/" + this.form.id)
        .then(
          response => {
            this.user = this.form;
            this.$Progress.finish();
            toast({
              type: "success",
              title: "Update successfully"
            });
          },
          err => {
            this.$Progress.fail();
            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }
          }
        )
        .catch(err => {
          this.$Progress.fail();
          console.log("Caught", err);
          toast({
            type: "error",
            title: "Someting wrong plese try again!"
          });
        });
      }
    },
    loadUsers() {
      this.$Progress.start();
      axios
        .get("/api/profile")
        .then(
          response => {
            this.user = response.data;
            this.form.fill(response.data);
            this.$Progress.finish();
          },
          err => {
            this.$Progress.fail();
            if (err && err.response) {
              toast({
                type: "error",
                title: err.response.data.message
              });
            }
          }
        )
        .catch(e => {
          this.$Progress.fail();
          console.log("Caught", e);
        });
    }
  },

  mounted() {
    console.log("Component mounted.");
    this.loadUsers();
    document.title = user.username + " - JiveMo"
  }
};
</script>
