<template>
  <div>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container">
                      <div id="tab1" class="tab_content" style="display: block;">
                        <ul class="heading">
                          <li>Reported Users:</li>
                        </ul>
                        <div class="table-responsive">
                          <table class="table connection">
                            <thead>
                              <tr class="user">
                                <td>Username</td>
                                <td>Date</td>
                                <td>Action</td>
                              </tr>
                            </thead>
                            <tbody v-if="reportedusers.data">
                                <tr v-if=" reporteduser.user "  v-for="reporteduser in reportedusers.data">
                                  <td><router-link :to="{ name: 'profile', params: { username: reporteduser.user.username }}">{{ reporteduser.user.username  }}</router-link></td>
                                  <td>{{ reporteduser.created_at  }}</td>
                                  <td>
                                    
                                    <a href="javascript:void(0)"  data-container="body" data-toggle="popover" data-placement="top" :data-content="reporteduser.message">Message</a>

                                    
                                  </td>
                                </tr>
                                <tr v-else >
                                  <td>User Not Found</td>
                                  <td></td>
                                </tr>
                              
                                
                                <pagination :data="reportedusers" @pagination-change-page="getReportedUserPagination">
                                  <span slot="prev-nav">&lt; Previous</span>
                                  <span slot="next-nav">Next &gt;</span>
                                </pagination>
                              </tbody>
                              <tbody v-else >
                                <tr>
                                  <td colspan="4" class="text-center">No items found.</td>
                                </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-margin before-footer"></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      reportedusers: {}
    };
  },
  methods: {
    getReportedUser() {
      this.$Progress.start();
      axios.get("/api/report").then(
        response => {
          this.reportedusers = response.data;
          this.$Progress.finish();
          $(function () {
            $('[data-toggle="popover"]').popover()
          })
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }

          if (err.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }
        }
      );
    },
    getReportedUserPagination(page = 1) {
      this.$Progress.start();
      axios.get("/api/report?page=" + page).then(
        response => {
          this.reportedusers = response.data;
          this.$Progress.finish();
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }

          if (err.response.status == 401) {
            this.$router.push({ path: "/login" });
          }
        }
      );
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.getReportedUser();

  }
};
</script>
