<template>
  <div>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container">
                      <div id="tab1" class="tab_content" style="display: block;">
                        <ul class="heading">
                          <li>Transactions:</li>
                        </ul>
                        <div class="table-responsive">
                          <table class="table connection">
                            <thead>
                              <tr class="user">
                                <td>Date</td>
                                <td>Payout</td>
                                <td>Amount</td>
                              </tr>
                            </thead>
                            <tbody v-if="transactions.data">
                              <tr v-for="transaction in transactions.data">
                                <td>{{ transaction.created_at }}</td>
                                <td>{{ transaction.transaction_type.name }}</td>
                                <td v-if="transaction.user.is_influencer">+{{ transaction.amount }}</td>
                                <td v-if="!transaction.user.is_influencer">-{{ transaction.amount }}</td>
                              </tr>
                            </tbody>
                            <tbody v-if="transactions.data && transactions.data.length == 0">
                              <tr>
                                <td colspan="4" class="text-center">No items found.</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="4">
                                  <pagination
                                    :data="transactions"
                                    @pagination-change-page="getTransactionsPagination"
                                  >
                                    <span slot="prev-nav">&lt; Previous</span>
                                    <span slot="next-nav">Next &gt;</span>
                                  </pagination>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-margin before-footer"></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      transactions: {}
    };
  },
  methods: {
    getTransactions() {
      // check chef list from store
      if (
        this.$store.getters.transactions &&
        this.$store.getters.transactions.data
      ) {
        this.transactions = this.$store.getters.transactions;
        return;
      }

      this.$Progress.start();
      axios.get("/api/transactions").then(
        response => {
          this.transactions = response.data;
          this.$Progress.finish();

          this.$store.commit("setTransactions", response.data);
        },
        response => {
          this.$Progress.fail();
        }
      );
    },
    getTransactionsPagination(page = 1) {
      this.$Progress.start();
      axios.get("/api/transactions?page=" + page).then(
        response => {
          this.transactions = response.data;
          this.$Progress.finish();
        },
        response => {
          this.$Progress.fail();
        }
      );
    }
  },
  mounted() {
    console.log("Component mounted.");
    this.getTransactions();
  }
};
</script>
