<template>
  <div>
    <loading :show="show"></loading>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="jivemo-profile-bottom package-page phone-page pb-4 mt-4">
        <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
          <div class="profile-bottom-container">
            <div class="jivemo-profile-bottom-inner-wrapper pb-4">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <tab-list></tab-list>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                  <div class="message-packages">
                    <div class="middle phone-page">
                      <h4 v-if="!form.is_verified">Verify Your Phone to Starting Texting</h4>
                      <h4 v-if="update">Verify Your Phone to Starting Texting</h4>
                      <form @submit.prevent="savePhone" v-if="!form.is_verified">
                        <span>Cell Phone Number</span>
                        <input
                          type="number"
                          placeholder="Your Phone Number"
                          class="form-control"
                          :class="{'is-invalid': form.errors.has('phone_no') }"
                          v-model="form.phone_no"
                          required
                        >

                        <has-error :form="form" field="phone_no"></has-error>
                        <p>Once your phone has been verified you’ll be able to send & receive text messages using your cell phone. Your real phone number is kept private and a new number will be created for texting purposes.</p>
                        <input type="submit" class="vfc-code" value="Send Verification Code">
                      </form>
                    </div>
                    <div class="middle phone-page" v-if="!form.is_verified">
                      <form @submit.prevent="codeVerify">
                        <input type="hidden" name="phone" v-model="form.phone_no">
                        <span>Enter Verification Code</span>
                        <input
                          type="text"
                          placeholder="Verification Code"
                          v-model="codeForm.code"
                          required
                        >
                        <input type="submit" class="submit-code" value="Submit Code">
                      </form>
                    </div>
                    <div class="middle phone-page" v-if="form.is_verified">
                      <h4>Your Phone Number is Verified</h4>
                      <p>Your Number: {{form.phone_no | MaskPhoneNumbers }} {{ $route.change }}</p>
                      <a class="btn btn-primary text-white" @click="changePhone">Change Number</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>
<script>
export default {
  components: { loading },
  data() {
    return {
      show: false,
      update: false,
      form: new VuForm({
        id: null,
        phone_no: null,
        is_verified: false
      }),
      codeForm: new VuForm({
        code: null
      })
    };
  },
  methods: {
    changePhone() {
      this.form.is_verified = false;
    },
    getPhone() {
      this.show = true;
      this.$Progress.start();

      axios.get("/api/phone").then(
        response => {
          if (response.data) this.form.fill(response.data);

          this.$Progress.finish();
          this.show = false;
        },
        response => {
          this.$Progress.fail();
          this.show = false;
          if (response.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }
        }
      );
    },
    savePhone() {
      this.show = true;
      this.$Progress.start();
      var that = this;
      if (!this.form.id)
        this.form.post("/api/phone").then(
          response => {
            this.$Progress.finish();
            this.show = false;
            toast({
              type: "success",
              title: response.data.message
            });

            if (response.status == 200) {
              that.form.fill(response.data.phone);
              console.log(that.form);
            }
          },
          response => {
            this.$Progress.fail();
            this.show = false;
          }
        );
      if (this.form.id) {
        this.show = true;
        this.$Progress.start();

        this.form.put("/api/phone/" + this.form.id).then(
          response => {
            this.$Progress.finish();
            this.show = false;
            toast({
              type: "success",
              title: response.data.message
            });
          },

          response => {
            this.$Progress.fail();
            this.show = false;
            toast({
              type: "error",
              title: response.response.data.message
            });

            if (response.response.status == 401) {
              window.auth_user = null;
              window.location.href = "/login";
            }
          }
        );
      }
    },
    codeVerify() {
      this.show = true;
      this.$Progress.start();

      this.codeForm.put("/api/phone/" + this.form.id).then(
        response => {
          this.$Progress.finish();
          this.show = false;
          toast({
            type: "success",
            title: response.data.message
          });

          this.form.phone_no = response.data.phone.phone_no;
          this.form.is_verified = response.data.phone.is_verified;

          this.$gate.updatePhoneVerify(1);

          if (this.$route.query.next) {
            this.$router.push({ name: this.$route.query.next });
          }
        },
        response => {
          toast({
            type: "error",
            title: response.response.data.message
          });
          this.$Progress.fail();
          this.show = false;
          if (response.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }
        }
      );
    }
  },

  created() {
    console.log("message page loaded");
    this.getPhone();
    console.log(this.$route.params.length, this.$router.params);
    if (this.$route.params.length && this.$router.params.change == 1) {
      this.update = true;
    }
  }
};
</script>
