<template>
  <div>
    <div class="hero-image-wrapper pt-lg-5 pt-md-4 pt-sm-4 pt-3">
      <div class="mx-auto">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper connection-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
                    <div class="tab_container">
                      <div id="tab1" class="tab_content" style="display: block;">
                        <ul class="heading">
                          <li>Connections</li>
                          <li
                            v-if="false"
                            :class="{ 'active': activeTab == 'active' }"
                            @click="tabActive('active')"
                          >Active</li>
                          <li
                            v-if="false"
                            :class="{ 'active': activeTab == 'deactive' }"
                            @click="tabActive('deactive')"
                          >De-Activated</li>
                        </ul>
                        <div class="table-responsive">
                          <table class="table connection">
                            <thead>
                              <tr class="user">
                                <td>Username</td>
                                <td>Phone</td>
                                <td>Messages</td>
                                <td>Status</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="c-row" v-for="connection in connections.data">
                                <td>
                                  <router-link
                                    :to="{ name:'profile', params:{'username' : connection.username} }"
                                  >{{ connection.username |capitalize }}</router-link>
                                </td>
                                <td>{{ connection.phone }}</td>
                                <td>
                                  {{ connection.total_message_count}}/{{ connection.msg_limit }}
                                </td>
                                <td>
                                  {{ connection.status }}
                                  <span v-if="connection.is_active == 1">(renews on {{connection.next_payment_date}})</span>
                                  <span v-if="connection.is_active == 0">(ends on {{connection.next_payment_date}})</span>
                                </td>
                              </tr>
                            </tbody>
                            <tbody v-if="connections.data && !connections.data.length">
                              <tr>
                                <td colspan="4" class="text-center border-bottom">No items found.</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-margin before-footer"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeTab: "active",
      connections: {}
    };
  },
  methods: {
    tabActive(tab) {
      this.activeTab = tab;
      $(".c-row").hide();
      if (tab == "active") {
        $("tr.active").show();
        $("tr.deactive").hide();
      } else {
        $("tr.active").hide();
        $("tr.deactive").show();
      }
    },
    getConnections() {
      if (
        this.$store.getters.connections &&
        this.$store.getters.connections.data
      ) {
        this.connections = this.$store.getters.connections;
        this.tooltipInit();
        return;
      }

      this.$Progress.start();
      axios.get("/api/connection").then(
        response => {
          this.connections = response.data;
          this.$Progress.finish();

          //store data
          this.$store.commit("setConnections", response.data);

          this.tooltipInit();
        },
        err => {
          this.$Progress.fail();

          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }

          if (err.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }
        }
      );
    },
    getResults(page = 1) {
      this.$Progress.start();
      axios.get("/api/connection?page=" + page).then(
        response => {
          this.connections = response;
          this.$Progress.finish();
        },
        err => {
          this.$Progress.fail();

          if (err && err.response) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }

          if (err.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }
          
        }
      );
    },
    tooltipInit() {
      $(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    }
  },

  mounted() {
    console.log("Component mounted.");
    if (!this.$gate.isPhoneVerified()) {
      this.$router.push({
        name: "verify_phone",
        query: { next: "connection" }
      });
      toast({
        type: "warning",
        title: "Please verify your phone number"
      });
    } else {
      this.getConnections();
      Fire.$on("AfterCreated", () => {
        this.getConnections();
      });
    }
  }
};
</script>
