<template>
  <div>
    <loading :show="show"></loading>
    <div class="hero-image-wrapper pt-5">
      <div class="mx-auto row">
        <div class="jivemo-profile-bottom package-page phone-page pb-4">
          <div class="jivemo-profile-bottom-outer-wrapper message-page col-11 mx-auto">
            <div class="profile-bottom-container">
              <div class="jivemo-profile-bottom-inner-wrapper pb-4">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                    <tab-list></tab-list>
                  </div>
                  <div class="col-lg-6 col-md-10 col-sm-10 col-12">
                    <div class="message-packages">
                      <div class="middle msg-page" v-if="connection && connection.message_with">
                        <h5 v-if="!is_connection">
                          Messages With
                          <username
                            v-if="connection.message_with.first_name"
                          >{{connection.message_with.first_name}} {{connection.message_with.last_name }}</username>
                          <username v-else>{{connection.message_with.username}}</username>
                        </h5>
                        <h5 v-if="is_connection">
                          Messages With
                          <username
                            v-if="connection.message_with.first_name"
                          >{{connection.message_with.first_name}} {{connection.message_with.last_name }}</username>
                          <username v-else>{{connection.message_with.username}}</username>
                        </h5>

                        <form @submit.prevent="createMessage">
                          <span>Cell Phone Number</span>
                          <textarea
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('message') }"
                            id="message"
                            placeholder="First Name"
                            v-model="form.message"
                            name="message"
                          ></textarea>
                          <has-error :form="form" field="message"></has-error>

                          <input
                            type="hidden"
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('conneciton_id') }"
                            id="conneciton_id"
                            placeholder="First Name"
                            v-model="form.conneciton_id"
                            name="conneciton_id"
                          >
                          <input
                            type="hidden"
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('sender_id') }"
                            id="sender_id"
                            placeholder="First Name"
                            v-model="form.sender_id"
                            name="sender_id"
                          >
                          <input
                            type="hidden"
                            class="form-control"
                            :class="{'is-invalid': form.errors.has('receiver_id') }"
                            id="receiver_id"
                            placeholder="First Name"
                            v-model="form.receiver_id"
                            name="receiver_id"
                          >

                          <input type="submit" class="msg" value="Send Messages">
                        </form>
                      </div>
                      <div class="middle msg-page mt-5">
                        <div class="older-msg" v-for="msg in messages.data">
                          <div class="top">
                            <a v-if="msg.sender_id == 1">{{'JiveMoAdmin' | capitalize}}</a>
                            <a v-else-if="msg.sender_id == $gate.getUserId()">{{'You' | capitalize}}</a>
                            <a
                              v-else-if="msg.sender_id != $gate.getUserId() && msg.sender_id !== 1"
                              class="sender mid"
                            >
                              <b
                                v-if="msg.sender.first_name"
                              >{{msg.sender.first_name | capitalize}} {{msg.sender.last_name | capitalize}}</b>
                              <b v-else>{{msg.sender.username | capitalize}}</b>
                            </a>
                            <strong
                              v-if="msg.sender_id == $gate.getUserId() && !$gate.isInfluencer()"
                            ></strong>
                            <span>{{msg.created_at |humanize }}</span>
                            <div>
                              <p>{{ msg.message }}</p>
                            </div>
                          </div>
                        </div>

                        <input
                          v-if="messages.current_page != messages.last_page"
                          type="submit"
                          class="msg btm"
                          value="See Older Messages"
                          @click="getOlderMessage"
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <!-- user details -->
                    <div class="how-it-works phone-page right msg-page mb-5">
                      <div class="how-it-works-single-section msg-page">
                        <div v-if="connection && connection.message_with" class="img">
                          <div class="image msg-page">
                            <img
                              v-bind:src="'/images/uploads/'+ connection.message_with.profile_image"
                              v-bind:alt="connection.message_with.first_name"
                              class="rounded-circle user-img"
                              v-if="connection.message_with.profile_image"
                            >
                            <img
                              v-else
                              src="/images/user-icons.png"
                              class="rounded-circle user-img"
                            >
                          </div>
                        </div>
                        <div class="prf-detail" v-if="connection &&  connection.message_with">
                          <span v-if="is_connection">
                            <username
                              v-if="connection.message_with.first_name"
                            >{{connection.message_with.first_name}} {{connection.message_with.last_name }}</username>
                            <username v-else>{{connection.message_with.username}}</username>
                          </span>
                          <span v-if="!is_connection">
                            <username
                              v-if="connection.message_with.first_name"
                            >{{connection.message_with.first_name}} {{connection.message_with.last_name }}</username>
                            <username v-else>{{connection.message_with.username}}</username>
                          </span>

                          <br>
                          <strong v-if="is_connection">{{ connection.message_with.phone_number }}</strong>
                          <strong v-if="!is_connection">{{ connection.message_with.phone_number }}</strong>
                          <p
                            v-if="is_connection"
                          >{{ connection.message_with.about_me | truncate(100, '...') }}</p>
                          <p
                            v-if="!is_connection"
                          >{{ connection.message_with.about_me | truncate(100, '...') }}</p>

                          <div class="block-user">
                            <!-- Report Section -->
                            <span
                              v-if="!is_already_reported"
                              data-toggle="modal"
                              data-target="#ReportUser"
                              data-whatever="@mdo"
                            >Report User</span>
                            <span v-if="is_already_reported">Reported</span>

                            <div
                              v-if="!is_already_reported"
                              class="modal fade"
                              id="ReportUser"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="ReportUserLabel"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <form @submit.prevent="ReportUser()">
                                    <div class="modal-header">
                                      <h5
                                        class="modal-title"
                                        id="ReportUserLabel"
                                      >Reason: Why Report Your ?</h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="form-group">
                                        <textarea
                                          name="message"
                                          class="form-control"
                                          cols="50"
                                          rows="4"
                                          :class="{'is-invalid': form.errors.has('message') || errors.has('message') }"
                                          id="message"
                                          placeholder="Message:"
                                          v-model="report.message"
                                          v-validate="'required'"
                                        ></textarea>
                                        <span
                                          v-show="errors.has('message')"
                                          class="help is-invalid"
                                        >{{ errors.first('message') }}</span>
                                        <has-error :form="form" field="message"></has-error>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"
                                      >Close</button>
                                      <input
                                        type="submit"
                                        value="Report"
                                        class="btn btn-primary edit-profile-vue"
                                      >
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- end Report -->
                            <!-- Block User -->
                            <span
                              v-if="!is_already_blocked"
                              data-toggle="modal"
                              data-target="#BlockUser"
                              data-whatever="@mdo"
                            >Block User</span>
                            <span v-if="is_already_blocked">Blocked</span>
                            <div
                              v-if="!is_already_blocked"
                              class="modal fade"
                              id="BlockUser"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="BlockUserLabel"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5
                                      class="modal-title"
                                      id="BlockUserLabel"
                                    >Reason: Why Block Your ?</h5>
                                    <button
                                      type="button"
                                      class="close"
                                      data-dismiss="modal"
                                      aria-label="Close"
                                    >
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form @submit.prevent="BlockUser()">
                                    <div class="modal-body">
                                      <div class="form-group">
                                        <textarea
                                          name="message"
                                          class="form-control"
                                          cols="50"
                                          rows="4"
                                          :class="{'is-invalid': form.errors.has('message') || errors.has('message') }"
                                          id="message"
                                          placeholder="Message:"
                                          v-model="blockuser.message"
                                          v-validate="'required'"
                                        ></textarea>
                                        <span
                                          v-show="errors.has('message')"
                                          class="help is-invalid"
                                        >{{ errors.first('message') }}</span>
                                        <has-error :form="form" field="message"></has-error>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"
                                      >Close</button>
                                      <input
                                        type="submit"
                                        value="Block User"
                                        class="btn btn-primary"
                                      >
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- end Block User -->
                          </div>
                        </div>
                      </div>
                    </div>

                    <how-it-works></how-it-works>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="before-footer"></div>
  </div>
</template>
<script>
export default {
  components: { loading },
  data() {
    return {
      show: false,
      connection: {},
      messages: {},
      is_already_reported: false,
      is_already_blocked: false,
      is_connection: false,
      is_connectin_disable: false,
      page: 1,
      lastMessage: null,
      form: new VuForm({
        message: null,
        sender_id: null,
        receiver_id: null,
        connection_id: null
      }),
      report: new VuForm({
        reported_user_id: "",
        message: ""
      }),
      blockuser: new VuForm({
        block_user_id: "",
        message: ""
      })
    };
  },
  methods: {
    getConnection() {
      return false;
      this.show = true;
      this.$Progress.start();

      axios.get("/api/connection/" + this.$route.params.connection).then(
        response => {
          this.connection = response.data;

          this.messages = this.connection.messages;
          this.form.connection_id = this.connection.id;
          if (this.$gate.isInfluencer()) {
            this.form.sender_id = this.connection.seller_id;
            this.form.receiver_id = this.connection.user_id;
          } else {
            this.form.sender_id = this.connection.user_id;
            this.form.receiver_id = this.connection.seller_id;
          }

          this.report.reported_user_id = this.connection.seller_id;
          this.blockuser.block_user_id = this.connection.seller_id;
          this.is_connectin_disable = this.connection.is_active;

          this.is_already_reported = this.connection.extra_data.reported.is_already_reported;
          this.is_already_blocked = this.connection.extra_data.blocked.is_already_blocked;
          this.is_connection = this.connection.extra_data.is_connection.is_connection;

          //check the connection
          if (this.connection.is_active != 1) {
            Swal("Oops", "Your connection is Disconnected ", "error");
            this.$router.push("/");
          }

          //assign frist message id
          if (this.messages.data && this.messages.data.length > 0) {
            this.lastMessage = this.messages.data[0].id;
          }

          this.$Progress.finish();
          this.show = false;
        },
        response => {
          this.$Progress.fail();
          this.show = false;
          Swal("Oops", response.response.data.message, "error");

          if (response.response.status == 401) {
            window.auth_user = null;
            window.location.href = "/login";
          }

          if (err.response.status == 403) {
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
        }
      );
    },
    createMessage() {
      this.show = true;
      this.$Progress.start();

      this.form.post("/api/message").then(
        response => {
          this.$Progress.finish();
          this.show = false;
          this.form.message = "";
          Fire.$emit("MessageCreated");
          toast({
            type: "success",
            title: response.data.message
          });
          if (response.data.user_balance) {
            $(".userBlanace").text(response.data.user_balance.toFixed(2));
          }
        },
        response => {
          this.$Progress.fail();
          this.show = false;
          Swal("Oops", response.response.data.message, "error");
          if (response.data.user_balance) {
            $(".userBlanace").text(response.data.user_balance.toFixed(2));
          }
        }
      );
    },
    getLatestMessage() {
      return false;
      this.$Progress.start();
      this.show = true;
      axios
        .get(
          "/api/message/?last=" +
            this.lastMessage +
            "&conn=" +
            this.form.connection_id
        )
        .then(
          response => {
            let oldMsg = this.messages.data,
              newMsg = response.data.data;

            this.messages = response.data;
            this.messages.data = newMsg.concat(oldMsg);

            if (this.messages.data.length > 0) {
              this.lastMessage = this.messages.data[0].id;
            }

            this.$Progress.finish();
            this.show = false;
          },
          response => {
            this.$Progress.fail();
            this.show = false;
          }
        );
    },
    getOlderMessage() {
      this.$Progress.start();
      this.show = true;
      let nextPage = parseInt(this.messages.current_page) + 1;
      axios
        .get(
          "/api/message/?page=" + nextPage + "&conn=" + this.form.connection_id
        )
        .then(
          response => {
            let oldMsg = this.messages.data,
              newMsg = response.data.data;

            this.messages = response.data;
            this.messages.data = oldMsg.concat(newMsg);

            this.$Progress.finish();
            this.show = false;
          },
          response => {
            this.$Progress.fail();
            this.show = false;
          }
        );
    },
    ReportUser() {
      this.$Progress.start();
      this.report.post("/api/report").then(
        response => {
          this.$Progress.finish();
          $("#ReportUser").modal("hide");
          this.is_already_reported = true;
          toast({
            type: "success",
            title: "Success"
          });
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            $("#ReportUser").modal("hide");
            this.is_already_reported = false;
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
        }
      );
    },
    BlockUser() {
      this.$Progress.start();
      this.blockuser.post("/api/blockuser").then(
        response => {
          this.$Progress.finish();
          $("#BlockUser").modal("hide");
          this.is_already_blocked = true;
          toast({
            type: "success",
            title: "Success"
          });
        },
        err => {
          this.$Progress.fail();
          if (err && err.response) {
            $("#BlockUser").modal("hide");
            this.is_already_blocked = false;
            toast({
              type: "error",
              title: err.response.data.message
            });
          }
        }
      );
    }
  },

  created() {
    console.log("message page loaded");
    if (!this.$gate.isPhoneVerified()) {
      this.$router.push({
        name: "verify_phone",
        query: { next: "connection" }
      });
      toast({
        type: "warning",
        title: "Please verify your phone number"
      });
    } else {
      this.getConnection();
      Fire.$on("MessageCreated", () => {
        this.getLatestMessage();
      });
    }
  }
};
</script>
